<div class="page-wrapper">
  <div class="content container-fluid">
    <main>
      <div class="card margin-card">
        <div class="card-body">
          <div class="page-header main-page-header d-flex align-items-center justify-content-between">
            <div class="main-page-title page-title playerbackground">
              <i class="fa-solid fa-users" aria-hidden="true"></i>
              All Teams
              <div class="totalrecord">: {{ totalData }}</div>
            </div>
            <div class="col-md-2 d-flex align-items-center gap-3 dropdown-right me-2">
              <p-dropdown *ngIf="isClientShow" [options]="clientData" optionLabel="client_name" optionValue="client_id"
                [(ngModel)]="client_id" (ngModelChange)="gridLoad()" placeholder="Client Id" [filter]="true"
                appendTo="body" class=" w-100 
                 drop-error header-drop">
                <ng-template let-Client pTemplate="item">
                  <div>
                    <div>{{ Client.client_name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
            <div class="d-flex align-items-center">

              <!-- Search Form -->
              <form class="d-flex align-items-center  gap-2" (submit)="gridLoad()">
                <div class="p-input-icon-right flex-grow-1">
                  <!-- <i class="pi pi-search" ></i> -->
                  <input pInputText type="text" [(ngModel)]="searchKeyword" name="searchKeyword" class="width-search"
                    placeholder="  Search" (input)="filterGlobal()"
                    (keydown.enter)="$event.preventDefault(); filterGlobal()" (keypress)="blockQuotesOnly($event)"
                    (input)="sanitizeQuotesOnly('Search', $event)">
                </div>

                <button type="button" class="clear-button" (click)="searchKeyword = ''; filterGlobal();">
                  Clear
                </button>
              </form>

              <div class="card flex justify-center">
                <button *ngIf="!ShowForm" class="new-button p-button-text" (click)="resetForm()"
                  (click)="showAddForm()">
                  <i class="fas fa-plus"></i> Create</button>
              </div>
            </div>

          </div>

          <p-table #dt [value]="teamData" [styleClass]="'custom-table'"
            [globalFilterFields]="['team_name','age_category','team_category','gender','record_status']">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="team_name">
                  <div class="d-flex justify-content-between align-items-center w-100">
                    Team Name
                    <p-sortIcon field="team_name"></p-sortIcon>
                  </div>
                </th>
                <th>
                  <div class="d-flex justify-content-between align-items-center w-100">
                    Age Group
                    <p-sortIcon field="age_category" pSortableColumn="age_category"></p-sortIcon>
                  </div>
                </th>
                <th>
                  <div class="d-flex justify-content-between align-items-center w-100">
                    Format
                    <p-sortIcon field="team_category" pSortableColumn="team_category"></p-sortIcon>
                  </div>
                </th>
                <th>
                  <div class="d-flex justify-content-between align-items-center w-100">
                    Gender
                    <p-sortIcon field="gender" pSortableColumn="gender"></p-sortIcon>
                  </div>
                </th>
                <th>
                  <div class="d-flex justify-content-between align-items-center w-100">
                    Status
                    <p-sortIcon field="record_status" pSortableColumn="record_status"></p-sortIcon>
                  </div>
                </th>
                <th class="custom-header action-column-header">Actions</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-teams>
              <tr>
                <td>
                  <span class="person-image-team-player">
                    <img class="player-img" *ngIf="teams.profile_img==null || teams.profile_img==''"
                      [src]="default_img">

                    <img class="player-img" *ngIf="teams.profile_img!=null  && teams.profile_img!=''"
                      [src]="teams.profile_img" (error)="handleImageError($event, default_img)">
                  </span>
                  <span class="groundnameover name-space" (click)="onViewteam(teams.team_id)">
                    {{ teams.team_name}}</span>

                </td>
                <td>{{ teams.age_category }}</td>
                <td>{{ teams.team_category }}</td>
                <td>{{ teams.gender }}</td>
                <td>
                  <span [ngClass]="{
                        ' bg-success': teams.record_status === 'Active',
                        ' bg-danger': teams.record_status === 'InActive'
                      }">
                    {{ teams.record_status }}
                  </span>
                </td>
                <td>
                  <span class="icon-blue" (click)="EditTeam(teams.team_id)" pTooltip="Edit" tooltipPosition="top">
                    <i class="fa-solid fa-user-pen"></i>
                  </span>

                  <!-- <span class="icon-green"
                    (click)="StatusConfirm(teams.team_id,conditionConstants.active_status,teams.record_status)"
                    pTooltip="Activate" tooltipPosition="top">
                    <i class="fa-solid fa-circle-check"></i>
                  </span>

                  <span class="icon-red"
                    (click)="StatusConfirm(teams.team_id,conditionConstants.deactive_status,teams.record_status)"
                    pTooltip="Deactivate" tooltipPosition="top">
                    <i class="fa-solid fa-trash-can-arrow-up"></i>
                  </span> -->
                  <span (click)="StatusConfirm(teams.team_id,
                         teams.record_status === 'Active'? 
                         { key: 'inactive', label: 'deactivate' }: { key: 'active', label: 'activate' } )"
                    [pTooltip]="teams.record_status === 'Active' ? 'Deactivate' : 'Activate'" tooltipPosition="top"
                    style="cursor: pointer;" [ngClass]="teams.record_status === 'Active' ? 'icon-red' : 'icon-green'">
                    <i class="fa" [ngClass]="teams.record_status ===
                     'Active'? 'fa-solid fa-trash-arrow-up': 'fa-check-square text-success'">
                    </i>
                  </span>
                </td>

              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="10" class="text-center ">No Records Found</td>
              </tr>
            </ng-template>
          </p-table>

          <p-dialog header="Teams Details" [(visible)]="viewDialogVisible" [modal]="true" [dismissableMask]="true">
            <div class="popup-container">
              <div *ngFor="let teams of selectedTeams" class="popup-content">
                <div class="top-bar">
                  <div class="profile-image-wrapper">
                    <span class="person-image-team-player">
                      <img class="player-img Viewimg" *ngIf="teams.profile_img==null || teams.profile_img==''"
                        [src]="default_img">

                      <img class="player-img viewimg" *ngIf="teams.profile_img!=null  && teams.profile_img!=''"
                        [src]="teams.profile_img" (error)="handleImageError($event, default_img)">
                    </span>
                  </div>
                  <div class="popup-title">
                    {{ getTeamNameParts(teams['team name']).name | uppercase }}
                    <br>
                    <span style="font-weight: normal;">{{ getTeamNameParts(teams['team name']).category }}</span>
                  </div>
                  <button class="popup-close" pTooltip="Close popup" tooltipPosition="left"
                    (click)="viewDialogVisible = false" aria-label="Close popup">✖</button>
                </div>

                <section class="popup-section">
                  <h2 class="section-title"> Teams Details</h2>
                  <div class="info-row"><span class="info-label">Gender</span>
                    <span class="separator">|</span><span class="info-value">{{ teams['gender'] }}</span>
                  </div>
                  <div class="info-row"><span class="info-label">Age Group</span><span class="separator">|</span><span
                      class="info-value">{{ teams['age group'] }}</span></div>
                  <div class="info-row"><span class="info-label">Team Category</span><span
                      class="separator">|</span><span class="info-value">{{ teams['team category'] }}</span></div>

                </section>
              </div>
            </div>
          </p-dialog>

          <p-paginator [rows]="rows" [totalRecords]="totalData" [first]="(first - 1) * rows"
            [rowsPerPageOptions]="[10, 25, 50,100]" (onPageChange)="onPageChange($event)">
          </p-paginator>

        </div>
      </div>
    </main>
    <!-- STATUS Confirmation POPUP -->
    <p-confirmDialog [style]="{width: '320px'}" [baseZIndex]="10000" [draggable]="false" [closable]="false"
      [styleClass]="'p-confirm-dialog-custom'">
    </p-confirmDialog>

    <p-drawer [(visible)]="ShowForm" [baseZIndex]="10000" position="right" [showCloseIcon]="false">
      <div class="d-flex justify-content-between align-items-center mb-4 form-drawer-header">
        <div class="small-heading">
          <div *ngIf="addTeamForm.get('team_id')?.value == '' || addTeamForm.get('team_id')?.value == null">
            Add Team </div>
          <div *ngIf="addTeamForm.get('team_id')?.value != null && addTeamForm.get('team_id')?.value != ''">
            Edit Team</div>
        </div>
      </div>
      <form [formGroup]="addTeamForm">
        <div class="row gy-3">
          <div class="col-md-6">
            <label class="">Team Name
              <span class="text-danger">*</span>
            </label>
            <input class="form-control" maxlength="50" type="text" formControlName="team_name"
              (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('team_name', $event)">
            <small
              *ngIf="addTeamForm?.get('team_name')?.invalid &&(addTeamForm?.get('team_name')?.touched) || (addTeamForm.get('team_name')?.invalid && submitted)"
              class="required-msg">Team
              Name Is Required
            </small>
          </div>

          <div class="col-md-6">
            <label class="">Short Name
              <span class="text-danger">*</span>
            </label>
            <input class="form-control" maxlength="15" type="text" formControlName="team_short"
              (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('team_short', $event)">
            <small
              *ngIf="addTeamForm?.get('team_short')?.invalid &&(addTeamForm?.get('team_short')?.touched) || (addTeamForm.get('team_name')?.invalid && submitted)"
              class="required-msg">Short
              Name Is Required
            </small>
          </div>

          <div class="col-md-6">
            <label for="gender">Gender
              <span class="text-danger">*</span>
            </label>

            <p-dropdown [options]="genderList" class="drop-error " formControlName="gender_id" optionValue="config_id"
              optionLabel="config_name" placeholder="Select Gender">
              <ng-template let-gender pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <div>{{ gender.config_name }}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
            <small
              *ngIf="addTeamForm?.get('gender_id')?.invalid &&(addTeamForm?.get('gender_id')?.touched) || (addTeamForm.get('gender_id')?.invalid && submitted)"
              class="required-msg">Gender
              Is Required
            </small>
          </div>

          <div class="col-md-6">
            <label>Format Name
              <span class="text-danger">*</span>
            </label>
            <p-dropdown [options]="formatList" class="drop-error " formControlName="format_id" optionValue="config_id"
              optionLabel="config_name" placeholder="Select Format Name">
              <ng-template let-ageformat pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <div>{{ ageformat.config_name }}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
            <small
              *ngIf="addTeamForm?.get('format_id')?.invalid &&(addTeamForm?.get('format_id')?.touched) || (addTeamForm.get('format_id')?.invalid && submitted)"
              class="required-msg">Format Name
              Is Required

            </small>
          </div>
          <div class="col-md-6">
            <label>Age Group
              <span class="text-danger">*</span>
            </label>
            <p-dropdown [options]="ageGroupList" class="drop-error " formControlName="age_category_id"
              optionValue="config_id" optionLabel="config_name" placeholder="Select Age Group">
              <ng-template let-agegroup pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <div>{{ agegroup.config_name }}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
            <small
              *ngIf="addTeamForm?.get('age_category_id')?.invalid &&(addTeamForm?.get('age_category_id')?.touched) || (addTeamForm.get('age_category_id')?.invalid && submitted)"
              class="required-msg">Age Category
              Is Required
            </small>
          </div>
          <!-- <div class="col-md-6">
            <label class="">Primary Color
            </label>
            <input class="form-control" maxlength="50" type="text" 
              formControlName="primary_color" (keypress)="blockQuotesOnly($event)"
              (input)="sanitizeQuotesOnly('primary_color', $event)">
          </div>
          <div class="col-md-6">
            <label class="">Secondary Color
            </label>
            <input class="form-control" maxlength="50" type="text" 
              formControlName="secondary_color" (keypress)="blockQuotesOnly($event)"
              (input)="sanitizeQuotesOnly('secondary_color', $event)">
          </div> -->

          <div class="col-md-6">
            <label>Club ID</label>
            <span class="text-danger">*</span>
            <p-dropdown [options]="configDataList" class="drop-error " formControlName="club_id" optionValue="club_id"
              optionLabel="club_name" placeholder="Select Club Id">
              <ng-template let-club pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <div>{{ club.club_name }}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
            <small
              *ngIf="addTeamForm?.get('club_id')?.invalid &&(addTeamForm?.get('club_id')?.touched) || (addTeamForm.get('club_id')?.invalid && submitted)"
              class="required-msg"> Club ID is Required
            </small>
          </div>

          <div class="col-md-6">
            <label>Country
              <span class="text-danger">*</span>
            </label>
            <p-dropdown [options]="countriesData" class="drop-error " formControlName="country_id"
              optionValue="country_id" optionLabel="country_name" placeholder="Select Country" appendTo="self"
              [panelStyleClass]="'custom-dropdown-panel'" [filter]="true" filterBy="country_name" [showClear]="false">
              <ng-template let-country pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <div>{{ country.country_name }}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
            <small
              *ngIf="addTeamForm?.get('country_id')?.invalid &&(addTeamForm?.get('country_id')?.touched) || (addTeamForm.get('country_id')?.invalid && submitted)"
              class="required-msg">Country
              Is Required
            </small>
          </div>

          <div class="col-md-6">
            <label class="">Reference Source ID
            </label>
            <input class="form-control" maxlength="20" type="text" formControlName="reference_id"
              (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('reference_id', $event)">
          </div>

          <div class="col-md-6">
            <label>Profile Image</label>
            <div class="image-upload-container text-center">

              <div class="image-preview-wrapper">
                <button type="button" class="cancel-btn" (click)="cancel()">✕</button>
                <img [src]="filedata ? url : (profileImages ? profileImages : default_img)"
                  (error)="handleImageError($event, default_img)" alt="Profile Image" class="profile-img">
                <!-- <img  *ngIf="(filedata == null || filedata == '') && (profileImages == null || profileImages == '')"  [src]="default_img"  alt="Profile Image" class="profile-img">
                  <img  *ngIf="filedata != null && filedata != ''" [src]="url"  alt="Profile Image" class="profile-img">
                  <img  *ngIf="profileImages != null && profileImages != ''" [src]="profileImages"  (error)="handleImageError($event, default_img)" alt="Profile Image" class="profile-img"> -->
              </div>


              <div class="split-button-wrapper">
                <label for="profileImageInput" class="split-button upload-half">
                  <input type="file" id="profileImageInput" accept="image/*" (change)="fileEvent($event)" hidden
                    formControlName="team_profile" />
                  Upload
                </label>
                <button type="button" class="split-button crop-half" (click)="cropPopOpen()">
                  Crop
                </button>
              </div>
              
              <div *ngIf="imageSizeError" class="required-msg" [style]="{width:'120px'}">
                {{ imageSizeError }}
              </div>

            </div>
            <small class="text-danger" *ngIf="addTeamForm.get('profile_img')?.errors">
              * Only PNG,JPEG, or JPG files are allowed
            </small>
            <!-- Cropper Model -->
            <div *ngIf="showCropperModal" class="modal img-croper-popup">
              <div class="modal-content crop-image">
                <div class="modal-header modal-header-img">
                  <h2 style="font-size: 20px; margin-left: 38%;">Crop Image</h2>
                </div>
                <div class="modal-body img-fix">
                  <image-cropper [imageBase64]="imageBase64" [maintainAspectRatio]="true" [aspectRatio]="4 / 3"
                    (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
                    (loadImageFailed)="loadImageFailed()">
                  </image-cropper>
                </div>
                <div class="modal-footer crop-footer">
                  <button class="submit-btn margin-right save-button" (click)="saveCroppedImage()">Save</button>
                  <button class="custom-cancel-btn submit-btn margin-right" (click)="cancelImg()">Cancel</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="form-wrapper pb-5">
          <div class="row mt-4 sticky-footer-buttons">
            <div class="col-12 text-end">
              <button pButton type="button" label="Cancel" class="p-button-secondary me-3 custom-cancel-btn"
                (click)="cancelForm()"></button>

              <button pButton type="button" label="Clear" class="p-button-secondary me-3 custom-cancel-btn"
                *ngIf="addTeamForm.get('team_id')?.value == '' || addTeamForm.get('team_id')?.value == null"
                (click)="resetForm()"></button>

              <button pButton label="Save" class="save-button" (click)="onAddTeam()"></button>
            </div>
          </div>
        </div>
      </form>
    </p-drawer>

  </div>
</div>
<p-toast position="center" [baseZIndex]="11000">
  <ng-template let-message pTemplate="message">
    <div class="custom-toast-message">
      <img *ngIf="message?.data?.image" [src]="message.data.image" style="width: 40px; height: 40px" />
      <div>
        <div class="font-bold">{{ message.summary }}</div>
        <div>{{ message.detail }}</div>
      </div>
    </div>
  </ng-template>
</p-toast>