<div class="page-wrapper">
  <div class="content container-fluid">
    <main>
      <div class="card margin-card">
        <div class="card-body">
          <div class="page-header main-page-header d-flex align-items-center justify-content-between">
            <div class="main-page-title page-title playerbackground">
              <i class="material-icons">stadium</i>
              Grounds
              <div class="totalrecord">: {{ totalData }}</div>

            </div>

            <div class="col-md-2 d-flex align-items-center gap-3 dropdown-right me-2">
              <p-dropdown [options]="clientData" *ngIf="isClientShow" optionLabel="client_name" optionValue="client_id"
                [(ngModel)]="ClientID" (ngModelChange)="gridload()" placeholder="Client Id" [filter]="true"
                appendTo="body" class=" w-100 
                 drop-error header-drop">

                <ng-template let-Client pTemplate="item">
                  <div class="country-item">
                    <div>{{ Client.client_name }}</div>
                  </div>
                </ng-template>

              </p-dropdown>
            </div>

            <div class="d-flex align-items-center">
              <!-- Search Form -->
              <form class="d-flex align-items-center gap-2" (submit)="gridload()">
                <div class="p-input-icon-right flex-grow-1">
                  <!-- <i class="pi pi-search" ></i> -->
                  <input pInputText type="text" [(ngModel)]="searchKeyword" name="searchKeyword" class="width-search"
                    placeholder="Search" (input)="filterGlobal()"
                    (keydown.enter)="$event.preventDefault(); filterGlobal()" (keypress)="blockQuotesOnly($event)"
                    (input)="sanitizeQuotesOnly('Search', $event)">
                </div>

                <button type="button" class="clear-button" (click)="searchKeyword = ''; filterGlobal();">
                  Clear </button>

              </form>

              <div class="card flex justify-center">
                <button *ngIf="!ShowForm" class="new-button p-button-text" (click)="resetForm()"
                  (click)="showAddForm()">
                  <i class="fas fa-plus"></i>
                  Create </button>
              </div>
            </div>
          </div>

          <p-table #dt [value]="groundsData" [styleClass]="'custom-table'"
            [globalFilterFields]="['ground_name','country_name','state_name','city_name','record_status']">
            <ng-template pTemplate="header">
              <tr>

                <th class="col-2">
                  <div class="d-flex justify-content-between align-items-center w-100">
                    Ground Name
                    <p-sortIcon field="ground_name" pSortableColumn="ground_name">
                    </p-sortIcon>
                  </div>
                </th>
                <th class="col-2">
                  <div class="d-flex justify-content-between align-items-center w-100">
                    Country Name
                    <p-sortIcon field="country_name" pSortableColumn="country_name">
                    </p-sortIcon>
                  </div>
                </th>
                <th class="col-2">
                  <div class="d-flex justify-content-between align-items-center w-100">
                    State Name
                    <p-sortIcon field="state_name" pSortableColumn="state_name"></p-sortIcon>
                  </div>
                </th>
                <th class="col-2">
                  <div class="d-flex justify-content-between align-items-center w-100">
                    City Name
                    <p-sortIcon field="city_name" pSortableColumn="city_name"></p-sortIcon>
                  </div>
                </th>
                <th class="col-2">
                  <div class="d-flex justify-content-between align-items-center w-100">
                    Status
                    <p-sortIcon field="record_status" pSortableColumn="record_status"></p-sortIcon>
                  </div>
                </th>
                <th class="col-2" class="custom-header action-column-header">Actions</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-ground>
              <tr>
                <td>
                  <span class="person-image-team-player">
                    <img class="player-img" *ngIf="ground.profile_img==null || ground.profile_img==''"
                      [src]="default_img">

                    <img class="player-img" *ngIf="ground.profile_img!=null  && ground.profile_img!=''" [src]="ground
                        
                        .profile_img" (error)="handleImageError($event, default_img)">
                  </span>
                  <span class="groundnameover name-space" (click)="onViewGroundDetails(ground.ground_id)">
                    {{ ground.ground_name }}
                  </span>

                </td>


                <td>{{ ground.country_name }}</td>
                <td>{{ ground.state_name }}</td>
                <td>{{ ground.city_name }}</td>
                <td>
                  <span [ngClass]="{
                                    ' bg-success': ground.record_status === 'Active',
                                    ' bg-danger': ground.record_status === 'InActive'
                                  }">
                    {{ ground.record_status }}
                  </span>
                </td>
                <td>

                  <span class="icon-blue" (click)="EditGround(ground)" pTooltip="Edit" tooltipPosition="top">
                    <i class="fa-solid fa-user-pen"></i>
                  </span>
                  <span (click)="StatusConfirm(ground.ground_id,
                         ground.record_status === 'Active'? 
                         { key: 'inactive', label: 'deactivate' }: { key: 'active', label: 'activate' } )"
                    [pTooltip]="ground.record_status === 'Active' ? 'Deactivate' : 'Activate'" tooltipPosition="top"
                    style="cursor: pointer;" [ngClass]="ground.record_status === 'Active' ? 'icon-red' : 'icon-green'">
                    <i class="fa" [ngClass]="ground.record_status ===
                     'Active'? 'fa-solid fa-trash-arrow-up': 'fa-check-square text-success'">
                    </i>
                  </span>


                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="6" class="text-center">No Records Found</td>
              </tr>
            </ng-template>
          </p-table>
          <p-paginator [rows]="rows" [totalRecords]="totalData" [first]="(first - 1) * rows"
            [rowsPerPageOptions]="[10, 25, 50,100]" (onPageChange)="onPageChange($event)">
          </p-paginator>
        </div>
      </div>
    </main>


    <p-dialog header="Ground Details" [(visible)]="viewDialogVisible" [modal]="true" [dismissableMask]="true">


      <div class="popup-container" *ngFor="let ground of selectedGround">

        <!-- ✅ Top bar: Image on left, Cancel button on right -->
        <div class="top-bar">
          <div class="profile-image-wrapper">
            <span class="person-image-team-player">
              <img class="player-img Viewimg" *ngIf="ground.profile_img==null || ground.profile_img==''"
                [src]="default_img">

              <img class="player-img viewimg" *ngIf="ground.profile_img!=null  && ground.profile_img!=''"
                [src]="ground.profile_img" (error)="handleImageError($event, default_img)">
            </span>
          </div>
          <header class="popup-header no-icon">
            <h1 class="popup-title">{{ ground['ground name'] | uppercase }}</h1>
          </header>

          <button class="popup-close" pTooltip="Close popup" tooltipPosition="left"
           (click)="viewDialogVisible = false"aria-label="Close popup">✖</button>
        </div>


        <div class="popup-content">
          <!-- Ground Details -->
          <section class="popup-section">
            <h2 class="section-title">⛳ Ground Details</h2>
            <div class="info-row"><span class="info-label"> Address 1</span><span class="separator">|</span><span
                class="info-value">{{ ground['address 1'] }}</span></div>
            <div class="info-row"><span class="info-label"> Address 2</span><span class="separator">|</span><span
                class="info-value">{{ ground['address 2'] }}</span></div>
            <div class="info-row"><span class="info-label"> Post Code</span><span class="separator">|</span><span
                class="info-value">{{ ground['post code'] }}</span></div>
            <!-- <div class="info-row"><span class="info-label"> Northern End</span><span
                      class="separator">|</span><span class="info-value">{{ ground['northern end'] }}</span></div>
                  <div class="info-row"><span class="info-label"> southern End</span><span
                      class="separator">|</span><span class="info-value">{{ ground['southern end'] }}</span></div>
                  <div class="info-row"><span class="info-label">capacity</span><span class="separator">|</span><span
                      class="info-value">{{ ground['capacity'] }}</span></div> -->
            <!-- <div class="info-row"><span class="info-label"> Profile</span><span class="separator">|</span><span
                      class="info-value">{{ ground.profile }}</span></div> -->
            <div class="info-row"><span class="info-label"> North</span><span class="separator">|</span><span
                class="info-value">{{ ground['north'] }}</span></div>
            <div class="info-row"><span class="info-label"> South</span><span class="separator">|</span><span
                class="info-value">{{ ground['south'] }}</span></div>
            <div class="info-row"><span class="info-label">East</span><span class="separator">|</span><span
                class="info-value">{{ ground['east'] }}</span></div>
            <div class="info-row"><span class="info-label"> West</span><span class="separator">|</span><span
                class="info-value">{{ ground['west'] }}</span></div>
            <div class="info-row"><span class="info-label"> Latitude</span><span class="separator">|</span><span
                class="info-value">{{ ground['latitude'] }}</span></div>
            <div class="info-row"><span class="info-label"> Longitude</span><span class="separator">|</span><span
                class="info-value">{{ ground.longitude }}</span></div>
            <div class="info-row"><span class="info-label"> Country</span><span class="separator">|</span><span
                class="info-value">{{ ground.country }}</span></div>
            <div class="info-row"><span class="info-label"> State</span><span class="separator">|</span><span
                class="info-value">{{ ground.state }}</span></div>
            <div class="info-row"><span class="info-label"> City</span><span class="separator">|</span><span
                class="info-value">{{ ground.city }}</span></div>
          </section>

        </div>
      </div>

    </p-dialog>

    <p-confirmDialog [style]="{width: '320px'}" [baseZIndex]="10000" [draggable]="false"
      [styleClass]="'p-confirm-dialog-custom'">
    </p-confirmDialog>
    <p-drawer [(visible)]="ShowForm" [baseZIndex]="10000" position="right" [showCloseIcon]="false">
      <div class="d-flex justify-content-between align-items-center mb-4 form-drawer-header">
        <div class="small-heading">
          <div *ngIf="addGroundForm.get('ground_id')?.value == '' || addGroundForm.get('ground_id')?.value == null">
            Add Ground </div>
          <div *ngIf="addGroundForm.get('ground_id')?.value != null && addGroundForm.get('ground_id')?.value != ''">
            Edit Ground</div>
        </div>
      </div>

      <form [formGroup]="addGroundForm">
        <div class="row gy-3">

          <div class="col-md-3">
            <label class="">Ground Name <span class="text-danger">*</span></label>
            <input class="form-control" maxlength="50" type="text" formControlName="ground_name"
              (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('ground_name', $event)">


            <!-- Show required error -->
            <small
              *ngIf="(addGroundForm.get('ground_name')?.touched || submitted) && addGroundForm.get('ground_name')?.errors?.['required']"
              class="required-msg">
              Ground name is Required
            </small>
          </div>


          <div class="col-md-3">
            <label class="">Dispaly Name
              <span class="text-danger">*</span>
            </label>
            <input class="form-control" maxlength="50" type="text" formControlName="display_name"
              (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('display_name', $event)">


            <!-- Show required error -->
            <small
              *ngIf="(addGroundForm.get('display_name')?.touched || submitted) && addGroundForm.get('display_name')?.errors?.['required']"
              class="required-msg">
              Dispaly name is Required
            </small>
          </div>

          <div class="col-md-3">
            <label>Country
              <span class="text-danger">*</span>
            </label>
            <p-dropdown [options]="countriesList" class="drop-error " formControlName="country_id"
              (ngModelChange)="getStates(addGroundForm.get('country_id')?.value)" optionValue="country_id"
              optionLabel="country_name" placeholder="select Country" appendTo="self"
              [panelStyleClass]="'custom-dropdown-panel'" [filter]="true" filterBy="country_name" [showClear]="false">
              <ng-template let-country pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <div>{{ country.country_name }}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
            <small
              *ngIf="addGroundForm?.get('country_id')?.invalid &&(addGroundForm.get('country_id')?.touched) || (addGroundForm.get('country_id')?.invalid && submitted)"
              class="required-msg">Country
              Is Required
            </small>
          </div>
          <div class="col-md-3">
            <label>State
              <span class="text-danger">*</span>
            </label>
            <p-dropdown [options]="statesList" class="drop-error " formControlName="state_id"
              (ngModelChange)="getCities(addGroundForm.get('state_id')?.value)" optionValue="state_id"
           [filter]="true"   optionLabel="state_name" placeholder="Select State">
              <ng-template let-state pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <div>{{ state.state_name }}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
            <small
              *ngIf="addGroundForm?.get('state_id')?.invalid &&(addGroundForm.get('state_id')?.touched) || (addGroundForm.get('state_id')?.invalid && submitted)"
              class="required-msg">State
              Is Required
            </small>

          </div>
          <div class="col-md-3">
            <label>City
            </label>
            <p-dropdown [options]="citiesList" class="drop-error " formControlName="city_id" optionValue="city_id"
            [filter]="true"  optionLabel="city_name" placeholder="Select City">
              <ng-template let-city pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <div>{{ city.city_name }}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
            <small
              *ngIf="addGroundForm?.get('city_id')?.invalid &&(addGroundForm.get('city_id')?.touched) || (addGroundForm.get('city_id')?.invalid && submitted)"
              class="required-msg">City
              Is Required
            </small>

          </div>


          <div class="col-md-3">
            <label class="">Address Name 1
            </label>
            <input class="form-control" maxlength="200" type="text" formControlName="address_1"
              (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('address_1', $event)">

            <small
              *ngIf="addGroundForm?.get('address_1')?.invalid &&(addGroundForm?.get('address_1')?.touched) || (addGroundForm.get('address_1')?.invalid && submitted)"
              class="required-msg">Adress 1 is Required
            </small>
          </div>

          <div class="col-md-3">
            <label class="">Address Name 2
            </label>
            <input class="form-control" maxlength="200" type="text" formControlName="address_2"
              (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('address_2', $event)">

            <small
              *ngIf="addGroundForm?.get('address_2')?.invalid &&(addGroundForm?.get('address_2')?.touched) || (addGroundForm.get('address_2')?.invalid && submitted)"
              class="required-msg">Adress 2 is Required
            </small>


          </div>


          <div class="col-md-3">
            <label class="">Post Code
              <!-- <span class="text-danger">*</span> -->
            </label>
            <input class="form-control" maxlength="10" type="text" formControlName="post_code"
              (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('post_code', $event)">

            <small
              *ngIf="addGroundForm?.get('post_code')?.invalid &&(addGroundForm?.get('post_code')?.touched) || (addGroundForm.get('post_code')?.invalid && submitted)"
              class="required-msg">Post Code is Required
            </small>
          </div>


          <div class="col-md-3">
            <label class="">Northern End
              <!-- <span class="text-danger">*</span> -->
            </label>
            <input class="form-control" maxlength="50" type="text" formControlName="northern_end"
              (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('northern_end', $event)">
            <!-- 
            <small
              *ngIf="addGroundForm?.get('northern_end')?.invalid &&(addGroundForm?.get('northern_end')?.touched) || (addGroundForm.get('northern_end')?.invalid && submitted)"
              class="required-msg">Northern End is Required
            </small> -->
          </div>



          <div class="col-md-3">
            <label class="">Southern End
              <!-- <span class="text-danger">*</span> -->
            </label>
            <input class="form-control" maxlength="50" type="text" formControlName="sourthern_end"
              (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('sourthern_end', $event)">
            <!-- 
            <small
              *ngIf="addGroundForm?.get('sourthern_end')?.invalid &&(addGroundForm?.get('sourthern_end')?.touched) || (addGroundForm.get('sourthern_end')?.invalid && submitted)"
              class="required-msg">Sourthern End is Required
            </small> -->
          </div>



          <div class="col-md-3">
            <label class="">Latitude
            </label>
            <input class="form-control" maxlength="50" type="text" formControlName="latitude"
              (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('latitude', $event)">
            <!-- 
            <small
              *ngIf="addGroundForm?.get('latitude')?.invalid &&(addGroundForm?.get('latitude')?.touched) || (addGroundForm.get('latitude')?.invalid && submitted)"
              class="required-msg">Latitude is Required
            </small> -->
          </div>



          <div class="col-md-3">
            <label class="">Longitude
            </label>
            <input class="form-control" maxlength="50" type="text" formControlName="longitude"
              (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('longitude', $event)">
            <!-- 
            <small
              *ngIf="addGroundForm?.get('longitude')?.invalid &&(addGroundForm?.get('longitude')?.touched) || (addGroundForm.get('longitude')?.invalid && submitted)"
              class="required-msg">Longitude is Required
            </small> -->
          </div>


          <div class="col-md-3">
            <label>Reference Sourece ID </label>
            <!-- <span class="text-danger">*</span> -->
            <input class="form-control" type="text" maxlength="20" formControlName="reference_id"
              (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('reference_id', $event)">
            <!-- <small
              *ngIf="addGroundForm?.get('reference_id')?.invalid &&(addGroundForm?.get('reference_id')?.touched) || (addGroundForm.get('reference_id')?.invalid && submitted)"
              class="required-msg">Reference ID is Required
            </small> -->
          </div>


          <div class="col-md-3">
            <label>Capacity No</label>
            <input class="form-control" maxlength="50" type="text" formControlName="capacity"
              (keypress)="allowNumberOnly($event)" (input)="sanitizeNumberInput('capacity', $event)">


            <!-- Required field error -->
            <!-- <small
              *ngIf="(addGroundForm.get('capacity')?.touched || submitted) && addGroundForm.get('capacity')?.errors?.['required']"
              class="required-msg">
              Capacity is Required
            </small> -->
          </div>


          <div class="col-md-3">
            <label>Club </label>
            <span class="text-danger">*</span>
            <p-dropdown [options]="configDataList" class="drop-error " formControlName="club_id" optionValue="club_id"
              optionLabel="club_name" placeholder="Select Club Id">
              <ng-template let-club pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <div>{{ club.club_name }}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
            <small
              *ngIf="addGroundForm?.get('club_id')?.invalid &&(addGroundForm?.get('club_id')?.touched) || (addGroundForm.get('club_id')?.invalid && submitted)"
              class="required-msg"> Club ID is Required
            </small>
          </div>
       

          <div class="col-md-3">
            <label>Ground Photo</label>
            <!-- <a class=" clear-width table-counts profile-url" style="width: 84px;" (click)="cropPopOpen()">Crop Image</a> -->
            <div class="image-upload-container text-center">
              <div class="image-preview-wrapper">
                <button type="button" class="cancel-btn" (click)="cancel()">✕</button>
                <img [src]="filedata ? url : (profileImages ? profileImages : default_img)"
                  (error)="handleImageError($event, default_img)" alt="Profile Image" class="profile-img">
              </div>
              <div class="split-button-wrapper">
                <label for="groundPhotoInput" class="split-button upload-half">
                  <input type="file" id="groundPhotoInput" accept="image/*" (change)="fileEvent($event)" hidden
                    formControlName="ground_photo" />
                  Upload
                </label>
                <button type="button" class="split-button crop-half" (click)="cropPopOpen()">
                  Crop
                </button>
              </div>
            </div>
            <small class="text-danger" *ngIf="addGroundForm.get('ground_photo')?.errors">
              Only PNG,JPEG and JPG files are allowed.
            </small>

            <!-- Cropper Modal -->
            <div *ngIf="showCropperModal" class="modal img-croper-popup">
              <div class="modal-content crop-image">
                <div class="modal-header modal-header-img">
                  <h2 style="font-size: 20px; margin-left: 38%;">Crop Image</h2>
                </div>
                <div class="modal-body img-fix">
                  <image-cropper [imageBase64]="imageBase64" [maintainAspectRatio]="true" [aspectRatio]="4/3"
                    format="jpeg" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                    (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
                  </image-cropper>
                </div>
                <div class="modal-footer crop-footer">
                  <button class="submit-btn margin-right save-button" (click)="saveCroppedImage()">Save</button>
                  <button class="custom-cancel-btn submit-btn margin-right" (click)="cancelCropping()">Cancel</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <fieldset class="border p-3 rounded">
              <legend class="w-auto px-2">Boundaries (in Metres) </legend>
              <div class="row">

                <div class="col-md-3">
                  <label>North (in Metres) </label>
                  <input class="form-control" maxlength="50" type="text" formControlName="north"
                    (keypress)="allowDecimalOnly($event)" (input)="sanitizeDecimalInput('north', $event)">

                  <!-- Show when invalid decimal format -->
                  <!-- <small *ngIf="addGroundForm.get('north')?.touched && addGroundForm.get('north')?.errors?.['pattern']"
                    class="required-msg">
                    * Invalid North (Only decimals allowed)
                  </small> -->

                  <!-- Show when field is empty -->
                  <small
                    *ngIf="(addGroundForm.get('north')?.touched || submitted) && addGroundForm.get('north')?.errors?.['required']"
                    class="required-msg">
                    North is Required
                  </small>
                </div>


                <div class="col-md-3">
                  <label>South (in Metres)</label>
                  <input class="form-control" maxlength="50" type="text" formControlName="south"
                    (keypress)="allowDecimalOnly($event)" (input)="sanitizeDecimalInput('south', $event)">

                  <!-- Show when invalid decimal format -->
                  <!-- <small *ngIf="addGroundForm.get('south')?.touched && addGroundForm.get('south')?.errors?.['pattern']"
                    class="required-msg">
                    * Invalid South (Only decimals allowed)
                  </small> -->

                  <!-- Show when field is empty -->
                  <!-- <small
                    *ngIf="(addGroundForm.get('south')?.touched || submitted) && addGroundForm.get('south')?.errors?.['required']"
                    class="required-msg">
                    South is Required
                  </small> -->
                </div>

                <div class="col-md-3">
                  <label>East (in Metres) </label>
                  <input class="form-control" maxlength="50" type="text" formControlName="east"
                    (keypress)="allowDecimalOnly($event)" (input)="sanitizeDecimalInput('east', $event)">

                  <!-- Show when invalid decimal format -->
                  <!-- <small *ngIf="addGroundForm.get('east')?.touched && addGroundForm.get('east')?.errors?.['pattern']"
                    class="required-msg">
                    * Invalid East (Only decimals allowed)
                  </small> -->

                  <!-- Show when field is empty -->
                  <!-- <small
                    *ngIf="(addGroundForm.get('east')?.touched || submitted) && addGroundForm.get('east')?.errors?.['required']"
                    class="required-msg">
                    East is Required
                  </small> -->
                </div>



                <div class="col-md-3">
                  <label>West (in Metres) </label>
                  <input class="form-control" maxlength="50" type="text" formControlName="west"
                    (keypress)="allowDecimalOnly($event)" (input)="sanitizeDecimalInput('west', $event)">

                  <!-- Show when invalid decimal format -->
                  <!-- <small *ngIf="addGroundForm.get('west')?.touched && addGroundForm.get('west')?.errors?.['pattern']"
                    class="required-msg">
                    * Invalid West (Only decimals allowed)
                  </small> -->

                  <!-- Show when field is empty -->
                  <!-- <small
                    *ngIf="(addGroundForm.get('west')?.touched || submitted) && addGroundForm.get('west')?.errors?.['required']"
                    class="required-msg">
                    West is Required
                  </small> -->
                </div>


              </div>
            </fieldset>
          </div>

        </div>
        <div class="form-wrapper pb-5">
          <div class="row mt-4 sticky-footer-buttons">
            <div class="col-12 text-end">
              <button pButton type="button" label="Cancel" class="p-button-secondary me-3 custom-cancel-btn"
                (click)="cancelForm()"></button>

              <button pButton type="button" label="Clear" class="p-button-secondary me-3 custom-cancel-btn"
                *ngIf="addGroundForm.get('ground_id')?.value == '' || addGroundForm.get('ground_id')?.value == null"
                (click)="resetForm()"></button>

              <button pButton label="Save" class="save-button" (click)="onAddGround()"></button>
            </div>
          </div>
        </div>
      </form>
    </p-drawer>
  </div>
</div>
<p-toast position="center" [baseZIndex]="11000">
  <ng-template let-message pTemplate="message">
    <div class="custom-toast-message">
      <img *ngIf="message?.data?.image" [src]="message.data.image" style="width: 40px; height: 40px" />
      <div>
        <div class="font-bold">{{ message.summary }}</div>
        <div>{{ message.detail }}</div>
      </div>
    </div>
  </ng-template>
</p-toast>