<div class="page-wrapper">
    <div class="content container-fluid">
        <main>
            <div class="card margin-card">
                <div class="card-body">
                    <div class="page-header main-page-header d-flex align-items-center justify-content-between">
                        <div class="main-page-title page-title playerbackground">
                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                            All Clients
                            <div class="totalrecord">: {{ visibleRecords }}</div>
                        </div>
                        <div class="d-flex align-items-center">

                            <!-- Search Form -->
                            <form class="d-flex align-items-center gap-2" (submit)="gridLoad()">
                                <div class="p-input-icon-right flex-grow-1">
                                    <input pInputText type="text" [(ngModel)]="searchKeyword" name="searchKeyword"
                                        class="width-search search-text-box" placeholder="Search"
                                        (input)="filterGlobal()" (keypress)="blockQuotesOnly($event)"
                                        (input)="sanitizeQuotesOnly('client_name', $event)">
                                </div>

                                <button type="button" class="clear-button" (click)="clear()">Clear</button>
                            </form>

                            <div class="card flex justify-center">
                                <button *ngIf="!ShowForm" class="new-button p-button-text" (click)="resetForm()"
                                    (click)="showAddForm()"> <i class="fas fa-plus"></i> Create</button>
                            </div>
                        </div>
                    </div>


                    <p-table #dt [value]="Clientdata" [paginator]="true" [rows]="10" [(first)]="first" [rows]="rows"
                        [rowsPerPageOptions]="[10,25,50,100]" [styleClass]="'custom-table'"
                        [globalFilterFields]="['Client','country','email_id','mobile','record_status']">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="col-3" pSortableColumn="Client">Client <p-sortIcon field="country_name">
                                    </p-sortIcon>
                                </th>
                                <th class="col-2" pSortableColumn="country">Country <p-sortIcon field="iso_code_3">
                                    </p-sortIcon>
                                </th>
                                <th class="col-2" pSortableColumn="email_id">Email Id<p-sortIcon field="region_name">
                                    </p-sortIcon>
                                </th>
                                <th class="col-2" pSortableColumn="mobile">Mobile<p-sortIcon field="sub_region">
                                    </p-sortIcon>
                                </th>
                                <th class="col-1" pSortableColumn="record_status">Status <p-sortIcon
                                        field="record_status"></p-sortIcon>
                                </th>
                                <th class="col-2" class="custom-header action-column-header">Actions</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-client>
                            <tr>
                                <td>
                                    <span class="person-image-team-player">
                                        <img class="player-img"
                                            *ngIf="client.profile_img_url==null || client.profile_img_url==''"
                                            [src]="default_img">

                                        <img class="player-img"
                                            *ngIf="client.profile_img_url!=null  && client.profile_img_url!=''"
                                            [src]="client.profile_img_url"
                                            (error)="handleImageError($event, default_img)">
                                    </span>
                                    <span class="groundnameover name-space" (click)="viewClient(client.client_id)"> {{
                                        client.Client
                                        }}</span>
                                </td>
                                <td>
                                    {{ client.country }}
                                </td>
                                <td>{{ client.email_id }}</td>
                                <td>{{ client.mobile }}</td>
                                <td>
                                    <span [ngClass]="{
                      ' bg-success': client.record_status === 'Active',
                      ' bg-danger': client.record_status === 'InActive'
                    }">
                                        {{ client.record_status }}
                                    </span>
                                </td>
                                <td>
                                    <span class="icon-blue" (click)="EditClient(client.client_id)" pTooltip="Edit"
                                        tooltipPosition="top">
                                        <i class="fa-solid fa-user-pen"></i>
                                    </span>

                                    <span class="icon-green"
                                        (click)="StatusConfirm(client.client_id,conditionConstants.active_status,client.record_status)"
                                        pTooltip="Activate" tooltipPosition="top">
                                        <i class="fa-solid fa-circle-check"></i>
                                    </span>

                                    <span class="icon-red"
                                        (click)="StatusConfirm(client.client_id,conditionConstants.deactive_status,client.record_status)"
                                        pTooltip="Deactivate" tooltipPosition="top">
                                        <i class="fa-solid fa-trash-can-arrow-up"></i>
                                    </span>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="10" class="text-center ">No Records Found</td>
                            </tr>
                        </ng-template>
                    </p-table>


                </div>
            </div>
        </main>
        <!-- STATUS Confirmation POPUP -->

        <p-confirmDialog [style]="{width: '320px'}" [baseZIndex]="10000" [draggable]="false" [closable]="false"
            [styleClass]="'p-confirm-dialog-custom'">
        </p-confirmDialog>

        <p-drawer [(visible)]="ShowForm" [baseZIndex]="10000" position="right" [showCloseIcon]="false">
            <div class="d-flex justify-content-between align-items-center mb-4 form-drawer-header ">
                <div class="small-heading ">
                    <div
                        *ngIf="addClientForm.get('client_id')?.value == '' || addClientForm.get('client_id')?.value == null">
                        Add Client </div>
                    <div
                        *ngIf="addClientForm.get('client_id')?.value != null && addClientForm.get('client_id')?.value != ''">
                        Edit Client</div>
                </div>
            </div>


            <form [formGroup]="addClientForm">
                <div class="row gy-3">
                    <div class="col-md-6">
                        <label>Client Name
                            <span class="text-danger">*</span>
                        </label>
                        <input class="form-control" maxlength="50" type="text" formControlName="client_name"
                            (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('client_name', $event)">
                        <small
                            *ngIf="addClientForm?.get('client_name')?.invalid &&(addClientForm?.get('client_name')?.touched) || (addClientForm.get('client_name')?.invalid && submitted)"
                            class="required-msg">Client
                            Name Is Required
                        </small>

                    </div>
                    <div class="col-md-6">
                        <label>Client Code
                            <span class="text-danger">*</span>
                        </label>
                        <input class="form-control" maxlength="10" type="text" formControlName="client_code"
                            (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('client_code', $event)">
                        <small
                            *ngIf="addClientForm?.get('client_code')?.invalid &&(addClientForm?.get('client_code')?.touched) || (addClientForm.get('client_code')?.invalid && submitted)"
                            class="required-msg">Client
                            Code Is Required
                        </small>
                    </div>
                    <div class="col-md-6"
                        *ngIf="addClientForm.get('client_id')?.value == '' || addClientForm.get('client_id')?.value == null">
                        <label>Server
                            <span class="text-danger">*</span>
                        </label>
                        <p-dropdown [options]="lookupDataList" class="drop-error " formControlName="app_con_id"
                            optionValue="app_con_id" optionLabel="connection_name" placeholder="Select Server"
                            appendTo="self" [filter]="true" filterBy="connection_name" [showClear]="false"
                            [panelStyleClass]="'custom-dropdown-panel'">
                            <ng-template let-server pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>{{ server.connection_name }}
                                    </div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        <small
                            *ngIf="addClientForm.get('app_con_id')?.invalid && (addClientForm.get('app_con_id')?.touched || submitted)"
                            class="required-msg">
                            Server is required
                        </small>

                    </div>
                    <div class="col-md-6">
                        <label>Country
                            <span class="text-danger">*</span>
                        </label>
                        <p-dropdown [options]="countriesList" class="drop-error " formControlName="country_id"
                            (ngModelChange)="getStates(addClientForm.get('country_id')?.value)" optionValue="country_id"
                            optionLabel="country_name" placeholder="Select Country" appendTo="self" [filter]="true"
                            filterBy="country_name" [showClear]="false" [panelStyleClass]="'custom-dropdown-panel'">
                            <ng-template let-country pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>{{ country.country_name }}
                                    </div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        <small
                            *ngIf="addClientForm.get('country_id')?.invalid && (addClientForm.get('country_id')?.touched || submitted)"
                            class="required-msg">
                            Country is required
                        </small>

                    </div>
                    <div class="col-md-6">
                        <label>State
                            <span class="text-danger">*</span>
                        </label>
                        <p-dropdown [options]="statesList" class="drop-error " formControlName="state_id"
                            optionValue="state_id" (ngModelChange)="getCities(addClientForm.get('state_id')?.value)"
                            optionLabel="state_name" [filter]="true" filterBy="state_name" [showClear]="false"
                            placeholder="Select State" [panelStyleClass]="'custom-dropdown-panel'">
                            <ng-template let-state pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>{{ state.state_name }}
                                    </div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        <small
                            *ngIf="addClientForm.get('state_id')?.invalid && (addClientForm.get('state_id')?.touched || submitted)"
                            class="required-msg">
                            State is required
                        </small>
                    </div>
                    <div class="col-md-6">
                        <label>City
                            <span class="text-danger">*</span>
                        </label>
                        <p-dropdown [options]="citiesList" class="drop-error " formControlName="city_id"
                            optionValue="city_id" optionLabel="city_name" [filter]="true" filterBy="city_name"
                            [showClear]="false" placeholder="Select City" [panelStyleClass]="'custom-dropdown-panel'">
                            <ng-template let-city pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>{{ city.city_name }}
                                    </div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        <small
                            *ngIf="addClientForm.get('city_id')?.invalid && (addClientForm.get('city_id')?.touched || submitted)"
                            class="required-msg">
                            City is required
                        </small>

                    </div>
                    <div class="col-md-6">
                        <label>Address 1
                            <span class="text-danger">*</span>
                        </label>
                        <input class="form-control" maxlength="200" type="text" formControlName="address_1"
                            (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('address_1', $event)">
                        <small
                            *ngIf="addClientForm?.get('address_1')?.invalid &&(addClientForm?.get('address_1')?.touched) || (addClientForm.get('address_1')?.invalid && submitted)"
                            class="required-msg">Address 1 Is Required
                        </small>

                    </div>
                    <div class="col-md-6">
                        <label>Address 2
                        </label>
                        <input class="form-control" maxlength="50" type="text" formControlName="address_2"
                            (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('address_2', $event)">

                    </div>
                    <div class="col-md-6">
                        <label>Post Code
                            <span class="text-danger">*</span>
                        </label>
                        <input class="form-control" maxlength="10" type="text" formControlName="post_code"
                            (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('post_code', $event)">
                        <small
                            *ngIf="addClientForm?.get('post_code')?.invalid &&(addClientForm?.get('post_code')?.touched) || (addClientForm.get('post_code')?.invalid && submitted)"
                            class="required-msg">Post Code Is Required
                        </small>

                    </div>
                    <div class="col-md-6">
                        <label>Email Id
                            <span class="text-danger">*</span>
                        </label>
                        <input class="form-control" maxlength="100" type="text" formControlName="email_id">
                        <div *ngIf="addClientForm.get('email_id')?.touched && addClientForm.get('email_id')?.invalid">
                            <small
                                *ngIf="addClientForm.get('email_id')?.hasError('required') && (addClientForm.get('email_id')?.touched || submitted)"
                                class="required-msg">
                                * Email is required
                            </small>
                            <small
                                *ngIf="addClientForm.get('email_id')?.hasError('pattern') && (addClientForm.get('email_id')?.touched || submitted)"
                                class="required-msg">
                                * Invalid email format
                            </small>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Phone No</label>
                        <input class="form-control" type="text" maxlength="10" formControlName="mobile"
                            (input)="onPhoneNumberInput($event)">
                        <div *ngIf="addClientForm.get('mobile')?.touched && addClientForm.get('mobile')?.invalid">
                            <!-- Show when pattern is invalid -->
                            <small
                                *ngIf="addClientForm.get('mobile')?.hasError('pattern') && (addClientForm.get('mobile')?.touched || submitted)"
                                class="required-msg">
                                * Invalid mobile number
                            </small>



                        </div>
                    </div>

                    <div class="col-md-6">
                        <label>Website
                        </label>
                        <input class="form-control" maxlength="50" type="text" formControlName="website"
                            (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('website', $event)">
                    </div>
                    <div class="col-md-6">
                        <label>Description
                        </label>
                        <input class="form-control" maxlength="50" type="text" formControlName="description"
                            (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('description', $event)">

                    </div>
                    <!--Preview of profile image-->
                    <div class="col-md-6">
                        <label>Profile Image</label>

                        <div class="image-upload-container text-center">
                            <div class="image-preview-wrapper">
                                <button type="button" class="cancel-btn" (click)="cancel()">✕</button>
                                <img *ngIf="(filedata == null || filedata == '') && (profileImages == null || 
                                profileImages == '')" [src]="default_img" alt="Profile Image" class="profile-img">
                                <img *ngIf="filedata != null && filedata != ''" [src]="url" alt="Profile Image"
                                    class="profile-img">
                                <img *ngIf="profileImages != null && profileImages != ''" [src]="profileImages"
                                    (error)="handleImageError($event, default_img)" alt="Profile Image"
                                    class="profile-img">
                            </div>

                            <div class="split-button-wrapper">
                                <label for="profileImageInput" class="split-button upload-half">
                                    <input type="file" id="profileImageInput" accept="image/*"
                                        (change)="fileEvent($event)" hidden formControlName="profile_img_url" />
                                    Upload
                                </label>
                                <button type="button" class="split-button crop-half" (click)="cropPopOpen()">
                                    Crop
                                </button>
                            </div>
                            <div>
                                <small class="text-danger" *ngIf="addClientForm.get('profile_img_url')?.errors">
                                    * Only PNG, JPEG, or JPG files are allowed
                                </small>
                            </div>
                        </div>
                        <!-- Cropper Modal -->
                        <div *ngIf="showCropperModal" class="modal img-croper-popup">
                            <div class="modal-content crop-image">
                                <div class="modal-header modal-header-img">
                                    <h2 style="font-size: 20px; margin-left: 38%;">Crop Image</h2>
                                </div>
                                <div class="modal-body img-fix">
                                    <image-cropper [imageBase64]="imageBase64" [maintainAspectRatio]="true"
                                        [aspectRatio]="4 / 3" (imageCropped)="imageCropped($event)"
                                        (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
                                        (loadImageFailed)="loadImageFailed()"></image-cropper>
                                </div>
                                <div class="modal-footer crop-footer">
                                    <button class="submit-btn margin-right save-button"
                                        (click)="saveCroppedImage()">Save</button>
                                    <button class="custom-cancel-btn submit-btn margin-right"
                                        (click)="cancelImg()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="form-wrapper pb-5">
                    <div class="row mt-4 sticky-footer-buttons">
                        <div class="col-12 text-end">
                            <button pButton type="button" label="Cancel"
                                class="p-button-secondary me-3 custom-cancel-btn" (click)="cancelForm()"></button>

                            <button pButton type="button" label="Clear"
                                class="p-button-secondary me-3 custom-cancel-btn"
                                *ngIf="addClientForm.get('client_id')?.value == '' || addClientForm.get('client_id')?.value == null"
                                (click)="resetForm()"></button>

                            <button pButton label="Save" class="save-button" (click)="onAddClient()"></button>


                        </div>
                    </div>
                </div>
            </form>


        </p-drawer>
        <p-dialog header="Ground Details" [(visible)]="viewDialogVisible" [modal]="true">
            <div class="popup-container">
                <div *ngFor="let client of seletedclient" class="popup-content">
                    <div class="top-bar">
                        <div class="profile-image-wrapper">
                            <span class="person-image-team-player">
                                <img class="player-img Viewimg"
                                    *ngIf="client.profile_img_url==null || client.profile_img_url==''"
                                    [src]="default_img">

                                <img class="player-img viewimg"
                                    *ngIf="client.profile_img_url!=null  && client.profile_img_url!=''"
                                    [src]="client.profile_img_url" (error)="handleImageError($event, default_img)">
                            </span>
                        </div>
                        <div class="popup-title">{{ client.client_name | uppercase }}</div>
                        <button class="popup-close" (click)="viewDialogVisible = false"
                            aria-label="Close popup">✖</button>
                    </div>

                    <section class="popup-section">
                        <h2 class="section-title">Client Details</h2>
                        <div class="info-row"><span class="info-label">Client Code</span><span
                                class="separator">|</span><span class="info-value">{{ client.client_code }}</span></div>
                        <div class="info-row"><span class="info-label">Address 1</span><span
                                class="separator">|</span><span class="info-value">{{ client.address_1 }}</span></div>
                        <div class="info-row"><span class="info-label">Address 2</span><span
                                class="separator">|</span><span class="info-value">{{ client.address_2 }}</span></div>
                        <div class="info-row"><span class="info-label">Post Code</span><span
                                class="separator">|</span><span class="info-value">{{ client.post_code }}</span></div>
                        <div class="info-row"><span class="info-label">Email</span><span class="separator">|</span><span
                                class="info-value">{{ client.email_id }}</span></div>
                        <div class="info-row"><span class="info-label">Mobile</span><span
                                class="separator">|</span><span class="info-value">{{ client.mobile }}</span></div>
                        <div class="info-row"><span class="info-label">Website</span><span
                                class="separator">|</span><span class="info-value">{{ client.website }}</span></div>
                    </section>


                    <div class="info-row"><span class="info-label">Country</span><span class="separator">|</span><span
                            class="info-value">{{ client.country_name }}</span>
                    </div>
                    <div class="info-row"><span class="info-label">State</span><span class="separator">|</span><span
                            class="info-value">{{ client.state_name }}</span></div>
                    <div class="info-row"><span class="info-label">City</span><span class="separator">|</span><span
                            class="info-value">{{ client.city_name }}</span></div>

                </div>
            </div>
        </p-dialog>

    </div>
</div>
<p-toast position="center" [baseZIndex]="11000">
    <ng-template let-message pTemplate="message">
        <div class="custom-toast-message">
            <img *ngIf="message?.data?.image" [src]="message.data.image" style="width: 40px; height: 40px" />
            <div>
                <div class="font-bold">{{ message.summary }}</div>
                <div>{{ message.detail }}</div>
            </div>
        </div>
    </ng-template>
</p-toast>