<div class="page-wrapper">
  <div class="content container-fluid">
    <main>
      <div class="card margin-card">
        <div class="card-body">
          <div class="page-header main-page-header d-flex align-items-center justify-content-between">
            <div class="main-page-title page-title playerbackground">
              <i class="fas fa-map-marker-alt"></i>


              Add Cities
            </div>
            <div class="d-flex align-items-center gap-3">
                <p-dropdown [options]="countryData"  optionValue="country_id"optionLabel="country_name" placeholder="Select Country"
                [(ngModel)]="selected_country"(ngModelChange)="getStates()"appendTo="body">
                  <ng-template let-country pTemplate="item">
                    <div class="">
                      <div>{{ country.country_name }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
                <p-dropdown [options]="states" optionValue="state_id"
                  optionLabel="state_name" [ngModel]="stateId" (ngModelChange)="gridLoad()"placeholder="Select State"
                  appendTo="body" [panelStyleClass]="'custom-dropdown-panel'">
                  <ng-template let-state pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <div>{{ state.state_name }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
            </div>

            <form class="flex-grow-1 mx-3 search-width">
              <div class="form-group">
                <span class="p-input-icon-left ml-auto">
                  <span class="p-input-icon-right input-icons search-padding">
                    <input pInputText type="text" class="form-control width-search p-input-icon-right"
                      placeholder="{{'  Search'}}" />
                  </span>
                </span>
              </div>
            </form>

            <div class="card flex justify-center">


              <p-button icon="fas fa-plus" label="New cities" (click)="showAddForm()"
                styleClass="new-button p-button-text"></p-button>
            </div>
          </div>

          <p-table [value]="cityData" [styleClass]="'custom-table'" [globalFilterFields]="['city_name']">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="city_name">City Name <p-sortIcon field="city_name"></p-sortIcon></th>
                <th pSortableColumn="city_code">City Code <p-sortIcon field="city_code"></p-sortIcon></th>
                <th pSortableColumn="state_name">State Name <p-sortIcon field="state_name"></p-sortIcon></th>
                <th pSortableColumn="state_code">State Code <p-sortIcon field="state_code"></p-sortIcon></th>
                <th pSortableColumn="country_name">Country Name <p-sortIcon field="country_name"></p-sortIcon></th>
                <th pSortableColumn="record_status">Status <p-sortIcon field="record_status"></p-sortIcon></th>
                <th class="custom-header action-column-header">Actions</th>
              </tr>

            </ng-template>

            <ng-template pTemplate="body" let-cities>
              <tr>
                <td>{{ cities.city_name }}</td>
                <td>{{ cities.city_code }}</td>
                <td>{{ cities.state_name }}</td>
                <td>{{ cities.state_code }}</td>
                <td>{{ cities.country_name }}</td>
                <td> <span [ngClass]="{
                    'text-success': cities.record_status === 'Active',
                    'text-danger': cities.record_status === 'InActive'
                  }">
                    {{ cities.record_status }}
                  </span></td>
                <td class="action-column">
                  <div class="action-icon" (click)="EditCity(cities.city_id)">
                    <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
                  </div>
                  <!-- <i class="fa fa-pencil-square" aria-hidden="true"></i -->


                  <div class="action-icon"
                    (click)="StatusConfirm(cities.city_id,cricketKeyConstant.condition_key.active_status)">
                    <span><i class="fa fa-check"></i></span>
                  </div>

                  <div class="action-icon"
                    (click)="StatusConfirm(cities.city_id,cricketKeyConstant.condition_key.deactive_status)">
                    <span> <i class="fa fa-times"></i>
                    </span>
                  </div>

                </td>

              </tr>
            </ng-template>
          </p-table>
          <p-paginator [rows]="rows" [totalRecords]="totalData" [first]="(first - 1) * rows"
            [rowsPerPageOptions]="[5,10, 20, 30]" (onPageChange)="onPageChange($event)">
          </p-paginator>

        </div>
      </div>
    </main>
    <p-confirmDialog [style]="{width: '300px', height: '200px'}" [baseZIndex]="10000" [draggable]="false"
      [closable]="false" [styleClass]="'p-confirm-dialog-custom'">
    </p-confirmDialog>

    <p-sidebar [(visible)]="ShowForm" position="right" styleClass="full-width-sidebar" [modal]="true"
      [baseZIndex]="10000" [closeOnEscape]="false" appendTo="body" [showCloseIcon]="false">


      <div class="d-flex justify-content-between align-items-center mb-4">
        <h4 class="mb-0">{{ isEditMode ? 'Edit State' : 'Add cities' }}</h4>
      </div>

      <div (click)="$event.stopPropagation()">

        <form [formGroup]="addCityForm">


          <div class="row g-3">
            <div class="col-12 drop">
              <label for="country" class="drop-error">Country</label>
              <p-dropdown [options]="countryData" class="drop-error" formControlName="country_id"
                optionValue="country_id" optionLabel="country_name"[ngModel]="addCityForm.get('country_id')?.value" placeholder="Select Country" appendTo="body"
                [panelStyleClass]="'custom-dropdown-panel'">
                <ng-template let-country pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ country.country_name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
              <small
                *ngIf="addCityForm.get('country_id')?.invalid && (addCityForm.get('country_id')?.touched || submitted)"
                class="text-danger">*Country is required</small>
            </div>




            <div class="col-12 drop">
              <label for="state">State*</label>

              <p-dropdown [options]="states"[ngModel]="addCityForm.get('state_id')?.value" class="drop-error " formControlName="state_id" optionValue="state_id"
                optionLabel="state_name"  placeholder="select state"
                appendTo="body" [panelStyleClass]="'custom-dropdown-panel'">

                <ng-template let-state pTemplate="item">
                  <div class="flex align-items-center gap-2">

                    <div>{{ state.state_name }}
                    </div>
                  </div>
                </ng-template>
              </p-dropdown>
              <small *ngIf="addCityForm.get('state_id')?.invalid && (addCityForm.get('state_id')?.touched || submitted)"
                class="text-danger">*State is required
              </small>


            </div>
            <div class="col-12 drop">
              <label for="city_name">City Name <span class="text-danger">*</span></label>
              <input id="city_name" type="text" class="form-control drop-error" placeholder="Enter City Name"
                formControlName="city_name" maxlength="50">

              <small
                *ngIf="addCityForm.get('city_name')?.invalid && (addCityForm.get('city_name')?.touched || submitted)"
                class="text-danger">*City Name is required
              </small>
            </div>
            <div class="col-12 drop">
              <label for="city_code">City Code <span class="text-danger">*</span></label>
              <input id="city_code" type="text" class="form-control drop-error" placeholder="Enter City Code"
                formControlName="city_code" maxlength="10">

              <small
                *ngIf="addCityForm.get('city_code')?.invalid && (addCityForm.get('city_code')?.touched || submitted)"
                class="text-danger">*City Code is required
              </small>
            </div>
            <div class="row mt-4" *ngIf="!viewMode">
              <div class="col-12 text-end">
                <button pButton type="button" label="Cancel" class="p-button-secondary me-3"
                  (click)="cancelForm()"></button>

                <button pButton type="button" label="Clear" class="p-button-secondary me-3"
                  (click)="resetForm()"></button>
                <button pButton type="button" label="Save" class="save-button" (click)="onAddCity()"></button>


              </div>

            </div>
          </div>
        </form>
      </div>
    </p-sidebar>