<div *ngIf=" activePage === 'points'" class="points-form-fullpage">
  <form [formGroup]="pointsForm">
    <div class="match-center">
      <h2 class="heading2">Fixtures & Results</h2>

      <!-- Matches List -->
      <div class="matches-list">
        <ng-container *ngIf="paginatedPointsMatches.length > 0; else noData">
          <div class="match-row mt-1" *ngFor="let match of paginatedPointsMatches">

            <!-- Left Info -->
            <div class="left-info">
              <h6>
                <span class="head">{{ match.competition_name }}</span>
                <span class="match-date">({{ match.match_start_date }})</span>
                <span class="match-end-date">-({{ match.match_end_date }})</span>
              </h6>

              <div class="series">({{ match.comp_type }}-{{ match.venue }})</div>
            </div>

            <!-- Teams -->
            <div class="teams">

              <!-- Team 1 -->
              <div class="team left-team">
                <span class="team-name">{{ match.team_1_name }} Innings</span>
                <img [src]="" />
                <div class="team-score">
                  <ng-container *ngIf="match.team_1_summary?.length; else yetToBatA">
                    <div class="innings-score">
                      <span *ngFor="let inn of match.team_1_summary" class="score-text innings-col">
                        <span>{{ inn.runs }}</span>
                        <span class="overs-text">({{ inn.overs }})</span>
                      </span>
                    </div>
                  </ng-container>
                  <ng-template #yetToBatA>Yet to Bat</ng-template>
                </div>
              </div>
              <!-- Game Icon -->
              <!-- VS block -->
              <div class="vs-wrapper">
                <img src="assets/images/game.png" alt="VS" class="VS-icon">
                <div class="result-status" *ngIf="match.match_result">
                  <strong>{{ match.match_result }}</strong>
                </div>
              </div>

              <!-- Team 2 -->
              <div class="team right-team">
                <span class="team-name">{{ match.team_2_name }} Innings</span>
                <img [src]="" />
                <div class="team-score">
                  <ng-container *ngIf="match.team_2_summary?.length; else yetToBatB">
                    <div class="innings-row">

                      <div class="innings-score">
                        <span *ngFor="let inn of match.team_2_summary" class="score-text innings-col">
                          <span>{{ inn.runs }}</span>
                          <span class="overs-text">({{ inn.overs }})</span>
                        </span>
                      </div>
                    </div>
                  </ng-container>
                  <ng-template #yetToBatB>Yet to Bat</ng-template>
                </div>
              </div>
            </div>
            <!-- Match Result -->
            <!-- <div class="result-status" *ngIf="match.match_result">
              <strong>{{ match.match_result }}</strong>
            </div> -->

            <!-- Match Centre Button -->
            <div class="right-btn">
              <button class="match-btn" (click)="openScorecard(match)">Score</button>
            </div>
          </div>
        </ng-container>

        <!-- No Matches Found -->
        <ng-template #noData>
          <div class="match-row no-data-row">
            <p>No matches found for this competition and type.</p>
          </div>
        </ng-template>
      </div>

      <!-- Pagination -->
      <div class="match-cardpaginator-container">
        <p-paginator [rows]="pointsRows" [totalRecords]="filteredSchedulesList.length" [first]="pointsFirst"
          [rowsPerPageOptions]="[5, 10, 15]" (onPageChange)="onPointsPageChange($event)">
        </p-paginator>
      </div>
    </div>

    <!-- Back Button -->
    <div class="form-actions">
      <button type="button" (click)="closePointsForm()">Back</button>
    </div>
  </form>
</div>

<!-- Scorecard Page -->
<div *ngIf="activePage === 'scorecard'">
  <app-screcard-points [selectedMatch]="selectedMatch"></app-screcard-points>
  <div class="form-actions">
    <button type="button" (click)="changeTab('points')">Back</button>
  </div>
</div>