<div class="page-wrapper">
  <div class="content container-fluid">
    <main>
      <div class="card margin-card">
        <div class="card-body">
          <div class="page-header main-page-header d-flex align-items-center justify-content-between">
            <div class="main-page-title page-title playerbackground">
              <i class="fa-solid fa-globe" aria-hidden="true"></i>
              All Countries
            </div>
            <div class="d-flex align-items-center">

           <!-- Search Form -->
           <form class="d-flex align-items-center  gap-2" (submit)="gridLoad()">
            <div class="p-input-icon-right flex-grow-1">
              <input
                pInputText
                type="text"
                [(ngModel)]="searchKeyword"
                name="searchKeyword"
                class="width-search"
                placeholder="  Search"
                (input)="filterGlobal()"
              />
            </div>
          
            <button
              type="button"
              class="clear-button"
              (click)="searchKeyword = ''"
            >
              Clear
            </button>
          </form>

      
            <div class="card flex justify-center">
              <button  *ngIf="!ShowForm" class="new-button p-button-text"
                (click)="resetForm()" (click)="showAddForm()"> <i class="fas fa-plus"></i> Country</button>
            </div>
          </div>
          </div>
          <p-table #dt [value]="countriesData"
     [globalFilterFields]="['country_name','iso_code_3','region_name','sub_region','record_status']"
        >     <ng-template pTemplate="header">
              <tr>
                <th class="col-3" pSortableColumn="country_name">Country Name <p-sortIcon field="country_name"></p-sortIcon>
                </th>
                <th class="col-2" pSortableColumn="iso_code_3">ISO Code 3 <p-sortIcon field="iso_code_3"></p-sortIcon>
                </th>
                <th class="col-2" pSortableColumn="region_name">Region Name <p-sortIcon field="region_name"></p-sortIcon>
                </th>
                <th class="col-2" pSortableColumn="sub_region">Sub Region<p-sortIcon field="sub_region"></p-sortIcon>
                </th>
                <th class="col-1" pSortableColumn="record_status">Status <p-sortIcon field="record_status"></p-sortIcon>
                </th>
                <th class="col-2" class="custom-header action-column-header">Actions</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-country>
              <tr>
                <td>{{ country.country_name }}</td>
                <td>{{ country.iso_code_3 }}</td>
                <td>{{ country.region_name }}</td>
                <td>{{ country.sub_region }}</td>
                <td>
                  <span [ngClass]="{
                    ' bg-success': country.record_status === 'Active',
                    ' bg-danger': country.record_status === 'InActive'
                  }">
                {{ country.record_status }}
              </span>
                </td>
                <td>
                <span class="icon-blue" (click)="EditCountry(country.country_id)" pTooltip="Edit" tooltipPosition="top">
                  <i class="fa-solid fa-user-pen"></i>
                </span>

                <span class="icon-green"  (click)="StatusConfirm(country.country_id,cricketKeyConstant.condition_key.active_status)" pTooltip="Activate" tooltipPosition="top">
                  <i class="fa-solid fa-circle-check"></i>
                </span>

                <span class="icon-red" (click)="StatusConfirm(country.country_id,cricketKeyConstant.condition_key.deactive_status)" pTooltip="Deactivate" tooltipPosition="top">
                  <i class="fa-solid fa-trash-can-arrow-up"></i>
                </span>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <p-paginator [rows]="rows" [totalRecords]="totalData" [first]="(first - 1) * rows"
            [rowsPerPageOptions]="[10, 20, 30]" (onPageChange)="onPageChange($event)">
          </p-paginator>

        </div>
      </div>
    </main>
                  <!-- STATUS Confirmation POPUP -->

    <p-confirmDialog 
    [style]="{width: '300px', height: '200px'}"
    [baseZIndex]="10000"
    [draggable]="false"
    [closable]="false"
    [styleClass]="'p-confirm-dialog-custom'">
  </p-confirmDialog>
  
    <!-- <p-sidebar  [(visible)]="ShowForm" position="right" styleClass="full-width-sidebar" [modal]="true"
      [baseZIndex]="10000" [closeOnEscape]="false" appendTo="body" [showCloseIcon]="false"> -->
 <!-- <div class="sidebar-wrapper" (click)="$event.stopPropagation()"> -->
  <p-drawer [(visible)]="ShowForm"  [baseZIndex]="10000" position="right" [showCloseIcon]="false">

    <div class="d-flex justify-content-between align-items-center mb-4">
<h3 class="small-heading">
  {{ isEditMode ? 'Edit Country' : 'Add Country' }}
</h3>
      </div>

 
        <form [formGroup]="addCountryForm">
          <div class="row gy-3">
           <div class="col-md-6">
              <label> Region <span class="text-danger">*</span>
              </label>
              <p-dropdown 
                [options]="regionsData"
                formControlName="region_id"
                optionValue="region_id" 
                optionLabel="region_name"
                placeholder="Select Region"
                class="drop-error">
                
                <ng-template let-region1 pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ region1.region_name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            
              <small
                *ngIf="addCountryForm.get('region_id')?.invalid && (addCountryForm.get('region_id')?.touched || submitted)"
                class="required-msg">
                Region is required
              </small>
            </div> 


            <div class="col-md-6">
              <label >Country Name
                <span class="text-danger">*</span>
              </label>
              <input class="form-control" maxlength="50" type="text" placeholder="Enter Country Name"
                formControlName="country_name">
              <small
                *ngIf="addCountryForm?.get('country_name')?.invalid &&(addCountryForm?.get('country_name')?.touched) || (addCountryForm.get('country_name')?.invalid && submitted)"
                class="required-msg">Country
                Name Is Required
              </small>
            </div>
            <div class="col-md-6">
                <label >Time Zone
                  <span class="text-danger">*</span></label>
                <p-dropdown [options]="timezoneData" class="drop-error "
                  [ngModel]="addCountryForm.get('time_zone_id')?.value" formControlName="time_zone_id"
                  optionValue="time_zone_id" optionLabel="time_zone_anme" [filter]="true"
                  filterBy="time_zone_anme" [showClear]="false" placeholder="Select Time Zone" 
                  [panelStyleClass]="'custom-dropdown-panel'">

                  <ng-template let-timezone pTemplate="item">
                    <div class="flex align-items-center gap-2 ">

                      <div>{{ timezone.time_zone_anme }}
                      </div>
                    </div>
                  </ng-template>
                </p-dropdown>
                <small
                  *ngIf="addCountryForm.get('time_zone_id')?.invalid &&(addCountryForm.get('time_zone_id')?.touched) || (addCountryForm.get('time_zone_id')?.invalid && submitted)"
                  class="required-msg"> Time Zone Is Required
                </small>
            </div>
            <div class="col-md-6">
              <label >Iso Code 2
                <span class="text-danger">*</span>
              </label>
              <input class="form-control" maxlength="2" type="text" placeholder="Enter Iso Code 2"
                formControlName="iso_code_2">
              <small
                *ngIf="addCountryForm?.get('iso_code_2')?.invalid &&(addCountryForm?.get('iso_code_2')?.touched) || (addCountryForm.get('iso_code_2')?.invalid && submitted)"
                class="required-msg"> Iso Code 2 Is Required
              </small>
            </div>

            <div class="col-md-6">
              <label >Iso Code 3
                <span class="text-danger">*</span>
              </label>
              <input class="form-control" maxlength="3" type="text" placeholder="Enter Iso Code 3"
                formControlName="iso_code_3">
              <small
                *ngIf="addCountryForm?.get('iso_code_3')?.invalid &&(addCountryForm?.get('iso_code_3')?.touched) || (addCountryForm.get('iso_code_3')?.invalid && submitted)"
                class="required-msg">Iso Code 3 Is Required
              </small>
            </div>

            <div class="col-md-6">
              <label>Sub Region
                <span class="text-danger">*</span>
              </label>
              <input class="form-control" maxlength="50" type="text" placeholder="Enter Sub Region "
                formControlName="sub_region">
              <small
                *ngIf="addCountryForm.get('sub_region')?.invalid &&(addCountryForm.get('sub_region')?.touched) || (addCountryForm.get('sub_region')?.invalid && submitted)"
                class="required-msg">Sub Region Is Required
              </small>
            </div>
          </div>

          <div class="row mt-4 sticky-footer-buttons">
            <div class="col-12 text-end">
              <button pButton type="button" label="Cancel" class="p-button-secondary me-3"
                (click)="cancelForm()"></button>

                <button pButton type="button" label="Clear" class="p-button-secondary me-3"
                *ngIf="addCountryForm.get('country_id')?.value == '' || addCountryForm.get('country_id')?.value == null"
                (click)="resetForm()"></button>

              <button pButton type="button" label="Save" class="save-button"
                (click)="onAddCountry()"></button>
            
              
            </div>
            
          </div>
        </form>
      <!-- </div> -->
    <!-- </p-sidebar> -->

  </p-drawer>


  </div>
</div>