<div class="container">
  <div class="row mb-3">
    <div class="col-6">
      <p-table #dt1 [value]="sourceTeams" [paginator]="true" selectionMode="multiple"
        [globalFilterFields]="['team_name']" [tableStyle]="{ 'min-width': '20rem' }" styleClass="p-datatable-gridlines"
        [rows]="10" [showCurrentPageReport]="false" [rowsPerPageOptions]="[10, 25, 50]">

        <!-- <p-table #dt1 [value]="sourceTeams" [paginator]="true" [globalFilterFields]="['team_name']"
        [tableStyle]="{ 'min-width': '20rem' }" styleClass="p-datatable-gridlines" [rows]="rows" [first]="first"
        [totalRecords]="totalData" [showCurrentPageReport]="false" [rowsPerPageOptions]="[10, 25, 50]" [lazy]="true"
        (onLazyLoad)="onPageChange($event)" responsiveLayout="scroll"> -->
        <ng-template pTemplate="caption">
          <div class="d-flex align-items-center justify-content-between w-100 gap-3 flex-wrap">
            <div class="p-1 Child-header text-center">Teams : {{ sourceTeams.length }}</div>
            <div class="d-flex align-items-center gap-2 ms-auto">
              <div class="p-input-icon-left">
                <span class="p-input-icon-right input-icons search-padding">
                  <input pInputText type="text" class="form-control width-search-check-box-grid p-input-icon-right"
                    placeholder="Search" filterBy="team_name" [(ngModel)]="sourceSearchKeyword"
                    (input)="filterGlobalSource($event, 'contains')" />
                </span>
              </div>
              <button class="clear-width table-counts" style="background: aliceblue" (click)="clearSource(dt1)">
                Clear
              </button>
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr class="table-row">
            <th class="position-relative" pSortableColumn="team_name">
              Team Name
              <p-sortIcon field="team_name"></p-sortIcon>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-team>
          <tr>
            <td>
              <div class="image-person-name">
                <span class="person-image">
                  <img *ngIf="!team.profile_img" [src]="default_img" class="player-img image-border" />
                  <img *ngIf="team.profile_img" [src]="team.profile_img" class="player-img image-border"
                    (error)="handleImageError($event, default_img)" />
                </span>
                <span class="person-name padding-grid-center groundnameover" (click)="onViewteam(team.team_id)">
                  <strong>{{ team.team_name }}</strong>
                </span>
                <span>
                  <button class="comp-chid-add-btn" (click)="moveToTarget(team)">
                    Add
                  </button>
                </span>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="10" class="text-center">No Records Found</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="col-md-6">
      <p-table #dt2 [value]="targetTeams" selectionMode="multiple" [globalFilterFields]="['team_name']"
        [tableStyle]="{ 'min-width': '20rem' }" styleClass="p-datatable-gridlines" [showCurrentPageReport]="false"
        [rowsPerPageOptions]="[10, 25, 50]" [scrollable]="true" scrollHeight="440px">
        <ng-template pTemplate="caption">
          <div class="d-flex align-items-center justify-content-between w-100 gap-3 flex-wrap">
            <div class="p-1 Child-header text-center">Selected : {{ targetTeams.length }}</div>
            <div class="d-flex align-items-center gap-2 ms-auto">
              <div class="p-input-icon-left">
                <span class="p-input-icon-right input-icons search-padding">
                  <input pInputText type="text" class="form-control width-search-check-box-grid p-input-icon-right"
                    placeholder="Search" filterBy="team_name" [(ngModel)]="targetSearchKeyword"
                    (input)="filterGlobalTarget($event, 'contains')" />
                </span>
              </div>
              <button class="clear-width table-counts" style="background: aliceblue" (click)="clearTarget(dt2)">
                Clear
              </button>
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr class="table-row">
            <th class="position-relative" pSortableColumn="team_name">
              Team Name
              <p-sortIcon field="team_name"></p-sortIcon>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-team>
          <tr>
            <td>
              <div class="image-person-name">
                <span class="person-image">
                  <img *ngIf="!team.profile_img" [src]="default_img" class="player-img image-border" />
                  <img *ngIf="team.profile_img" [src]="team.profile_img" class="player-img image-border"
                    (error)="handleImageError($event, default_img)" />
                </span>
                <span class="person-name padding-grid-center">
                  <strong>{{ team.team_name }}</strong>
                </span>
                <span *ngIf="TeamInTarget(team)">
                  <button class="comp-chid-edit-button" (click)="showEditPopup(team)">
                    Edit
                  </button>
                </span>
                <span>
                  <button class="comp-chid-remove-btn" (click)="moveToSource(team)">
                    Remove
                  </button>
                </span>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="10" class="text-center">No Records Found</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<div *ngIf="isEditPopupVisible" class="popup-backdrop">
  <div class="popup-wrapper">

    <div class="popup">

      <form [formGroup]="ManageTeamsForm" class="p-4 border rounded shadow-sm bg-white">
        <div class="mb-3 d-flex align-items-center" style="background: linear-gradient(to right, #ba4cbb, #99fffd)">
          <div>
            <span class="person-image-team-player">
              <img class="player-img Child-image" *ngIf="!selectedTeam?.profile_url" [src]="default_img">

              <img class="player-img Child-image" *ngIf="selectedTeam?.profile_url" [src]="selectedTeam.profile_url"
                (error)="handleImageError($event, default_img)">
            </span>
          </div>
          <div class="ms-2 fw-bold fs-6">
            {{ ManageTeamsForm.get('team_name')?.value | uppercase }}
          </div>
        </div>

        <!-- Scorecard Name Input -->
        <div class="mb-3 d-flex align-items-center">
          <label for="scorecardName" class="form-label fw-semibold me-2 mb-0 text-width">
            Scorecard Name :
          </label>
          <input id="scorecardName" type="text" class="form-control" formControlName="scorecard_name"
            placeholder="Enter scorecard name" />
        </div>

        <!-- Sponsor Name Input -->
        <div class="mb-3 d-flex align-items-center">
          <label for="sponsorName" class="form-label fw-semibold me-2 mb-0 text-width">
            Sponsor Name :
          </label>
          <input id="sponsorName" type="text" class="form-control" formControlName="sponser_name"
            placeholder="Enter sponsor name (optional)" />
        </div>

        <div class="mb-3 d-flex align-items-center gap-4">
          <label>Team Profilesss : </label>
          <div class="image-upload-container text-center">

            <div class="image-preview-wrapper">
              <button type="button" class="cancel-btn" (click)="cancel()">✕</button>
              <img [src]="filedata ? url : (profileImages ? profileImages : default_img)"
                (error)="handleImageError($event, default_img)" alt="Profile Image" class="profile-img">
              <img *ngIf="filedata != null && filedata != ''" [src]="url" alt="Profile Images" class="profile-img">
              <img *ngIf="profileImages !=null && profileImages != ''" [src]="profileImages" alt="Profile Images"
                (error)="handleImageError($event, default_img)" class="profile-img">
              <!-- <img *ngIf="!selectedTeam?.profile_url" [src]="default_img" class="preview-img" />
              <img *ngIf="selectedTeam?.profile_url" [src]="selectedTeam.profile_url" class="preview-img"
                (error)="handleImageError($event, default_img)" /> -->
            </div>

            <div class="split-button-wrapper">
              <label for="profileImageInput" class="split-button upload-half">
                <input type="file" id="profileImageInput" accept="image/*" (change)="fileEvent($event)" hidden
                  formControlName="profile_url" />
                Upload
              </label>
              <button type="button" class="split-button crop-half" (click)="cropPopOpen()">
                Crop
              </button>
            </div>
            <div *ngIf="imageSizeError" class="required-msg" [style]="{width: '120px'}">
              {{ imageSizeError }}
            </div>
          </div>
          <small class="text-danger" *ngIf="ManageTeamsForm.get('profile_url')?.errors">
            * Only PNG,JPEG, or JPG files are allowed.
          </small>

          <div *ngIf="showCropperModal" class="modal img-cropper-popup">
            <div class="modal-content crop-image">
              <div class="modal-header modal-header-img">
                <h2 style="font-size: 20px; margin-left: 38%;">Crop Image</h2>
              </div>
              <div class="modal-body img-fix">
                <image-cropper [imageBase64]="imageBase64" [maintainAspectRatio]="true" [aspectRatio]="4 / 3"
                  (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
                  (loadImageFailed)="loadImageFailed()">
                </image-cropper>
              </div>
              <div class="modal-footer crop-footer">
                <button class="submit-btn margin-right save-button" (click)="saveCroppedImage()">Save</button>
                <button class="custom-cancel-btn submit-btn margin-right" (click)="cancelImg()">Cancel</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Buttons -->
        <div class="text-end">
          <button type="submit" class="btn btn-primary save-button" (click)="updateTeam()">
            Submit
          </button>
          <button type="button" class="btn btn-secondary ms-2 custom-cancel-btn" (click)="clear()">
            Clear
          </button>
          <button type="button" class="btn btn-secondary ms-2 custom-cancel-btn" (click)="closeEditPopup()">
            Close
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
<p-dialog header="Teams Details" [(visible)]="viewDialogVisible" [modal]="true" [dismissableMask]="true">
  <div class="popup-container">
    <div *ngFor="let teams of selectedTeams" class="popup-content">
      <div class="top-bar">
        <div class="profile-image-wrapper">
          <span class="person-image-team-player">
            <img class="player-img Viewimg" *ngIf="teams.profile_img==null || teams.profile_img==''"
              [src]="default_img">

            <img class="player-img viewimg" *ngIf="teams.profile_img!=null  && teams.profile_img!=''"
              [src]="teams.profile_img" (error)="handleImageError($event, default_img)">
          </span>
        </div>
        <div class="popup-title">
          {{ getTeamNameParts(teams['team name']).name | uppercase }}
          <br>
          <span style="font-weight: normal;">{{ getTeamNameParts(teams['team name']).category }}</span>
        </div>
        <button class="popup-close" pTooltip="Close popup" tooltipPosition="left" (click)="viewDialogVisible = false"
          aria-label="Close popup">✖</button>
      </div>

      <section class="popup-section">
        <h2 class="section-title"> Teams Details</h2>
        <div class="info-row"><span class="info-label">Gender</span>
          <span class="separator">|</span><span class="info-value">{{ teams['gender'] }}</span>
        </div>
        <div class="info-row"><span class="info-label">Age Group</span><span class="separator">|</span><span
            class="info-value">{{ teams['age group'] }}</span></div>
        <div class="info-row"><span class="info-label">Team Category</span><span class="separator">|</span><span
            class="info-value">{{ teams['team category'] }}</span></div>

      </section>
    </div>
  </div>
</p-dialog>
<p-toast position="center" [baseZIndex]="11000">
  <ng-template let-message pTemplate="message">
    <div class="custom-toast-message">
      <img *ngIf="message?.data?.image" [src]="message.data.image" style="width: 40px; height: 40px" />
      <div>
        <div class="font-bold">{{ message.summary }}</div>
        <div>{{ message.detail }}</div>
      </div>
    </div>
  </ng-template>
</p-toast>