::ng-deep .p-datatable .p-datatable-thead>tr>th {
  background-color: #f4f5ff !important;
  color: black !important;
}


.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
}

.groundname {
  cursor: pointer;
  color: #1d7042;
  font-weight: 300 !important;
}

.image-upload-container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}

.img-croper-popup .modal-content.crop-image {
  width: auto;
  max-width: 400px;
  padding: 0;
  margin: auto;
}

.img-croper-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.import-btn {
  background-color: #5b6b8f;
  color: white;
  border: none;
  padding: 4px 12px;
  cursor: pointer;
  height: 31px;
  font-size: 13px;
  /* border-radius: 4px; */
  margin: -40px -40px 4px 751px;
  border-radius: 1px;
  /* your old positioning */
}

/* Override margins on small screens */
@media (max-width: 768px) {
  .import-btn {
    margin: 8px 0 0 0;
    /* reset margins */
    align-self: flex-end;
  }
}


::ng-deep .p-paginator {
  flex-wrap: nowrap !important;
  overflow-x: auto;
  justify-content: center !important;
}

::ng-deep .p-paginator .p-paginator-pages {
  flex-wrap: nowrap !important;
}

::ng-deep .p-paginator .p-dropdown {
  min-width: 70px !important;
}

.p-confirm-dialog-custom .icon-success {
  color: #4CAF50;
  font-size: 21px;
}

::ng-deep .import-popup {
  /* border: 3px solid #007ad9; */
  border-radius: 1px;
}

:host ::ng-deep .import-team-table .checkbox-col {
  text-align: center;
  width: 100px;
  vertical-align: middle;
  padding: 6px;
}

:host ::ng-deep .import-team-table .checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

:host ::ng-deep .import-team-table .p-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.import-team-table .p-datatable-thead>tr>th {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #f8f9fa;
}