<div class="page-wrapper">
  <div class="content container-fluid">
    <main>
      <div class="card margin-card">
        <div class="card-body">
          <div class="page-header main-page-header d-flex align-items-center justify-content-between">
            <div class="main-page-title page-title playerbackground">
              <i class="fa fa-universal-access" aria-hidden="true"></i>
              All Official
              <div class="totalrecord">: {{ totalData }}</div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-center gap-2 mb-2">
              <p-dropdown [options]="clientData" *ngIf="isClientShow" optionLabel="client_name" optionValue="client_id"
                [(ngModel)]="client_id" (ngModelChange)="callBackClientChange()" placeholder="Client Id" [filter]="true"
                appendTo="body" class=" w-100 
                 drop-error header-drop">
                <ng-template let-Client pTemplate="item">
                  <div class="country-item">
                    <div>{{ Client.client_name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
            <!-- Search Form -->
            <form class="d-flex align-items-center  gap-2" (submit)="gridload()">
              <div class="p-input-icon-right flex-grow-1">

                <input pInputText type="text" [(ngModel)]="searchKeyword" name="searchKeyword" class="width-search"
                  placeholder="  Search" (input)="filterGlobal()" (keypress)="blockQuotesOnly($event)"
                  (input)="sanitizeQuotesOnly('Search', $event)">
              </div>
              <button type="button" class="clear-button" (click)="clear()"> Clear </button>

            </form>

            <div class="card flex justify-center">
              <button *ngIf="!ShowForm" class="new-button p-button-text" (click)="resetForm()" (click)="showAddForm()">
                <i class="fas fa-plus"></i> Create</button>
            </div>

          </div>
          <!-- STATUS Confirmation POPUP -->

          <p-confirmDialog [style]="{width: '300px', height: '200px'}" [baseZIndex]="10000" [draggable]="false"
            [closable]="false" [styleClass]="'p-confirm-dialog-custom'">
          </p-confirmDialog>

          <!-- View Official In Grid Load-->
          <p-dialog [(visible)]="visibleDialog" [style]="{ width: '30vw' }" [closable]="false" [modal]="true">

            <div class="tabel-info position-relative">
              <div class="view-name">{{ selectedOfficial?.name | uppercase }}</div>
              <button type="button" pButton icon="pi pi-times" class="p-button-rounded p-button-text close-btn"
                (click)="visibleDialog = false" style="position: absolute; right: 1rem; top: 1rem; color: #e53935;"
                aria-label="Close">
              </button>
            </div>
            <!-- Grid Info -->
            <div class="tabel-grid">
              <div class="info-block">
                <label>Country</label>
                <div>{{ selectedOfficial?.country}}</div>
              </div>
              <div class="info-block">
                <label>Official Type</label>
                <div>{{ selectedOfficial?.type }}</div>
              </div>
            </div>
          </p-dialog>
          <p-table #dt [value]="officialDataList" [styleClass]="'custom-table'"
            [globalFilterFields]="['display_name','country','format','official_type','category','record_status']">

            <ng-template pTemplate="header">
              <tr>

                <th pSortableColumn="display_name">Official Name <p-sortIcon field="display_name"></p-sortIcon>

                </th>
                <th pSortableColumn="country">Country <p-sortIcon field="country"></p-sortIcon>

                </th>
                <th pSortableColumn="format">Format <p-sortIcon field="format"></p-sortIcon>
                </th>
                <th pSortableColumn="official_type">Officialtype <p-sortIcon field="official_type"></p-sortIcon>
                </th>
                <th pSortableColumn="category">Category<p-sortIcon field="category"></p-sortIcon>
                </th>
                <th pSortableColumn="record_status">Status <p-sortIcon field="record_status"></p-sortIcon>
                </th>
                <th class="custom-header action-column-header">Actions</th>
              </tr>


            </ng-template>

            <ng-template pTemplate="body" let-official>
              <tr>
                <td>
                  <span class="person-image-team-player">
                    <img class="player-img" *ngIf="official.profile_img==null || official.profile_img==''"
                      [src]="default_img">

                    <img class="player-img" *ngIf="official.profile_img!=null  && official.profile_img!=''"
                      [src]="official.profile_img" (error)="handleImageError($event, default_img)">
                  </span>
                  {{official.display_name}}
                </td>

                <td>{{ official.country }}</td>
                <td>{{ official.format}}</td>
                <td>{{ official.official_type}}</td>
                <td>{{ official.category}}</td>

                <td>
                  <span [ngClass]="{
                      ' bg-success': official.record_status === 'Active',
                      ' bg-danger': official.record_status === 'InActive'
                    }"> {{ official.record_status }}
                  </span>
                </td>

                <td>


                  <span class="icon-blue" (click)="Editofficial(official)" pTooltip="Edit" tooltipPosition="top">
                    <i class="fa-solid fa-user-pen"></i>
                  </span>


                  <span class="icon-green"
                    (click)="StatusConfirm(official.official_id,conditionConstants.active_status,official.record_status)"
                    pTooltip="Activate" tooltipPosition="top">
                    <i class="fa-solid fa-circle-check"></i>
                  </span>

                  <span class="icon-red"
                    (click)="StatusConfirm(official.official_id,conditionConstants.deactive_status,official.record_status)"
                    pTooltip="Deactivate" tooltipPosition="top">
                    <i class="fa-solid fa-trash-can-arrow-up"></i>
                  </span>

                  <!-- <span class="icon-white" (click)="Perfoileupdate(official)" pTooltip="Edit" tooltipPosition="top">
                       <i class="fa-solid fa-eye"></i> 
                  </span>  -->


                  <span class="icon-rose" pTooltip="Manage" tooltipPosition="top"
                    (click)="Editpersonalofficial(official )">
                    <i class="fa-solid fa-building-columns"></i>
                  </span>
              </tr>
            </ng-template>
          </p-table>
          <p-paginator [rows]="rows" [totalRecords]="totalData" [first]="(first - 1) * rows"
            [rowsPerPageOptions]="[10, 25,50,100]" (onPageChange)="onPageChange($event)">
          </p-paginator>

        </div>
      </div>
      <p-drawer [(visible)]="ShowForm" [baseZIndex]="10000" position="right" [showCloseIcon]="false">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <div class="small-heading">
            <div
              *ngIf="addOfficialForm.get('official_id')?.value == '' || addOfficialForm.get('official_id')?.value == null">
              Add Official </div>
            <div
              *ngIf="addOfficialForm.get('official_id')?.value != null && addOfficialForm.get('official_id')?.value != ''">
              Edit Official</div>
          </div>
        </div>


        <form [formGroup]="addOfficialForm">
          <div class="row gy-3">


            <div class="col-md-6">
              <label class="">First Name
                <span class="text-danger">*</span>
              </label>
              <input class="form-control" maxlength="50" type="text" formControlName="first_name"
                (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('first_name', $event)">
              <small
                *ngIf="addOfficialForm?.get('first_name')?.invalid &&(addOfficialForm?.get('first_name')?.touched) || (addOfficialForm.get('first_name')?.invalid && submitted)"
                class="required-msg"> First name is Required
              </small>
            </div>



            <div class="col-md-6">
              <label class="">Middle Name
              </label>
              <input class="form-control" maxlength="50" type="text" formControlName="middle_name"
                (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('middle_name', $event)">

            </div>

            <div class="col-md-6">
              <label class="">Sur Name
              </label>
              <input class="form-control" maxlength="50" type="text" formControlName="sur_name"
                (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('sur_name', $event)">
              <small
                *ngIf="addOfficialForm.get('sur_name')?.invalid &&(addOfficialForm.get('sur_name')?.touched) || (addOfficialForm.get('sur_name')?.invalid && submitted)"
                class="required-msg">Sur name is Required
              </small>
            </div>


            <div class="col-md-6">
              <label class="">Display Name
                <span class="text-danger">*</span>
              </label>
              <input class="form-control" maxlength="50" type="text" formControlName="display_name"
                (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('display_name', $event)">
              <small
                *ngIf="addOfficialForm.get('display_name')?.invalid &&(addOfficialForm.get('display_name')?.touched) || (addOfficialForm.get('display_name')?.invalid && submitted)"
                class="required-msg">Display name is Required
              </small>
            </div>


            <div class="col-md-6">
              <label>Club ID</label>
              <span class="text-danger">*</span>
              <p-dropdown [options]="clubsDropdownData" class="drop-error " formControlName="club_id"
                optionValue="club_id" optionLabel="club_name" placeholder="Select Club Id">
                <ng-template let-club pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ club.club_name }}
                    </div>
                  </div>
                </ng-template>
              </p-dropdown>
              <small
                *ngIf="addOfficialForm?.get('club_id')?.invalid &&(addOfficialForm?.get('club_id')?.touched) || (addOfficialForm.get('club_id')?.invalid && submitted)"
                class="required-msg"> Club ID is Required
              </small>
            </div>

            <div class="col-md-6">
              <label class="">Reference Sourece ID
              </label>
              <input class="form-control" maxlength="20" type="text" formControlName="reference_id"
                (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('reference_id', $event)">

            </div>

            <div class="col-md-6">
              <label>Gender</label>
              <span class="text-danger">*</span>

              <p-dropdown [options]="genderSelect" class="drop-error " formControlName="gender_id"
                optionValue="config_id" optionLabel="config_name" placeholder="Select Gender"
                [panelStyleClass]="'custom-dropdown-panel'">
                <ng-template let-gender pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ gender.config_name }}
                    </div>
                  </div>
                </ng-template>
              </p-dropdown>
              <small
                *ngIf="addOfficialForm.get('gender_id')?.invalid &&(addOfficialForm.get('gender_id')?.touched) || (addOfficialForm.get('gender_id')?.invalid && submitted)"
                class="required-msg"> Gender is Required
              </small>
            </div>

            <div class="col-md-6">
              <label>Player DOB</label>
              <input class="form-control" type="date" placeholder="Enter DOB" formControlName="dob">
            </div>

            <div class="col-md-6">

              <label>Country</label>
              <span class="text-danger">*</span>
              <p-dropdown [options]="countrydropdownData " class="drop-error " formControlName="country_id"
                optionValue="region_id" optionLabel="region_name" placeholder="Select Official Country">
                <ng-template let-gender pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ gender.region_name }}
                    </div>
                  </div>
                </ng-template>
              </p-dropdown>
              <small
                *ngIf="addOfficialForm?.get('country_id')?.invalid &&(addOfficialForm?.get('country_id')?.touched) || (addOfficialForm.get('country_id')?.invalid && submitted)"
                class="required-msg"> country is Required
              </small>
            </div>


            <div class="col-md-6">
              <label>Format</label>
              <span class="text-danger">*</span>
              <p-dropdown [options]="teamformat" class="drop-error " formControlName="format_id" optionValue="config_id"
                optionLabel="config_name" placeholder="Select Format Id">
                <ng-template let-gender pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ gender.config_name }}
                    </div>
                  </div>
                </ng-template>
              </p-dropdown>
              <small
                *ngIf="addOfficialForm?.get('format_id')?.invalid &&(addOfficialForm?.get('format_id')?.touched) || (addOfficialForm.get('format_id')?.invalid && submitted)"
                class="required-msg"> format is Required
              </small>
            </div>



            <div class="col-md-6">
              <label>Official Type</label>
              <span class="text-danger">*</span>
              <p-dropdown [options]="officialtype" class="drop-error" formControlName="official_type_id"
                optionValue="config_id" optionLabel="config_name" placeholder="Select Official Type"
                (onChange)="onOfficialChange($event.value)">
                <ng-template let-ageformat pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ ageformat.config_name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
              <small
                *ngIf="addOfficialForm?.get('official_type_id')?.invalid &&(addOfficialForm?.get('official_type_id')?.touched) || (addOfficialForm.get('official_type_id')?.invalid && submitted)"
                class="required-msg"> official type is Required
              </small>

            </div>

            <!-- Child Dropdown with dynamic label -->
            <div class="col-md-6" *ngIf="childOptions.length > 0">
              <label>{{ childLabel }}</label>
              <span class="text-danger">*</span>
              <p-dropdown [options]="childOptions" class="drop-error" formControlName="official_category_id"
                optionValue="config_id" optionLabel="config_name" placeholder="Select {{ childLabel }}">
                <ng-template let-option pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ option.config_name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
              <small
                *ngIf="addOfficialForm?.get('official_category_id')?.invalid &&(addOfficialForm?.get('official_category_id')?.touched) || (addOfficialForm.get('official_category_id')?.invalid && submitted)"
                class="required-msg"> official type is Required
              </small>
            </div>


            <div class="col-md-6">
              <label>Profile Image</label>
              <div class="image-upload-container text-center">
                <div class="image-preview-wrapper">
                  <button type="button" class="cancel-btn" (click)="cancel()">✕</button>
                  <img *ngIf="(filedata == null || filedata == '') && (profileImages == null || profileImages == '')"
                    [src]="default_img" alt="Profile Image" class="profile-img">
                  <img *ngIf="filedata != null && filedata != ''" [src]="url" alt="Profile Image" class="profile-img">
                  <img *ngIf="profileImages != null && profileImages != ''" [src]="profileImages"
                    (error)="handleImageError($event, default_img)" alt="Profile Image" class="profile-img">
                </div>
                <div class="split-button-wrapper">
                  <label for="profileImageInput" class="split-button upload-half">
                    <input type="file" id="profileImageInput" accept="image/*" (change)="fileEvent($event)" hidden
                      formControlName="profile_img" />
                    Upload
                  </label>
                  <button type="button" class="split-button crop-half" (click)="cropPopOpen()">
                    Crop
                  </button>
                </div>

                <div>
                  <small class="text-danger" *ngIf="addOfficialForm.get('profile_img')?.errors">
                    * Only PNG, JPEG, or JPG files are allowed
                  </small>
                </div>
              </div>
              <!-- Cropper Modal -->
              <div *ngIf="showCropperModal" class="modal img-croper-popup">
                <div class="modal-content crop-image">
                  <div class="modal-header modal-header-img">
                    <h2 style="font-size: 20px; margin-left: 38%;">Crop Image</h2>
                  </div>
                  <div class="modal-body img-fix">
                    <image-cropper [imageBase64]="imageBase64" [maintainAspectRatio]="true" [aspectRatio]="4 / 3"
                      (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                      (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
                  </div>
                  <div class="modal-footer crop-footer">
                    <button class="submit-btn margin-right save-button" (click)="saveCroppedImage()">Save</button>
                    <button class=" custom-cancel-btn submit-btn margin-right" (click)="cancelImg()">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="form-wrapper pb-5">

            <div class="row mt-4 sticky-footer-buttons">
              <div class="col-12 text-end">
                <button pButton type="button" label="Cancel" class="p-button-secondary me-3 custom-cancel-btn"
                  (click)="cancelForm()"></button>

                <button pButton type="button" label="Clear" class="p-button-secondary me-3 custom-cancel-btn"
                  *ngIf="addOfficialForm.get('official_id')?.value == '' || addOfficialForm.get('official_id')?.value == null"
                  (click)="resetForm()">
                </button>
                <button pButton type="button" label="Save" class="save-button" (click)="addOfficialdata()"></button>
              </div>
            </div>
          </div>
        </form>
      </p-drawer>


      <!-- Personal Update Form Page -->
      <p-drawer [(visible)]="personalShowForm" [baseZIndex]="10000" position="right" [showCloseIcon]="false"
        styleClass="drawer-personal">

        <div class="d-flex justify-content-between align-items-center mb-4">

          <button *ngIf="isPersonalDataIntialized" pButton type="button" (click)="enableEditMode()"
            [ngClass]="disableReadonly ? 'readonly-true' : 'readonly-false'">
            {{ disableReadonly ? 'Enable Edit' : 'Disable Edit' }}
          </button>

          <h3 class="small-heading">
            {{ isEditPersonal ? 'Edit Personal Information' : 'Update Personal Information' }}
          </h3>

        </div>

        <form [formGroup]="addPersonalForm">
          <div class="row gy-3">
            <!-- Left Column - Input Fields -->
            <div class="col-md-6">
              <div class="p-3 border rounded shadow-sm h-100 bg-white">
                <h5 class="mb-3">Official Details</h5>
                <div class="row gy-3">



                  <div class="col-md-6">
                    <label class="">Father Name

                    </label>
                    <input class="form-control" maxlength="50" type="text" formControlName="father_name"
                      (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('first_name', $event)"
                      [readonly]="disableReadonly&&isPersonalDataIntialized">

                  </div>

                  <div class="col-md-6">
                    <label class="">Mother Name

                    </label>
                    <input class="form-control" maxlength="50" type="text" formControlName="mother_name"
                      (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('first_name', $event)"
                      [readonly]="disableReadonly&&isPersonalDataIntialized">

                  </div>


                  <div class="col-md-6">
                    <label class="">Guardian

                    </label>
                    <input class="form-control" maxlength="50" type="text" formControlName="guardian_name"
                      (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('first_name', $event)"
                      [readonly]="disableReadonly&&isPersonalDataIntialized">

                  </div>

                  <div class="col-md-6">
                    <label>Country Of Birth <span class="text-danger">*</span></label>

                    <p-dropdown [options]="countriesList" formControlName="country_of_birth"
                      placeholder="Select Country" optionValue="country_id" optionLabel="country_name"
                      class="drop-error" [panelStyleClass]="'custom-dropdown-panel'"
                      [readonly]="disableReadonly && isPersonalDataIntialized"
                      (ngModelChange)="getStates(addPersonalForm.get('country_id')?.value)">
                      <ng-template let-country pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ country.country_name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>

                    <small *ngIf="addPersonalForm.get('country_of_birth')?.invalid && 
           (addPersonalForm.get('country_of_birth')?.touched || submitted)" class="required-msg">
                      Country Of Birth is Required
                    </small>
                  </div>


                  <div class="col-md-6">
                    <label>Primary Phone No</label>
                    <span class="text-danger">*</span>
                    <input class="form-control" type="text" maxlength="10" formControlName="primary_phone"
                      (input)="onPhoneNumberInput($event, 'primary_phone')"
                      [readonly]="disableReadonly&&isPersonalDataIntialized" />

                    <div
                      *ngIf="addPersonalForm.get('primary_phone')?.touched && addPersonalForm.get('primary_phone')?.invalid || (submitted && addPersonalForm.get('primary_phone')?.invalid)">

                      <small *ngIf="addPersonalForm.get('primary_phone')?.errors?.['required']" class="required-msg">
                        * Mobile number is required
                      </small>

                      <small *ngIf="addPersonalForm.get('primary_phone')?.errors?.['pattern']" class="required-msg">
                        * Invalid mobile number
                      </small>

                    </div>
                  </div>

                  <div class="col-md-6">
                    <label>Secondary Phone No</label>
                    <input class="form-control" type="text" maxlength="10" formControlName="secondary_phone"
                      (input)="onPhoneNumberInput($event, 'secondary_phone')"
                      [readonly]="disableReadonly&&isPersonalDataIntialized" />

                    <div
                      *ngIf="addPersonalForm.get('secondary_phone')?.touched && addPersonalForm.get('secondary_phone')?.invalid">
                      <small *ngIf="addPersonalForm.get('secondary_phone')?.errors?.['pattern']" class="required-msg">
                        * Invalid mobile number
                      </small>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <label>Primary Email Id <span class="text-danger">*</span></label>
                    <input class="form-control" type="email" maxlength="100" formControlName="primary_email_id"
                      [readonly]="disableReadonly && isPersonalDataIntialized" />

                    <div
                      *ngIf="addPersonalForm.get('primary_email_id')?.touched && addPersonalForm.get('primary_email_id')?.invalid">
                      <small *ngIf="addPersonalForm.get('primary_email_id')?.errors?.['required']" class="required-msg">
                        * Email is required
                      </small>
                      <small *ngIf="addPersonalForm.get('primary_email_id')?.errors?.['pattern']" class="required-msg">
                        * Invalid email: abcd&#64;example.com
                      </small>
                    </div>
                  </div>



                  <div class="col-md-6">
                    <label>Secondary Email Id</label>
                    <input class="form-control" type="email" maxlength="100" formControlName="secondary_email_id"
                      [readonly]="disableReadonly&&isPersonalDataIntialized">
                    <div
                      *ngIf="addPersonalForm.get('secondary_email_id')?.touched && addPersonalForm.get('secondary_email_id')?.invalid">
                      <small *ngIf="addPersonalForm.get('secondary_email_id')?.errors?.['pattern']"
                        class="required-msg">
                        * Invalid email: abcd&#64;example.com
                      </small>

                    </div>
                  </div>





                  <div class="col-md-6">
                    <label>Nationality <span class="text-danger">*</span></label>

                    <p-dropdown [options]="countrydropdownData" formControlName="nationality_id"
                      placeholder="Select Nationality" optionLabel="region_name" placeholder="Select Nationality"
                      class="drop-error" [filter]="true" [panelStyleClass]="'custom-dropdown-panel'"
                      [readonly]="disableReadonly && isPersonalDataIntialized">
                      <ng-template let-nationality pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ nationality.region_name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>

                    <small *ngIf="addPersonalForm.get('nationality_id')?.invalid &&
           (addPersonalForm.get('nationality_id')?.touched || submitted)" class="required-msg">
                      Nationality is Required
                    </small>
                  </div>




                  <div class="col-md-6">
                    <label>Residence Country <span class="text-danger">*</span></label>

                    <p-dropdown [options]="countriesList" formControlName="residence_country_id"
                      placeholder="Select Residence Country" optionValue="country_id" optionLabel="country_name"
                      class="drop-error" appendTo="self" [panelStyleClass]="'custom-dropdown-panel'"
                      [readonly]="disableReadonly && isPersonalDataIntialized"
                      (ngModelChange)="getStates(addPersonalForm.get('country_id')?.value)">
                      <ng-template let-country pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ country.country_name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>

                    <small *ngIf="addPersonalForm.get('residence_country_id')?.invalid &&
           (addPersonalForm.get('residence_country_id')?.touched || submitted)" class="required-msg">
                      Residence Country is Required
                    </small>
                  </div>




                  <!-- Country Dropdown -->
                  <div class="col-md-6">
                    <label>Country <span class="text-danger">*</span></label>

                    <p-dropdown [options]="countriesList" formControlName="country_id" placeholder="Select Country"
                      optionValue="country_id" optionLabel="country_name" class="drop-error" appendTo="self"
                      [panelStyleClass]="'custom-dropdown-panel'"
                      [readonly]="disableReadonly && isPersonalDataIntialized"
                      (ngModelChange)="getStates(addPersonalForm.get('country_id')?.value)">
                      <ng-template let-country pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ country.country_name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>

                    <small *ngIf="addPersonalForm.get('country_id')?.invalid &&
           (addPersonalForm.get('country_id')?.touched || submitted)" class="required-msg">
                      Country is required
                    </small>
                  </div>

                  <div class="col-md-6">
                    <label>State <span class="text-danger">*</span></label>

                    <p-dropdown [options]="statesList" formControlName="state_id" placeholder="Select State"
                      optionValue="state_id" optionLabel="state_name" class="drop-error"
                      [readonly]="disableReadonly && isPersonalDataIntialized"
                      (ngModelChange)="getCities(addPersonalForm.get('state_id')?.value)">
                      <ng-template let-state pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ state.state_name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>

                    <small *ngIf="addPersonalForm.get('state_id')?.invalid &&
           (addPersonalForm.get('state_id')?.touched || submitted)" class="required-msg">
                      State is required
                    </small>
                  </div>


                  <div class="col-md-6">
                    <label>City
                    </label>
                    <p-dropdown [options]="citiesList" class="drop-error " placeholder="Select City"
                      formControlName="city_id" optionValue="city_id" optionLabel="city_name"
                      [readonly]="disableReadonly&&isPersonalDataIntialized">
                      <ng-template let-city pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ city.city_name }}
                          </div>
                        </div>
                      </ng-template>
                    </p-dropdown>

                  </div>


                  <div class="col-md-6">
                    <label class="">Post Code

                    </label>
                    <input class="form-control" maxlength="10" type="text" formControlName="post_code"
                      (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('post_code', $event)"
                      [readonly]="disableReadonly&&isPersonalDataIntialized">


                  </div>

                  <div class="col-md-6">
                    <label class="">Address 1

                    </label>
                    <input class="form-control" maxlength="50" type="text" formControlName="address_1"
                      (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('first_name', $event)"
                      [readonly]="disableReadonly&&isPersonalDataIntialized">

                  </div>

                  <div class="col-md-6">
                    <label class="">Address 2

                    </label>
                    <input class="form-control" maxlength="50" type="text" formControlName="address_2"
                      (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('first_name', $event)"
                      [readonly]="disableReadonly&&isPersonalDataIntialized">

                  </div>


                </div>
              </div>
            </div>


            <!-- Right  Column - Input Fields -->
            <div class="col-md-6">

              <div class="p-3 border rounded shadow-sm h-100 bg-white">
                <h5 class="mb-3">Official Details</h5>

                <div class="row gy-3">




                  <div class="col-md-6">
                    <label>Emergency Phone No</label>
                    <input class="form-control" type="text" maxlength="10" formControlName="emergency_number"
                      (input)="onPhoneNumberInput($event, 'emergency_number')"
                      [readonly]="disableReadonly&&isPersonalDataIntialized" />

                    <div
                      *ngIf="addPersonalForm.get('emergency_number')?.touched && addPersonalForm.get('emergency_number')?.invalid">
                      <small *ngIf="addPersonalForm.get('emergency_number')?.errors?.['pattern']" class="required-msg">
                        * Invalid mobile number
                      </small>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <label>Emergency Email Id</label>
                    <input class="form-control" type="email" maxlength="100" formControlName="emergency_email"
                      [readonly]="disableReadonly&&isPersonalDataIntialized">
                    <div
                      *ngIf="addPersonalForm.get('emergency_email')?.touched && addPersonalForm.get('emergency_email')?.invalid">
                      <small *ngIf="addPersonalForm.get('emergency_email')?.errors?.['pattern']" class="required-msg">
                        * Invalid email: abcd&#64;example.com
                      </small>

                    </div>
                  </div>

                  <div class="col-md-6">
                    <label class="">Emergency Contact

                    </label>
                    <input class="form-control" maxlength="50" type="text" formControlName="emergency_contact"
                      (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('first_name', $event)"
                      [readonly]="disableReadonly&&isPersonalDataIntialized">

                  </div>

                  <div class="col-md-6">
                    <label>Emergency Type</label>
                    <p-dropdown [options]="emergencyTypeList" class="drop-error" formControlName="emergency_type"
                      placeholder="Select Emergency Type" optionValue="config_id" optionLabel="config_name"
                      [readonly]="disableReadonly&&isPersonalDataIntialized">
                      <ng-template let-item pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ item.config_name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>

                  <div class="col-md-6">
                    <label>Accreditation Level</label>
                    <p-dropdown [options]="accreditationList" class="drop-error"
                      formControlName="accreditation_level_id" placeholder="Select Accreditation Level"
                      optionValue="config_id" optionLabel="config_name"
                      [readonly]="disableReadonly&&isPersonalDataIntialized">
                      <ng-template let-item pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ item.config_name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>

                  <div class="col-md-6">
                    <label class="">Accreditation Id

                    </label>
                    <input class="form-control" maxlength="50" type="text" formControlName="accreditation_id"
                      (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('first_name', $event)"
                      [readonly]="disableReadonly&&isPersonalDataIntialized">

                  </div>

                  <div class="col-md-6">
                    <label>Official Profile Status </label>
                    <p-dropdown [options]="officialStatusList" class="drop-error" formControlName="profile_status_id"
                      placeholder="Select Profile Status" optionValue="config_id" optionLabel="config_name"
                      [readonly]="disableReadonly&&isPersonalDataIntialized">
                      <ng-template let-item pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ item.config_name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>

                  <div class="col-md-6">
                    <label>Accreditation Expiry Date</label>
                    <input class="form-control" type="date" formControlName="accreditation_expiry_date"
                      [readonly]="disableReadonly && isPersonalDataIntialized" />
                  </div>


                  <div class="col-md-6">
                    <label>Blood Group</label>
                    <p-dropdown [options]="bloodgroup" class="drop-error" formControlName="blood_group_id"
                      placeholder="Select Blood Group" optionValue="config_id" optionLabel="config_name"
                      [readonly]="disableReadonly&&isPersonalDataIntialized">
                      <ng-template let-item pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ item.config_name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>


                  <div class="col-md-6">
                    <label class="">Years Of Experience

                    </label>
                    <input class="form-control" maxlength="50" type="text" formControlName="years_of_experience"
                      (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('first_name', $event)"
                      [readonly]="disableReadonly&&isPersonalDataIntialized">

                  </div>



                  <div class="col-md-6">
                    <label class="">Twitter Handle

                    </label>
                    <input class="form-control" maxlength="50" type="text" formControlName="twitter_handle"
                      (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('first_name', $event)"
                      [readonly]="disableReadonly&&isPersonalDataIntialized">

                  </div>

                  <div class="col-md-6">
                    <label class="">Instagram Handle

                    </label>
                    <input class="form-control" maxlength="50" type="text" formControlName="instagram_handle"
                      (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('first_name', $event)"
                      [readonly]="disableReadonly&&isPersonalDataIntialized">

                  </div>

                  <div class="col-md-6">
                    <label class="">Facebook Url

                    </label>
                    <input class="form-control" maxlength="50" type="text" formControlName="facebook_url"
                      (keypress)="blockQuotesOnly($event)" (input)="sanitizeQuotesOnly('first_name', $event)"
                      [readonly]="disableReadonly&&isPersonalDataIntialized">

                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="form-wrapper pb-5">

            <div class="row mt-4 sticky-footer-buttons">
               <div class="col-12 text-end">

                <button pButton type="button" label="Cancel" class="p-button-secondary me-3 custom-cancel-btn"
                  (click)="cancelForm()"></button>

                <button *ngIf="!isEditPersonal" pButton type="button" label="Clear" class="p-button-secondary me-3 custom-cancel-btn"
                  (click)="resetForm()">
                </button>

                <button pButton type="button" label="Save" class="save-button"
                  (click)="PersonalupdateOfficial()"></button>
              </div> 
      
            </div>
          </div>
        </form>


      </p-drawer>

    </main>
  </div>
</div>
<p-toast key="tc" position="top-right"></p-toast>