/* ::ng-deep .p-drawer-right {
    width: 97vw !important;
} */

::ng-deep .drawer-personal.p-drawer.p-drawer-right {
  width: 97vw !important;
  max-width: 97vw !important;
}




/* ::ng-deep .p-dropdown {
  text-align: center !important;
}

::ng-deep .p-dropdown-label {
  justify-content: center !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
} */


.readonly-true {
  left: 88%;
  height: 26px;
  padding: 5px;
  text-align: center;
  color: white !important;
  background-color: rgb(226, 36, 36) !important;
  border-color: rgb(226, 36, 36) !important;
  border-radius: 0px;
  font-size: 14px;
  position: absolute;
}

.readonly-false {
  left: 88%;
  height: 26px;
  padding: 5px;
  text-align: center;
  color: white !important;
  background-color: #367039 !important;
  border-color: #367039 !important;
  border-radius: 0px;
  font-size: 14px;
  position: absolute;
}



/* Image Ipload Style */

.image-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-upload-container .upload-label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-upload-container .image-preview-wrapper {
    width: 120px;
    height: 120px;
    border-radius: 3%;
    border: 2px solid #ccc;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    margin-bottom: 10px;
  }
  
  .image-upload-container .image-preview-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image-upload-container .image-preview-wrapper .placeholder-icon {
    font-size: 30px;
    color: #aaa;
  }
  
  .image-upload-container .upload-btn {
    background-color: #2f46a6;
    color: white;
    padding: 5px 0px;
    border-radius: 2px;
    font-weight: 500;
    width: 100%;
    margin-top: -10%;
  }