<!-- --SCORECARD ---->
<div *ngIf="selectedMatch && activePage=='scorecard'" class="points-form-fullpage">

  <!-- Scorecard Header (Result Page) -->
  <div class="match-center">
    <h2 class="heading2">Result</h2>
    <div class="matches-list">
      <div class="match-row">

        <!-- Left Info -->
        <div class="left-info">
          <h6>
            <span class="head">{{ scorecardHeader.competitionName }}</span>
            <span class="match-date">({{ scorecardHeader.startDate }})</span>
            <span class="match-end-date">-({{ scorecardHeader.endDate }})</span>
          </h6>
          <div class="series">({{ scorecardHeader.matchType }} - {{ scorecardHeader.venue }})</div>
        </div>

        <!-- Teams -->
        <div class="teams">

          <!-- Team A -->
          <div class="team left-team">
            <span class="team-name">{{ scorecardHeader.teamA }} Innings</span>
            <div class="team-score">
              <ng-container *ngIf="scorecardHeader.teamASummary?.length; else yetToBatA">
                <div class="innings-score">
                  <span *ngFor="let inn of scorecardHeader.teamASummary" class="score-text innings-col">
                    <span>{{ inn.runs }}</span>
                    <span class="overs-text">({{ inn.overs }})</span>
                  </span>
                </div>
              </ng-container>
              <ng-template #yetToBatA>Yet to Bat</ng-template>
            </div>
          </div>

          <!-- VS block -->
          <div class="vs-wrapper">
            <img src="assets/images/game.png" alt="VS" class="VS-icon" />
            <div class="result-status" *ngIf="scorecardHeader.result">
              <strong>{{ scorecardHeader.result }}</strong>
            </div>
          </div>

          <!-- Team B -->
          <div class="team right-team">
            <span class="team-name">{{ scorecardHeader.teamB }} Innings</span>
            <div class="team-score">
              <ng-container *ngIf="scorecardHeader.teamBSummary?.length; else yetToBatB">
                <div class="innings-score">
                  <span *ngFor="let inn of scorecardHeader.teamBSummary" class="score-text innings-col">
                    <span>{{ inn.runs }}</span>
                    <span class="overs-text">({{ inn.overs }})</span>
                  </span>
                </div>
              </ng-container>
              <ng-template #yetToBatB>Yet to Bat</ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Back Button -->
  <div class="form-actions">
    <button type="button" (click)="closeScorecard()">Back</button>
  </div>
  <!-- Tabs -->
  <!-- <h2 class="heading3">Score Details</h2> -->
  <div class="scorecard-container">
    <div class="tabs">
      <span class="tab" (click)="activeTab='scorecard'"
        [ngClass]="{ activeTab: activeTab==='scorecard' }">Scorecard</span>
      <span class="tab" (click)="activeTab='squad'" [ngClass]="{ activeTab: activeTab==='squad' }">Squad</span>
      <span class="tab" (click)="activeTab='videos'" [ngClass]="{ activeTab: activeTab==='videos' }">Videos</span>
    </div>

    <!-- Dynamic innings buttons for both teams Non test Match -->
    <div class="innings-button" *ngIf="scorecardHeader.matchType !== 'Multiday' && activeTab==='scorecard'">
<button *ngFor="let inn of getAllInnings()"
        (click)="setActiveInnings(inn.team, inn.index)"
        [ngClass]="{ activetab: activeInnings === inn.team + inn.index }">
  {{ inn.teamName }} Inn {{ inn.index + 1 }}  {{ inn.display }}
</button>
    </div>

    <!-- Test match innings buttons -->
    <div class="test-innings-button" *ngIf="scorecardHeader.matchType === 'Multiday' && activeTab==='scorecard'">
      <button *ngFor="let inn of inningsList; let i = index" (click)="activeinnings = inn.key"
        [ngClass]="{ activetab: activeinnings === inn.key }">
        {{ inn.team }} {{ inn.text }}
        <ng-container *ngIf="inn.summary && inn.summary.runs">
          {{ inn.summary.runs }}
          <ng-container *ngIf="inn.summary.wickets">/{{ inn.summary.wickets }}</ng-container>
          <ng-container *ngIf="inn.summary.overs">({{ inn.summary.overs }})</ng-container>
        </ng-container>
      </button>
    </div>


    <!-- Scorecard Tab -->
    <div *ngIf="activeTab==='scorecard'">
      <!-- Scorecard tables for both teams visible by default -->
      <div class="scorecard-teams-visible" *ngIf="scorecardHeader?.type !== 'Upcoming'">
        <ng-container *ngFor="let inn of getInningsData()">
          <ng-container *ngIf="scorecardHeader.matchType !== 'Multiday' && activeInnings === inn.key">
            <!-- T20 & ODI match -->
            <!-- Batting -->
            <!-- <div class="team-scorecard">
              <span class="TeamsScoreFont">{{ inn.battingTeam }} Batting</span>
              <ng-container *ngTemplateOutlet="battingTable; context:{ batters: inn.batting }"></ng-container>
            </div> -->

            <div class="team-scorecard">
              <span class="TeamsScoreFont">Batting ==></span>
                  <ng-container 
                    *ngTemplateOutlet="extrasTable; context:{ extras: getExtrasForInningsByNumber(inn.innNo) }">
                  </ng-container>
              <ng-container *ngTemplateOutlet="battingTable; context:{ batters: inn.batting }"></ng-container>
            </div>

            <!-- Fall of wickets -->
            <!-- <div class="fall-of-wickets">
              <span class="fallOfwicketsTitle">Fall Of Wickets</span>
              <ng-container *ngTemplateOutlet="fallOfWicketTable; context:{ wickets: inn.fow }"></ng-container>
            </div> -->

                        <div class="team-scorecard">
              <span class="TeamsScoreFont">Fall Of Wickets</span>
              <ng-container *ngTemplateOutlet="fallOfWicketTable; context:{ wickets: inn.fow }"></ng-container>
            </div>

            <!-- Bowling -->
            <!-- <div class="team-scorecard">
              <span class="TeamsScoreFont">
                {{ inn.battingTeam === scorecardHeader.teamA ? scorecardHeader.teamB : scorecardHeader.teamA }} Bowling
              </span>
              <ng-container *ngTemplateOutlet="bowlingTable; context:{ bowlers: inn.bowling }"></ng-container>
            </div> -->
             <div class="team-scorecard">
              <span class="TeamsScoreFont">Bowling</span>
              <ng-container *ngTemplateOutlet="bowlingTable; context:{ bowlers: inn.bowling }"></ng-container>
            </div>

          </ng-container>
        </ng-container>
      </div>

      <!--Test Match Inngings  -->
      <div class="scorecard-teams-visible"
        *ngIf="scorecardHeader?.type !== 'Upcoming' && scorecardHeader?.matchType === 'Multiday'">
        <ng-container *ngFor="let inn of getTestInningsData()">
          <ng-container *ngIf="activeinnings === inn.key">

            <!-- Batting -->
            <!-- <div class="team-scorecard">
        <span class="TeamsScoreFont">{{ inn.battingTeam }} Batting {{ inn.innNo }} Inn</span>
        <ng-container *ngTemplateOutlet="battingTable; context:{ batters: inn.batting }"></ng-container>
      </div> -->
            <div class="team-scorecard">
              <span class="TeamsScoreFont">Batting ==></span>
                  <ng-container 
                    *ngTemplateOutlet="extrasTable; context:{ extras: getExtrasForInningsByNumber(inn.innNo) }">
                  </ng-container>
              <ng-container *ngTemplateOutlet="battingTable; context:{ batters: inn.batting }"></ng-container>
            </div>

            <!-- Fall of wickets -->

            <!-- <div class="fall-of-wickets">
              <span class="fallOfwicketsTitle">Fall Of Wickets</span>
              <ng-container *ngTemplateOutlet="fallOfWicketTable; context:{ wickets: inn.fow }"></ng-container>
            </div> -->
            <div class="team-scorecard">
              <span class="TeamsScoreFont">Fall Of Wickets</span>
              <ng-container *ngTemplateOutlet="fallOfWicketTable; context:{ wickets: inn.fow }"></ng-container>
            </div>

            <!-- Bowling -->

            <!-- <div class="team-scorecard">
              <span class="TeamsScoreFont">{{ inn.bowlingTeam }} Bowling</span>
              <ng-container *ngTemplateOutlet="bowlingTable; context:{ bowlers: inn.bowling }"></ng-container>
            </div> -->             
            <div class="team-scorecard">
              <span class="TeamsScoreFont">Bowling</span>
              <ng-container *ngTemplateOutlet="bowlingTable; context:{ bowlers: inn.bowling }"></ng-container>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <!-- Fall of wickets -->
      <ng-template #fallOfWicketTable let-wickets="wickets">
        <div class="table-scroll">
          <table class="scorecard-table">
            <thead>
              <tr>
                <th>Batter</th>
                <th>Score</th>
                <th>Over</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let w of wickets">
                <td class="player-wicket">
                  <div>{{ w.player_name }}</div>
                  <div>{{ w.wicket_desc }}</div>
                </td>
                <td>{{ w.team_total }}</td>
                <td>{{ w.over_value }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </div>
     
    <!--extras  Resuable block -->
    <ng-template #extrasTable let-extras="extras">
        [<span class="extras-label">Extras-</span>
        <span class="extras-number">{{ extras.total }}</span> =(
        <span class="extras-label">WD</span>-<span class="extras-number">{{ extras.wide }}</span>,
        <span class="extras-label">NB</span>-<span class="extras-number">{{ extras.noBall }}</span>,
        <span class="extras-label">P</span>-<span class="extras-number">{{ extras.penalty }}</span>,
        <span class="extras-label">B</span>-<span class="extras-number">{{ extras.bye }}</span>,
        <span class="extras-label">LB</span>-<span class="extras-number">{{ extras.legBye }}</span>
        )]
    </ng-template>

    <!-- Squad Tab -->
    <div *ngIf="activeTab==='squad'">
      <!-- Show Both Teams' Squads by default -->
      <div class="squad-teams-visible">
        <!-- Team A Squad -->
        <div class="team-squad">
          <span class="TeamsScoreFont">{{ scorecardHeader.teamA }} Squad</span>
          <ng-container *ngTemplateOutlet="squadTable; context:{ players: teamASquad }"></ng-container>
        </div>
        <!-- Team B Squad -->
        <div class="team-squad">
          <span class="TeamsScoreFont">{{ scorecardHeader.teamB }} Squad</span>
          <ng-container *ngTemplateOutlet="squadTable; context:{ players: teamBSquad }"></ng-container>
        </div>
      </div>
    </div>
    <!-- Reusable Squad Table Template -->
    <ng-template #squadTable let-players="players">
  <div class="squad-list">
    <div class="squad-row" *ngFor="let player of players">
      <img class="player-img" src="assets/images/unknown.jpeg" alt="img" />
      <div class="player-info">
        <span class="player-name">{{ player.player_name }}</span>
        <span class="role">
          <span *ngIf="player.is_captain==='1'">(C)</span>
          <span *ngIf="player.is_wk==='1'">(WK)</span>
          <span *ngIf="player.is_sub==='1'">(Sub)</span>
        </span>
      </div>
      <div class="role-icons">
        <img *ngIf="player.is_batter==='1'" src="assets/images/clr-bat.png" alt="Bat" />
        <img *ngIf="player.is_bowler==='1'" src="assets/images/Ball.jpeg" alt="Ball" />
        <img *ngIf="player.is_wk==='1'" src="assets/images/clr-glove-3.jpeg" alt="WK" />
      </div>
    </div>
  </div>
</ng-template>

    <!-- Videos Tab -->
    <div *ngIf="activeTab==='videos'">
      <p>Videos Not Available Right now.....</p>
    </div>
  </div>
  <!-- Match Details (ONLY SHOW ON SCORECARD) -->

</div>

<!-- --Reusable Batting Table ---->
<ng-template #battingTable let-batters="batters">
  <div class="table-scroll">
    <table class="scorecard-table">
      <thead>
        <tr>
          <th>Batter</th>
          <th>R</th>
          <th>B</th>
          <th>4s</th>
          <th>6s</th>
          <th>SR</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let batter of batters">
          <td class="player-batting">
            <div>{{ batter.player_name }}</div>
            <div>{{ batter.wicket_desc }}</div>
          </td>
          <td>{{ batter.runs }}</td>
          <td>{{ batter.balls }}</td>
          <td>{{ batter.bdry_four }}</td>
          <td>{{ batter.bdry_six }}</td>
          <td>{{ batter.strike_rate }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<!-- --Reusable Bowling Table ---->
<ng-template #bowlingTable let-bowlers="bowlers">
  <div class="table-scroll">
    <table class="scorecard-table">
      <thead>
        <tr>
          <th>Bowler</th>
          <th>O</th>
          <th>M</th>
          <th>R</th>
          <th>W</th>
          <th>ER</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bowler of bowlers">
          <td>{{ bowler.player_name }}</td>
          <td>{{ bowler.overs }}</td>
          <td>{{ bowler.maidens }}</td>
          <td>{{ bowler.runs }}</td>
          <td>{{ bowler.wicket }}</td>
          <td>{{ bowler.economy }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>