<div class="container">
  <div class="row mb-3">
    <div class="col-6">
      <p-table #dt1 [value]="sourceGround" [paginator]="true" [globalFilterFields]="['ground_name']"
        [tableStyle]="{ 'min-width': '20rem' }" styleClass="p-datatable-gridlines" [rows]="rows" [first]="first"
        [totalRecords]="totalData" [showCurrentPageReport]="false" [rowsPerPageOptions]="[10, 25, 50]" [lazy]="true"
        (onLazyLoad)="onPageChange($event)" responsiveLayout="scroll">

        <ng-template pTemplate="caption">
          <div class="d-flex align-items-center justify-content-between w-100 gap-3 flex-wrap">
            <div class="p-1 Child-header text-center">Grounds : {{totalData}}</div>
            <div class="d-flex align-items-center gap-2 ms-auto">
              <div class="p-input-icon-left">
                <span class="p-input-icon-right input-icons search-padding">
                  <input pInputText type="text" class="form-control width-search-check-box-grid p-input-icon-right"
                    placeholder="Search" filterBy="ground_name" [(ngModel)]="sourceSearchKeyword"
                    (input)="filterGlobalSource()" />
                </span>
              </div>
              <button class="clear-width table-counts" style="background: aliceblue" (click)="clearSource(dt1)">
                Clear
              </button>
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr class="table-row">
            <th class="position-relative" pSortableColumn="ground_name">
              Ground Name
              <p-sortIcon field="ground_name"></p-sortIcon>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-ground>
          <tr>
            <td>
              <div class="image-person-name">
                <span class="person-image">
                  <img *ngIf="!ground.ground_image" [src]="default_img" class="player-img image-border" />
                  <img *ngIf="ground.ground_image" [src]="ground.ground_image" class="player-img image-border"
                    (error)="handleImageError($event, default_img)" />
                </span>
                <span class="person-name padding-grid-center groundnameover"
                  (click)="onViewGroundDetails(ground.ground_id)">
                  <strong>{{ ground.ground_name }}</strong>
                </span>

                <span>
                  <button class="comp-chid-add-btn" (click)="moveToTarget(ground)">
                    Add
                  </button>
                </span>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="10" class="text-center">No Records Found</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="col-md-6">
      <p-table #dt2 [value]="targetGround" selectionMode="multiple" [globalFilterFields]="['ground_name']"
        [tableStyle]="{ 'min-width': '20rem' }" styleClass="p-datatable-gridlines" [showCurrentPageReport]="false"
        [rowsPerPageOptions]="[10, 25, 50]" [scrollable]="true" scrollHeight="440px">
        <ng-template pTemplate="caption">
          <div class="d-flex align-items-center justify-content-between w-100 gap-3 flex-wrap">
            <div class="p-1 Child-header text-center">Selected : {{ targetGround.length }}</div>
            <div class="d-flex align-items-center gap-2 ms-auto">
              <div class="p-input-icon-left">
                <span class="p-input-icon-right input-icons search-padding">
                  <input pInputText type="text" class="form-control width-search-check-box-grid p-input-icon-right"
                    placeholder="Search" filterBy="ground_name" [(ngModel)]="targetSearchKeyword"
                    (input)="filterGlobalTarget($event, 'contains')" />
                </span>
              </div>
              <button class="clear-width table-counts" style="background: aliceblue" (click)="clearTarget(dt2)">
                Clear
              </button>
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr class="table-row">
            <th class="position-relative" pSortableColumn="ground_name">
              Ground Name
              <p-sortIcon field="ground_name"></p-sortIcon>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-ground>
          <tr>
            <td>
              <div class="image-person-name">
                <span class="person-image">
                  <img *ngIf="!ground.ground_image" [src]="default_img" class="player-img image-border" />
                  <img *ngIf="ground.ground_image" [src]="ground.ground_image" class="player-img image-border"
                    (error)="handleImageError($event, default_img)" />
                </span>
                <span class="person-name padding-grid-center">
                  <strong>{{ ground.ground_name }}</strong>
                </span>
                <span>
                  <button class="comp-chid-remove-btn" (click)="moveToSource(ground)">
                    Remove
                  </button>
                </span>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="10" class="text-center">No Records Found</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<p-dialog header="Ground Details" [(visible)]="viewDialogVisible" [modal]="true" [dismissableMask]="true">


  <div class="popup-container" *ngFor="let ground of selectedGround">

    <!-- ✅ Top bar: Image on left, Cancel button on right -->
    <div class="top-bar">
      <div class="profile-image-wrapper">
        <span class="person-image-team-player">
          <img class="player-img Viewimg" *ngIf="ground.profile_img==null || ground.profile_img==''"
            [src]="default_img">

          <img class="player-img viewimg" *ngIf="ground.profile_img!=null  && ground.profile_img!=''"
            [src]="ground.profile_img" (error)="handleImageError($event, default_img)">
        </span>
      </div>
      <header class="popup-header no-icon">
        <h1 class="popup-title">{{ ground['ground name'] | uppercase }}</h1>
      </header>

      <button class="popup-close" pTooltip="Close popup" tooltipPosition="left" (click)="viewDialogVisible = false"
        aria-label="Close popup">✖</button>
    </div>


    <div class="popup-content">
      <!-- Ground Details -->
      <section class="popup-section">
        <h2 class="section-title">⛳ Ground Details</h2>
        <div class="info-row"><span class="info-label"> Address 1</span><span class="separator">|</span><span
            class="info-value">{{ ground['address 1'] }}</span></div>
        <div class="info-row"><span class="info-label"> Address 2</span><span class="separator">|</span><span
            class="info-value">{{ ground['address 2'] }}</span></div>
        <div class="info-row"><span class="info-label"> Post Code</span><span class="separator">|</span><span
            class="info-value">{{ ground['post code'] }}</span></div>
        <div class="info-row"><span class="info-label"> Country</span><span class="separator">|</span><span
            class="info-value">{{ ground.country }}</span></div>
        <div class="info-row"><span class="info-label"> State</span><span class="separator">|</span><span
            class="info-value">{{ ground.state }}</span></div>
        <div class="info-row"><span class="info-label"> City</span><span class="separator">|</span><span
            class="info-value">{{ ground.city }}</span></div>
      </section>

    </div>
  </div>

</p-dialog>
<p-toast position="center" [baseZIndex]="11000">
  <ng-template let-message pTemplate="message">
    <div class="custom-toast-message">
      <img *ngIf="message?.data?.image" [src]="message.data.image" style="width: 40px; height: 40px" />
      <div>
        <div class="font-bold">{{ message.summary }}</div>
        <div>{{ message.detail }}</div>
      </div>
    </div>
  </ng-template>
</p-toast>