<div class="page-wrapper">
  <div class="content container-fluid">
    <main>
      <div class="card margin-card">
        <div class="card-body">
          <div class="page-header main-page-header d-flex align-items-center justify-content-between">
            <div class="main-page-title page-title playerbackground">
              <i class="fa-solid fa-globe" aria-hidden="true"></i>
              All Teams
            </div>
            <div class="d-flex align-items-center">
              <!-- Search Form -->
              <form class="d-flex align-items-center  gap-2" (submit)="gridLoad()">
                <div class="p-input-icon-right flex-grow-1">
                  <!-- <i class="pi pi-search" ></i> -->
                  <input
                    pInputText
                    type="text"
                    [(ngModel)]="searchKeyword"
                    name="searchKeyword"
                    class="width-search"
                    placeholder="  Search"
                   (input)="filterGlobal()"
                  />
                </div>
              
                <button
                  type="button"
                  class="clear-button"
                  (click)="searchKeyword = ''; filterGlobal();"
                >
                  Clear
                </button>
              </form>

            <div class="card flex justify-center">
              <button  *ngIf="!ShowForm" class="new-button p-button-text"
                (click)="resetForm()" (click)="showAddForm()"> <i class="fas fa-plus"></i> Create</button>
            </div>
          </div>

          </div>

          <p-table  #dt [value]="teamData" [styleClass]="'custom-table'" [globalFilterFields]="['team_name','age_category','team_category','gender','record_status']"
             >
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="team_name">Team Name <p-sortIcon field="team_name"></p-sortIcon>
                </th>
                <th pSortableColumn="age_category">Age Group <p-sortIcon field="age_category"></p-sortIcon>
                </th>
                <th pSortableColumn="team_category">Format <p-sortIcon field="team_category"></p-sortIcon>
                </th>
                <th pSortableColumn="gender">Gender<p-sortIcon field="gender"></p-sortIcon>
                </th>
                <th pSortableColumn="record_status">Status <p-sortIcon field="record_status"></p-sortIcon>
                </th>
                <th class="custom-header action-column-header">Actions</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-teams>
              <tr>
                <td>
                  <span class="person-image-team-player">
                    <img 
                      class="player-img" 
                      *ngIf="!teams.profile_img || !teams.player_profile" 
                      [src]="default_img">
                      
                    <img 
                      class="player-img" 
                      *ngIf="teams.profile_img && teams.player_profile" 
                      [src]="teams.profile_img" 
                      (error)="handleImageError($event, default_img)">
                  </span>
                  {{ teams.team_name }}
                </td>
                
                <td>{{ teams.age_category }}</td>
                <td>{{ teams.team_category }}</td>
                <td>{{ teams.gender }}</td>
                <td>
                  <span [ngClass]="{
                        ' bg-success': teams.record_status === 'Active',
                        ' bg-danger': teams.record_status === 'InActive'
                      }">
                    {{ teams.record_status }}
                  </span>
                </td>
                <td>
                  <span class="icon-blue" (click)="EditTeam(teams.team_id)" pTooltip="Edit" tooltipPosition="top">
                    <i class="fa-solid fa-user-pen"></i>
                  </span>
  
                  <span class="icon-green"  (click)="StatusConfirm(teams.team_id,cricketKeyConstant.condition_key.active_status)" pTooltip="Activate" tooltipPosition="top">
                    <i class="fa-solid fa-circle-check"></i>
                  </span>
  
                  <span class="icon-red"(click)="StatusConfirm(teams.team_id,cricketKeyConstant.condition_key.deactive_status)" pTooltip="Deactivate" tooltipPosition="top">
                    <i class="fa-solid fa-trash-can-arrow-up"></i>
                  </span>
                  </td>

              </tr>
            </ng-template>
          </p-table>
          <p-paginator [rows]="rows" [totalRecords]="totalData" [first]="(first - 1) * rows"
            [rowsPerPageOptions]="[10, 20, 30]" (onPageChange)="onPageChange($event)">
          </p-paginator>

        </div>
      </div>
    </main>
    <!-- STATUS Confirmation POPUP -->
    <p-confirmDialog [style]="{width: '300px', height: '200px'}" [baseZIndex]="10000" [draggable]="false"
      [closable]="false" [styleClass]="'p-confirm-dialog-custom'">
    </p-confirmDialog>

    <!-- Sidebar Modal -->
    <!-- <p-sidebar [(visible)]="ShowForm" position="right" styleClass="full-width-sidebar" [modal]="true"
      [baseZIndex]="10000" [closeOnEscape]="false" appendTo="body" [showCloseIcon]="false"> -->
      <p-drawer [(visible)]="ShowForm" [baseZIndex]="10000" position="right" [showCloseIcon]="false">
      <!-- <div class="sidebar-wrapper" (click)="$event.stopPropagation()"> -->
      <div class="d-flex justify-content-between align-items-center mb-4">
<h3 class="small-heading">
  {{ isEditMode ? 'Edit Team' : 'Add Team' }}
</h3>
      </div>

     
        <form [formGroup]="addTeamForm">
          <div class="row gy-3">
            <div class="col-md-6">
              <label class="">Team Name
                <span class="text-danger">*</span>
              </label>
              <input class="form-control" maxlength="50" type="text" placeholder="Enter Team Name"
                formControlName="team_name">
              <small
                *ngIf="addTeamForm?.get('team_name')?.invalid &&(addTeamForm?.get('team_name')?.touched) || (addTeamForm.get('team_name')?.invalid && submitted)"
                class="required-msg">Team
                Name Is Required
              </small>
            </div>

            <div class="col-md-6">
              <label class="">Short Name
               
              </label>
              <input class="form-control" maxlength="50" type="text" placeholder="Enter Short Name"
                formControlName="team_short">
            </div>

            <div class="col-md-6">
              <label for="gender">Gender
                <span class="text-danger">*</span>
              </label>

              <p-dropdown [options]="genderList" class="drop-error " formControlName="gender_id" optionValue="config_id"
                optionLabel="config_name" placeholder="select gender">
                <ng-template let-gender pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ gender.config_name }}
                    </div>
                  </div>
                </ng-template>
              </p-dropdown>
              <small
              *ngIf="addTeamForm?.get('gender_id')?.invalid &&(addTeamForm?.get('gender_id')?.touched) || (addTeamForm.get('gender_id')?.invalid && submitted)"
              class="required-msg">Gender
              Is Required
            </small>
            </div>

            <div class="col-md-6">
              <label>Format Name
                <span class="text-danger">*</span>
              </label>
              <p-dropdown [options]="formatList" class="drop-error " formControlName="format_id" optionValue="config_id"
                optionLabel="config_name" placeholder="select Format Name"
                >
                <ng-template let-ageformat pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ ageformat.config_name }}
                    </div>
                  </div>
                </ng-template>
              </p-dropdown>
              <small
              *ngIf="addTeamForm?.get('format_id')?.invalid &&(addTeamForm?.get('format_id')?.touched) || (addTeamForm.get('format_id')?.invalid && submitted)"
              class="required-msg">Format Name
              Is Required

            </small>
            </div>

            <div class="col-md-6">
              <label>Age Group
                <span class="text-danger">*</span>
              </label>
              <p-dropdown [options]="ageGroupList" class="drop-error " formControlName="age_category_id"
                optionValue="config_id" optionLabel="config_name" placeholder="select Age Group">
                <ng-template let-agegroup pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ agegroup.config_name }}
                    </div>
                  </div>
                </ng-template>
              </p-dropdown>
              <small
              *ngIf="addTeamForm?.get('age_category_id')?.invalid &&(addTeamForm?.get('age_category_id')?.touched) || (addTeamForm.get('age_category_id')?.invalid && submitted)"
              class="required-msg">Age Category
              Is Required
            </small>
            </div>
            <div class="col-md-6">
              <div class="image-upload-container text-center">
                <label for="profileImageInput" class="upload-label">
                  <div class="image-preview-wrapper">
                    <img *ngIf="previewUrl; else placeholder" [src]="previewUrl" alt="Profile Image" />
                    <ng-template #placeholder>
                      <!-- <span class="placeholder-icon">&#128247;</span> -->
                    </ng-template>
                  </div>
                  <div class="upload-btn">Upload</div>
                </label>
                <input
                  type="file"
                  id="profileImageInput"
                  accept="image/*"
                  (change)="onProfileImageSelected($event)"
                  hidden
                  formControlName="profile_img_url"
                />
              </div>
            </div>

          </div>

          <div class="row mt-4 sticky-footer-buttons" *ngIf="!viewMode">
            <div class="col-12 text-end">
              <button pButton type="button" label="Cancel" class="p-button-secondary me-3"
                (click)="cancelForm()"></button>

              <button pButton type="button" label="Clear" class="p-button-secondary me-3"
                *ngIf="addTeamForm.get('team_id')?.value == '' || addTeamForm.get('team_id')?.value == null"
                (click)="resetForm()"></button>

              <button pButton type="button" label="Save" class="save-button" (click)="onAddTeam()"></button>

            </div>
          </div>
        </form>
        </p-drawer>
      <!-- </div>
    </p-sidebar> -->
  </div>
</div>