<div class="page-wrapper">
  <div class="content container-fluid">
    <main>
      <div class="card margin-card">
        <div class="card-body">
          <div class="page-header main-page-header d-flex align-items-center justify-content-between">
            <div class="main-page-title page-title playerbackground">
              <i class="fa-solid fa-globe" aria-hidden="true"></i>
              All Teams
            </div>

            <form class="flex-grow-1 mx-3 search-width">
              <div class="form-group">
                <span class="p-input-icon-left ml-auto">
                  <span class="p-input-icon-right input-icons search-padding">
                    <input pInputText type="text" class="form-control width-search p-input-icon-right"
                      placeholder="{{'  Search'}}" />
                  </span>
                </span>
              </div>
            </form>
            <div class="card flex justify-center ">
              <p-button icon="fas fa-plus" label="Add Team" *ngIf="!ShowForm" styleClass="new-button p-button-text"
                (click)="resetForm()" (click)="showAddForm()"></p-button>
            </div>

          </div>

          <p-table [value]="teamData" [styleClass]="'custom-table'" [globalFilterFields]="['name']">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="team_name">Team Name <p-sortIcon field="team_name"></p-sortIcon>
                </th>
                <th pSortableColumn="age_category">Age Group <p-sortIcon field="age_category"></p-sortIcon>
                </th>
                <th pSortableColumn="team_category">Format <p-sortIcon field="team_category"></p-sortIcon>
                </th>
                <th pSortableColumn="gender">Gender<p-sortIcon field="gender"></p-sortIcon>
                </th>
                <th pSortableColumn="record_status">Status <p-sortIcon field="record_status"></p-sortIcon>
                </th>
                <th class="custom-header action-column-header">Actions</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-teams>
              <tr>
                <td>{{ teams.team_name }}</td>
                <td>{{ teams.age_category }}</td>
                <td>{{ teams.team_category }}</td>
                <td>{{ teams.gender }}</td>
                <td>
                  <span [ngClass]="{
                        'text-success': teams.record_status === 'Active',
                        'text-danger': teams.record_status === 'InActive'
                      }">
                    {{ teams.record_status }}
                  </span>
                </td>
                <td class="action-column">
                  <div class="action-icon" (click)="EditTeam(teams.team_id)">
                    <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
                  </div>


                  <div class="action-icon"
                    (click)="StatusConfirm(teams.team_id,cricketKeyConstant.condition_key.active_status)">
                    <span><i class="fa fa-check"></i></span>
                  </div>

                  <div class="action-icon"
                    (click)="StatusConfirm(teams.team_id,cricketKeyConstant.condition_key.deactive_status)">
                    <span> <i class="fa fa-times"></i>
                    </span>
                  </div>

                </td>
              </tr>
            </ng-template>
          </p-table>
          <p-paginator [rows]="rows" [totalRecords]="totalData" [first]="(first - 1) * rows"
            [rowsPerPageOptions]="[5,10, 20, 30]" (onPageChange)="onPageChange($event)">
          </p-paginator>

        </div>
      </div>
    </main>
    <!-- STATUS Confirmation POPUP -->
    <p-confirmDialog [style]="{width: '300px', height: '200px'}" [baseZIndex]="10000" [draggable]="false"
      [closable]="false" [styleClass]="'p-confirm-dialog-custom'">
    </p-confirmDialog>





    <!-- Sidebar Modal -->
    <p-sidebar [(visible)]="ShowForm" position="right" styleClass="full-width-sidebar" [modal]="true"
      [baseZIndex]="10000" [closeOnEscape]="false" appendTo="body" [showCloseIcon]="false">

      <div class="d-flex justify-content-between align-items-center mb-4">
        <h4 class="mb-0">{{ isEditMode ? 'Edit Team' : 'Add Team' }}</h4>
      </div>

      <div (click)="$event.stopPropagation()">
        <form [formGroup]="addTeamForm">
          <div class="row gy-3">
            <div class="col-md-6">
              <label class="">Team Name
                <span class="text-danger">*</span>
              </label>
              <input class="form-control" maxlength="50" type="text" placeholder="Enter Team Name"
                formControlName="team_name">
              <small
                *ngIf="addTeamForm?.get('team_name')?.invalid &&(addTeamForm?.get('team_name')?.touched) || (addTeamForm.get('team_name')?.invalid && submitted)"
                class="text-danger">* Team
                Name Is Required
              </small>
            </div>
            <div class="col-md-6">
              <label class="">Shot Name
                <span class="text-danger">*</span>
              </label>
              <input class="form-control" maxlength="50" type="text" placeholder="Enter Short Name"
                formControlName="team_short">
            </div>
            <div class="col-md-6">
              <label for="gender">Gender*</label>
              <p-dropdown [options]="genderList" class="drop-error " formControlName="gender_id" optionValue="config_id"
                optionLabel="config_name" placeholder="select gender" appendTo="body"
                [panelStyleClass]="'custom-dropdown-panel'">
                <ng-template let-gender pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ gender.config_name }}
                    </div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
            <div class="col-md-6">
              <label>Format Name*</label>
              <p-dropdown [options]="formatList" class="drop-error " formControlName="format_id" optionValue="config_id"
                optionLabel="config_name" placeholder="select Format Name" appendTo="body"
                [panelStyleClass]="'custom-dropdown-panel'">
                <ng-template let-ageformat pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ ageformat.config_name }}
                    </div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
            <div class="col-md-6">
              <label>Age Group*</label>
              <p-dropdown [options]="ageGroupList" class="drop-error " formControlName="age_category_id"
                optionValue="config_id" optionLabel="config_name" placeholder="select Age Group" appendTo="body"
                [panelStyleClass]="'custom-dropdown-panel'">
                <ng-template let-agegroup pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ agegroup.config_name }}
                    </div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>

          <div class="row mt-4" *ngIf="!viewMode">
            <div class="col-12 text-end">
              <button pButton type="button" label="Cancel" class="p-button-secondary me-3"
                (click)="cancelForm()"></button>

              <button pButton type="button" label="Clear" class="p-button-secondary me-3"
                *ngIf="addTeamForm.get('country_id')?.value == '' || addTeamForm.get('country_id')?.value == null"
                (click)="resetForm()"></button>

              <button pButton type="button" label="Save" class="save-button" (click)="onAddTeam()"></button>

            </div>
          </div>
        </form>
      </div>
    </p-sidebar>
  </div>
</div>