.team-card {
    padding: 10px 16px;
    background-color: #f1f1f1;
    border-radius: 6px;
    cursor: pointer;
    min-width: 120px; /* set a min-width for proper wrapping */
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .team-card.selected {
    background-color: #007bff;
    color: white;
  }
.team-card {
  padding: 8px;
  margin-bottom: 3px;
  background-color: #f2f2f2;
  cursor: pointer;
  border-radius: 2px;
  text-align: center;

}

.team-card.selected {
  background-color: #007ad9;
  color: white;
}

.highlight-target {
  background-color: #cdc8ee !important;
  width: 100%;
}


@keyframes fadeOut {
0% { background-color: #2e75d1; }
100% { background-color: transparent; }
}

.edit-button {
  color: #1100D1;
  margin-left: 100px;

}
