<!-- Update Button -->
<div class="mb-4 text-right">
  <button class="p-button p-button-primary p-button-sm " (click)="upateTeams()">Update Player</button>
</div>

<!-- Team List -->
<div *ngFor="let team of teamsDropDown" class="mb-2 border p-3 rounded-md shadow-sm">
  <div class="flex justify-between items-center">
    <span class="font-medium text-gray-700 " (click)="chooseTeam(team.team_id)">{{ team.team_name }}</span>
  </div>
</div>
  <p-pickList  [source]="sourcePlayer" 
  [target]="targetPlayer"
  [dragdrop]="true"
  [responsive]="true"
  [showSourceFilter]="true"
  [showTargetFilter]="true"
  filterBy="display_name"  
  sourceFilterPlaceholder="Search Available..." 
  targetFilterPlaceholder="Search Target..."
  [dragdrop]="true" [responsive]="true" [sourceStyle]="{ height: '30rem' }" [targetStyle]="{ height: '30rem' }" breakpoint="1400px"
  >
  <ng-template pTemplate="sourceHeader">
    <div class="p-d-flex p-ai-center">
      Available
    </div>
  </ng-template>
  
  <ng-template pTemplate="targetHeader">
    <div class="p-d-flex p-ai-center">
      Target 
    </div>
  </ng-template>
  
  <ng-template pTemplate="item" let-product let-i="index">
    <div class="flex flex-wrap p-2 align-items-center gap-3">
      <div class="flex-1 flex flex-column gap-2">
        <span class="font-bold">{{ product.display_name }}</span>
      </div>
    </div>
  </ng-template>
  </p-pickList>