<div class="team-body">
  <div class="team-container">
    <div class="team-list">
      <div class="select-team">Select Team</div>
      <div *ngFor="let team of teamsDropDown" class="team-card" [ngClass]="{ 'selected': team.team_id === teamID }"
        (click)="chooseTeam(team.team_id)">
        <div class="team-name">
          {{ team.team_name }}
        </div>
        <div>

          {{ team.player_count }}


        </div>
      </div>
    </div>
  </div>
  <!-- <div class="mt-3 text-danger small">
    Source Count: {{ sourcePlayer.length }} |
    Target Count: {{ targetPlayer.length }}
  </div> -->
  <div class="container">
    <div class="row mb-3">
      <div class="col-6">
        <p-table #dt1 [value]="sourcePlayer" [paginator]="true" selectionMode="multiple"
          [globalFilterFields]="['display_name']" [tableStyle]="{ 'min-width': '20rem' }"
          styleClass="p-datatable-gridlines" [rows]="10" [showCurrentPageReport]="false"
          [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" [totalRecords]="totalData">

          <!-- <p-table #dt1 [value]="sourcePlayer" [paginator]="true" [globalFilterFields]="['display_name']"
          [tableStyle]="{ 'min-width': '20rem' }" styleClass="p-datatable-gridlines" [rows]="rows" [first]="first"
          [totalRecords]="totalData" [showCurrentPageReport]="false" [rowsPerPageOptions]="[10, 25, 50]" [lazy]="true"
          (onLazyLoad)="onPageChange($event)" responsiveLayout="scroll"> -->
          <ng-template pTemplate="caption">
            <div class="d-flex align-items-center justify-content-between w-100 gap-3 flex-wrap">
              <div class="p-1 Child-header text-center">Available Players : {{totalData}}</div>
              <div class="d-flex align-items-center gap-2 ms-auto">
                <div class="p-input-icon-left">
                  <span class="p-input-icon-right input-icons search-padding">
                    <input pInputText type="text" class="form-control width-search-check-box-grid p-input-icon-right"
                      placeholder="Search" filterBy="display_name" [(ngModel)]="sourceSearchKeyword"
                      (input)="filterGlobalSource($event, 'contains')" />
                  </span>
                </div>
                <button class="clear-width table-counts" style="background: aliceblue" (click)="clearSource(dt1)">
                  Clear
                </button>
                <button class="filter-icon-button" (click)="toggleSourceFilters()" pTooltip="Filter"
                  tooltipPosition="top">
                  <i class="fa fa-filter"></i>
                </button>
              </div>
              <div class="custom-filter-panel" *ngIf="showSourceFilters">
                <div class="filter-content">
                  <div class="filter-group">
                    <label>Club</label>
                    <select [(ngModel)]="filterClubType" class="form-select">
                      <option value="">All</option>
                      <option value="Men">Men</option>
                      <option value="Women">Women</option>
                    </select>
                  </div>
                  <div class="filter-group">
                    <label>Player Role</label>
                    <select [(ngModel)]="filterPlayerType" class="form-select">
                      <option value="">All</option>
                      <option value="Batsman">Batter</option>
                      <option value="Bowler">Bowler</option>
                      <option value="WK">Wicket-Keeper</option>
                      <option value="All-Rounder">All-Rounder</option>
                    </select>
                  </div>
                  <div class="filter-group">
                    <label>Batting Style</label>
                    <select [(ngModel)]="filterBatType" class="form-select">
                      <option value="">All</option>
                      <option value="Right Hand Batsman">Right Hand Batsman</option>
                      <option value="Left Hand Batsman">Left Hand Batsman</option>
                    </select>
                  </div>
                  <div class="filter-group">
                    <label>Batting Order</label>
                    <select [(ngModel)]="filterBattingOrder" class="form-select">
                      <option value="">All</option>
                      <option value="Top">Top</option>
                      <option value="Middle">Middle</option>
                      <option value="Lower">Lower</option>
                      <option value="Tail Ender">Tail Ender</option>
                    </select>
                  </div>
                  <div class="filter-group">
                    <label>Bowling Style</label>
                    <select [(ngModel)]="filterBowlStyle" class="form-select">
                      <option value="">All</option>
                      <option value="Right Hand Batsman">Right Hand Batsman</option>
                      <option value="Left Hand Batsman">Left Hand Batsman</option>
                    </select>
                  </div>
                  <div class="filter-group">
                    <label>Bowling Spec</label>
                    <select [(ngModel)]="filterBowlType" class="form-select">
                      <option value="">All</option>
                      <option value="Fast Bowler">Fast Bowler</option>
                      <option value="Medium-Fast Bowler">Medium-Fast Bowler</option>
                      <option value="Off Spin">Off Spin</option>
                      <option value="Leg Spin">Leg Spin</option>
                    </select>
                  </div>
                </div>

                <!-- Buttons -->
                <div class="filter-footer">
                  <button class="reset-btn" (click)="CancelFilters()">Cancel</button>
                  <button class="reset-btn" (click)="clearFilters()">Clear</button>
                  <button class="apply-btn" (click)="applyFilters()">Apply</button>
                </div>

              </div>

            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr class="table-row">
              <th class="position-relative" pSortableColumn="display_name">
                PlayersName
                <p-sortIcon field="display_name"></p-sortIcon>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-player>
            <tr>
              <td>
                <div class="image-person-name">
                  <span class="person-image">
                    <img *ngIf="!player.profile_img" [src]="default_img" class="player-img image-border" />
                    <img *ngIf="player.profile_img" [src]="player.profile_img" class="player-img image-border"
                      (error)="handleImageError($event, default_img)" />
                  </span>
                  <span class="person-name padding-grid-center">
                    <strong>{{ player.display_name }}</strong>
                  </span>
                  <span>
                    <button class="comp-chid-add-btn" (click)="moveToTarget(player)">
                      Add
                    </button>
                  </span>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="10" class="text-center">No Records Found</td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <div class="col-md-6">
        <p-table #dt2 [value]="targetPlayer" selectionMode="multiple"
          [globalFilterFields]="['player_name']" [tableStyle]="{ 'min-width': '20rem' }"
          styleClass="p-datatable-gridlines" [rows]="10" [showCurrentPageReport]="false"
          [rowsPerPageOptions]="[10, 25, 50]">
          <ng-template pTemplate="caption">
            <div class="d-flex align-items-center justify-content-between w-100 gap-3 flex-wrap">
              <div class="p-1 Child-header text-center">Selected Players</div>
              <div class="d-flex align-items-center gap-2 ms-auto">
                <div class="p-input-icon-left">
                  <span class="p-input-icon-right input-icons search-padding">
                    <input pInputText type="text" class="form-control width-search-check-box-grid p-input-icon-right"
                      placeholder="Search" filterBy="player_name" [(ngModel)]="targetSearchKeyword"
                      (input)="filterGlobalTarget($event, 'contains')" />
                  </span>
                </div>
                <button class="clear-width table-counts" style="background: aliceblue" (click)="clearTarget(dt2)">
                  Clear
                </button>
                <button class="filter-icon-button" (click)="toggleTargetFilters()" pTooltip="Filter"
                  tooltipPosition="top">
                  <i class="fa fa-filter"></i>
                </button>
              </div>
              <div class="custom-filter-panel" *ngIf="showTargetFilters">
                <div class="filter-content">
                  <div class="filter-group">
                    <label>Gender</label>
                    <select [(ngModel)]="filterGenderType" class="filter-select">
                      <option value="">All</option>
                      <option value="Men">Men</option>
                      <option value="Women">Women</option>
                    </select>
                  </div>
                  <div class="filter-group">
                    <label>Player Role</label>
                    <select [(ngModel)]="filterPlayerType" class="filter-select">
                      <option value="">All</option>
                      <option value="Batsman">Batter</option>
                      <option value="Bowler">Bowler</option>
                      <option value="WK">Wicket-Keeper</option>
                      <option value="All-Rounder">All-Rounder</option>
                    </select>
                  </div>
                  <div class="filter-group">
                    <label>Batting Order</label>
                    <select [(ngModel)]="filterBattingOrder" class="filter-select">
                      <option value="">All</option>
                      <option value="Top">Top</option>
                      <option value="Middle">Middle</option>
                      <option value="Lower">Lower</option>
                    </select>
                  </div>
                  <div class="filter-group">
                    <label>Batting Style</label>
                    <select [(ngModel)]="filterBatType" class="filter-select">
                      <option value="">All</option>
                      <option value="LHB">Left Hand Batter</option>
                      <option value="RHB">Right Hand Batter</option>
                    </select>
                  </div>
                  <div class="filter-group">
                    <label>Bowling Style</label>
                    <select [(ngModel)]="filterBowlType" class="filter-select">
                      <option value="">All</option>
                      <option value="LHB">Left Arm Bowler</option>
                      <option value="RHB">Right Arm Bowler</option>
                    </select>
                  </div>
                </div>

                <!-- Buttons -->
                <div class="filter-footer">
                  <button class="reset-btn" (click)="CancelFilters()">Cancel</button>
                  <button class="reset-btn" (click)="clearFilters()">Clear</button>
                  <button class="apply-btn" (click)="applyFilters()">Apply</button>
                </div>
              </div>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr class="table-row">
              <th class="position-relative" pSortableColumn="player_name">
                Player Name
                <p-sortIcon field="player_name"></p-sortIcon>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-player>
            <tr>
              <td>
                <div class="image-person-name">
                  <span class="person-image">
                    <img *ngIf="!player.profile_img" [src]="default_img" class="player-img image-border" />
                    <img *ngIf="player.profile_img" [src]="player.profile_img" class="player-img image-border"
                      (error)="handleImageError($event, default_img)" />
                  </span>
                  <span class="person-name padding-grid-center">
                    <strong>{{ player.player_name }}</strong>
                  </span>
                  <span *ngIf="TeamInTarget(player)">
                    <button class="comp-chid-edit-button" (click)="showEditPopup(player)">
                      Edit
                    </button>
                  </span>
                  <span>
                    <button class="comp-chid-remove-btn" (click)="moveToSource(player)">
                      Remove
                    </button>
                  </span>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="10" class="text-center">No Records Found</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isEditPopupVisible" class="popup-backdrop">
  <div class="popup-wrapper">
    <div class="popup">
      <form [formGroup]="ManagePlayerForm" class="p-4 border rounded shadow-sm bg-white">
        <div class="mb-3 d-flex align-items-center comp-grid">
          <div>
            <span class="person-image-team-player">
              <img class="player-img Child-image" *ngIf="!selectedPlayer?.profile_url" [src]="default_img">

              <img class="player-img Child-image" *ngIf="selectedPlayer?.profile_url" [src]="selectedPlayer.profile_url"
                (error)="handleImageError($event, default_img)">
            </span>
          </div>
          <div class="ms-2 fw-bold fs-6">
            {{ ManagePlayerForm.get('display_name')?.value | uppercase }}
          </div>
        </div>

        <!-- Scorecard Name Input -->
        <div class="mb-3 d-flex align-items-center">
          <label for="jersey_number" class="form-label fw-semibold me-2 mb-0 text-width">
            Jersey Number :
          </label>
          <input id="jersey_number" type="text" class="form-control" formControlName="jersey_number" />
        </div>

        <!-- Sponsor Name Input -->
        <div class="mb-3 d-flex align-items-center ">
          <label for="scorecard_name" class="form-label fw-semibold me-2 mb-0 text-width">
            Scorecard Name :
          </label>
          <input id="scorecard_name" type="text" class="form-control" formControlName="scorecard_name" />
        </div>

        <!-- Buttons -->
        <div class="text-end">
          <button type="submit" class="btn btn-primary save-button" (click)="updateplayer()">
            Submit
          </button>
          <button type="button" class="btn btn-secondary ms-2 custom-cancel-btn" (click)="closeEditPopup()">
            Close
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
<p-toast position="center" [baseZIndex]="11000">
  <ng-template let-message pTemplate="message">
    <div class="custom-toast-message">
      <img *ngIf="message?.data?.image" [src]="message.data.image" style="width: 40px; height: 40px" />
      <div>
        <div class="font-bold">{{ message.summary }}</div>
        <div>{{ message.detail }}</div>
      </div>
    </div>
  </ng-template>
</p-toast>