<div class="page-wrapper">
    <div class="content container-fluid">
      <main>
        <div class="card margin-card">
          <div class="card-body">
            <div class="page-header main-page-header d-flex align-items-center justify-content-between">
              <div class="main-page-title page-title playerbackground">
                <i class="fa-solid fa-users" aria-hidden="true"></i>
                  <!-- <i class="fa fa-user-circle" aria-hidden="true"></i> -->
                     Compititions
              </div>
               <form class="flex-grow-1 mx-3 search-width">
                <div class="form-group">
                  <span class="p-input-icon-left ml-auto">
                    <span class="p-input-icon-right input-icons search-padding">
                      <input pInputText type="text" 
                        class="form-control width-search p-input-icon-right" placeholder="{{'  Search'}}"
                       />
                    </span>
                  </span>
                </div>
                
              </form> 
            
              <div class="card flex justify-center">
                <p-button 
                icon="fas fa-plus" 
                label="New compitition" 
                (click)="showDialog()" 
                styleClass="new-button p-button-text">
              </p-button>
              </div>
            </div> 
                    <!-- View compititions In Grid Load-->
                    <p-dialog [(visible)]="visibleDialog" [style]="{ width: '30vw' }" [closable]="false" [modal]="true">
    
                      <div class="tabel-info position-relative">
                        <div class="view-name">{{ selectedcompitition?.name | uppercase }}</div>
                        <button 
                        type="button" 
                        pButton 
                        icon="pi pi-times" 
                        class="p-button-rounded p-button-text close-btn"
                        (click)="visibleDialog = false"
                        style="position: absolute; right: 1rem; top: 1rem; color: #e53935;" 
                        aria-label="Close">
                      </button>
                      
                      </div>
                    
                      <!-- Grid Info -->
                      <div class="tabel-grid">
                        <div class="info-block">
                          <label>Start Date</label>
                          <div>{{ selectedcompitition?.start_date}}</div>
                        </div>
                        <div class="info-block">
                          <label>End Date</label>
                          <div>{{ selectedcompitition?.end_date }}</div>
                        </div>
                        <div class="info-block">
                          <label>Match Type</label>
                          <div>{{ selectedcompitition?.match_type }}</div>
                        </div>
                       
                      </div>
                    
                    </p-dialog>
                    
  
            <p-table 
            [value]="compititionList" 
            [tableStyle]="{ 'min-width': '50rem' }" 
            scrollable="true" 
            [paginator]="true" 
            [rows]="5" 
            [rowsPerPageOptions]="[5,10,20]"
            [globalFilterFields]="['Compitition_name']"
            >
            <ng-template pTemplate="header">
              <tr>
                <th class="custom-header" pSortableColumn="name">Competition Name
                  <p-sortIcon field="name"></p-sortIcon>
  
                </th>
                <th class="custom-header">Start Date
                  <p-sortIcon field="start_date"></p-sortIcon>
                </th>
                <th class="custom-header">End Date
                  <p-sortIcon field="Compitition_name"></p-sortIcon>
                </th>
                <th class="custom-header">Match Type
                  <p-sortIcon field="Compitition_name"></p-sortIcon>
                </th>

                <th class="custom-header">Status
                  <p-sortIcon field="Compitition_name"></p-sortIcon>
                </th>
                <th class="custom-header action-column-header">Actions</th>       
              </tr>
            </ng-template>
          
            <ng-template pTemplate="body" let-compitition let-rowIndex="rowIndex">
              <tr [ngClass]="{ 'even-row': rowIndex % 2 == 1 }">
              
                <td>
                  {{ compitition.name }}
                  <img [src]="compitition.imageUrl" class="gird-image" />
                </td>
            
             
                <td>{{ compitition.start_date }}</td>
                <td>{{ compitition.end_date }}</td>
                <td>{{ compitition.match_type }}</td>
                <td>
                  <span
                    [ngStyle]="{
                      'background-color': compitition.status === 'Active' ? '#0ea5e9' : 'rgb(255 33 33)',
                      'color': 'white',
                      'padding': '4px 8px',
                      'border-radius': '4px',
                      'display': 'inline-block'
                    }">
                    {{ compitition.status }}
                  </span>
                </td> 
                <td class="action-column">
                  <div class="action-icon" (click)="editCompitition(compitition)">
                    <span >
                      <i class="fa fa-pencil-square" aria-hidden="true"></i>
                    </span>
                  </div>
                  <div class="action-icon" (click)="viewShowDialog()" (click)="viewCompitition(compitition)">
                    <span >
                      <i class="fa fa-eye" aria-hidden="true"></i>
                    </span>
                  </div>
                  <div class="action-icon"(click)="toggleStatus(compitition)">
                    <span >
                      <i class="fa" [ngClass]="compitition.status === 'Active' ? 'fa-times' : 'fa-check-square'"></i>
                    </span>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
          </div>
        </div>
      </main>
    </div>
  </div>