
  .custom-header {
    background-color: #a1bbd0; 
    color: #000000 !important;
    font-size: 14px;
    font-weight: 600;
    padding: 12px;
    border-bottom: 2px solid white;
    position: relative;
  }

/* Remove right border from the last column */
::ng-deep .p-datatable-thead > tr > th:last-child,
::ng-deep .p-datatable-tbody > tr > td:last-child {
    border-right: none !important;
}

::ng-deep .new-button {
  background-color: #3f51b5;
  color: white;
  border: none;
  height: 41px;
}
/* Header Style */
.dialog-header {
  background-color: #3f51b5;
  color: white;
  width: 95%;
  text-align: center;
  border-radius: 10px;
  margin-left: 24px;

}

/* Wrapper Padding */
.player-details-wrapper {
  padding: 1.5rem;
}

.dialog-header {
  text-align: right;
  margin-bottom: 1rem;
}

::ng-deep .p-dialog {
  border-radius: 14px !important;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.15);
}

::ng-deep .p-dialog .p-dialog-header {
  display: none; 
}
.even-row {
  background-color: #f1f5f9; 
}

.modal-popup{
  position: relative;
    z-index: 10;
}
.nav-tabs .nav-link.active {
  border-bottom: 2px solid #007bff;
  font-weight: 600;
}

.card {
  border-radius: 12px;
}

.tab-content .card {
  border: 1px solid #dee2e6;
  border-radius: 10px;
}

