.top-bar {
  margin-bottom: 1rem;
  gap: 1rem;
}

.uniform-control {
  width: 200px; 
  height: 40px;
  font-size: 14px;
  padding: 0 0.75rem;
}

::ng-deep .p-dropdown {
  width: 100% !important;
  height: 36px !important;
  line-height: 13px !important;
  font-size: 17px;
}

.create-button {
  background-color: #2e7d32;
  color: white;
  border: none;
  font-weight: 500;
}
