.image-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-upload-container .upload-label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-upload-container .image-preview-wrapper {
    width: 120px;
    height: 120px;
    border-radius: 3%;
    border: 2px solid #ccc;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    margin-bottom: 10px;
  }
  
  .image-upload-container .image-preview-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image-upload-container .image-preview-wrapper .placeholder-icon {
    font-size: 30px;
    color: #aaa;
  }
  
  ::ng-deep .image-upload-container .upload-btn {
    background-color: #2f46a6;
    color: white;
    padding: 5px 0px;
    border-radius: 2px;
    font-weight: 500;
    width: 100%;
    margin-top: -10%;
  }
  @media screen and (max-height: 800px) {
  .image-preview {
    max-width: 150px;
    margin-top: 6px;
  }
  .profile-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative; /* NOT absolute */
  z-index: 1;
}


.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
.image-preview {
  position: relative;
  display: inline-block;
  max-width: 180px;
  cursor: pointer;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
  margin-top: 10px;
}
.image-preview:hover {
  transform: scale(1.05);
}
.image-preview img {
  width: 100%;
  display: block;
}
.image-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-upload-container .upload-label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-upload-container .image-preview-wrapper {
    width: 120px;
    height: 120px;
    border-radius: 3%;
    border: 2px solid #ccc;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    margin-bottom: 10px;
  }
  
  .image-upload-container .image-preview-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image-upload-container .image-preview-wrapper .placeholder-icon {
    font-size: 30px;
    color: #aaa;
  }
  
  .image-upload-container .upload-btn {
    background-color: #2f46a6;
    color: white;
    padding: 5px 0px;
    border-radius: 2px;
    font-weight: 500;
    width: 100%;
    margin-top: -10%;
  }
 }
  


