<div class="page-wrapper">
    <div class="content container-fluid">
        <main>
            <div class="card margin-card">
                <div class="card-body">
                    <div class="page-header main-page-header d-flex align-items-center justify-content-between">
                        <div class="main-page-title page-title playerbackground">
                            <i class="fas fa-clock" aria-hidden="true"></i>
                            Seasons
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-center gap-2 mb-2">
                            <p-dropdown *ngIf="isClientShow" [options]="clientData" optionLabel="client_name"
                                optionValue="client_id" [(ngModel)]="client_id" (ngModelChange)="gridload()"
                                placeholder="Client Id" [filter]="true" appendTo="body" class=" w-100 
                 drop-error header-drop">
                                <ng-template let-Client pTemplate="item">
                                    <div class="country-item">
                                        <div>{{ Client.client_name }}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <!-- <div class="d-flex align-items-center"> -->

                            <!-- Search Form -->
                            <form class="d-flex align-items-center gap-2" (submit)="gridload()">
                                <div class="p-input-icon-right flex-grow-1">

                                    <input pInputText type="text" [(ngModel)]="searchKeyword" name="searchkeyword"
                                        class="width-search" placeholder="search" (keypress)="blockQuotesOnly($event)"
                                        (input)="filterGlobal()" (input)="sanitizeQuotesOnly('Search', $event)">
                                </div>

                                <button type="button" class="clear-button" (click)="clear()">Clear
                                </button>
                            </form>

                            <div class="card flex justify-center">
                                <button *ngIf="!ShowForm" class="new-button p-button-text"
                                    (click)="resetForm(); showAddForm()">
                                    <i class="fas fa-plus"></i>
                                    Create
                                </button>
                            </div>
                        <!-- </div> -->
                    </div>


                    <p-table #dt [value]="seasonsData" [paginator]="true" [rows]="rows" [(first)]="first"
                        [totalRecords]="totalData" [rowsPerPageOptions]="[10, 25, 50, 100]"
                        [styleClass]="'custom-table'" [globalFilterFields]="['season_name']"
                        (onPageChange)="onPageChange($event)">

                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="season_name">Season Name <p-sortIcon field="season_name">
                                    </p-sortIcon>
                                </th>
                                <th pSortableColumn="start_date">Start Date <p-sortIcon field="start_date"></p-sortIcon>
                                </th>
                                <th pSortableColumn="end_date">End Date <p-sortIcon field="end_date"></p-sortIcon>
                                </th>
                                <th pSortableColumn="season_status">Season Status <p-sortIcon field="season_status">
                                    </p-sortIcon>
                                </th>
                                <th pSortableColumn="record_status">Status <p-sortIcon field="record_status">
                                    </p-sortIcon>
                                </th>
                                <th class="custom-header action-column-header">Actions</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-season>
                            <tr>
                                <td>{{ season.season_name }}</td>
                                <td>{{ season.start_date }}</td>
                                <td>{{ season.end_date }}</td>
                                <td>{{ season.season_status }}</td>
                                <td>
                                    <span [ngClass]="{
                                        ' bg-success': season.record_status === 'Active',
                                        ' bg-danger': season.record_status === 'InActive'
                                      }">
                                        {{ season.record_status }}
                                    </span>
                                </td>
                                <td>
                                    <span class="icon-blue" (click)="EditSeason(season.season_id)" pTooltip="Edit"
                                        tooltipPosition="top">
                                        <i class="fa-solid fa-user-pen"></i>
                                    </span>

                                    <span class="icon-green"
                                        (click)="StatusConfirm(season.season_id,conditionConstants.active_status,season.record_status)"
                                        pTooltip="Active" tooltipPosition="top">
                                        <i class="fa-solid fa-circle-check"></i>
                                    </span>

                                    <span class="icon-red"
                                        (click)="StatusConfirm(season.season_id,conditionConstants.deactive_status,season.record_status)"
                                        pTooltip="Deactivate" tooltipPosition="top">
                                        <i class="fa-solid fa-trash-can-arrow-up"></i>
                                    </span>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <!-- <p-paginator [rows]="rows" [totalRecords]="totalData" [first]="(first-1) * rows"
                        [rowsPerPageOptions]="[10, 25, 50, 100]" (onPageChange)="onPageChange($event)">
                    </p-paginator> -->
                </div>
            </div>
        </main>

        <p-confirmDialog [style]="{width: '360px' , height: '200px'}" [baseZIndex]="10000" [draggable]="false"
            [closable]="false" [styleClass]="'p-confirm-dialog-custom'">
        </p-confirmDialog>

        <p-drawer [(visible)]="ShowForm" [baseZIndex]="10000" position="right" [showCloseIcon]="false">

            <div class="d-flex justify-content-between align-items-center mb-4">
                <h4 class="small-heading">{{ isEditMode ? 'Edit Season' : 'Add Season' }}</h4>
            </div>


            <form [formGroup]="addSeasonsForm">
                <div class="row gy-4">
                    <div class="col-md-6">
                        <label for="season_status">Season Status</label>
                        <span class="text-danger">*</span>
                        <p-dropdown [options]="statusOptions" class="drop-error" formControlName="season_status"
                            optionValue="value" optionLabel="label" placeholder="Select Status" appendTo="body"
                            [panelStyleClass]="'custom-dropdown-panel'">

                            <ng-template let-season pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>{{ season.label }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>


                        <small
                            *ngIf="addSeasonsForm.get('season_status')?.invalid && (addSeasonsForm.get('season_status')?.touched) || (addSeasonsForm.get('season_status')?.invalid && submitted)"
                            class="required-msg">Season Status is Required
                        </small>
                    </div>

                    <div class="col-md-6">
                        <label for="start_date">Start Date</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" type="date" formControlName="start_date">


                        <!-- showTime="true" -->

                        <small
                            *ngIf="addSeasonsForm?.get('start_date')?.invalid && 
                                 (addSeasonsForm?.get('start_date')?.touched) || (addSeasonsForm.get('start_date')?.invalid && submitted)"
                            class="required-msg">
                            Start Date is required
                        </small>
                    </div>

                    <div class="col-md-6">
                        <label for="end_date">End Date</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" type="date" formControlName="end_date">

                        <!-- showTime="true"  -->

                        <small
                            *ngIf="addSeasonsForm?.get('end_date')?.invalid && 
                        (addSeasonsForm?.get('end_date')?.touched) || (addSeasonsForm.get('end_date')?.invalid && submitted)"
                            class="required-msg">
                            End Date is required
                        </small>
                    </div>


                    <div class="col-md-6">
                        <label class="">Season Name
                            <span class="text-danger">*</span>
                        </label>
                        <input class="form-control" maxlength="50" type="text" 
                            formControlName="season_name" (keypress)="blockQuotesOnly($event)"
                            (input)="sanitizeQuotesOnly('season_name', $event)">
                        <small
                            *ngIf="addSeasonsForm?.get('season_name')?.invalid &&(addSeasonsForm?.get('season_name')?.touched) || (addSeasonsForm.get('season_name')?.invalid && submitted)"
                            class="required-msg"> Season
                            Name Is Required
                        </small>
                    </div>
                    <div class="row mt-4 sticky-footer-buttons" *ngIf="!viewMode">
                        <div class="col-12 text-end">
                            <button pButton type="button" label="Cancel"
                                class="p-button-secondary me-3 custom-cancel-btn" (click)="cancelForm()"></button>

                            <button pButton type="button" label="Clear"
                                class="p-button-secondary me-3 custom-cancel-btn"
                                *ngIf="addSeasonsForm.get('season_id')?.value == '' || addSeasonsForm.get('season_id')?.value == null"
                                (click)="resetForm()"></button>

                            <button pButton type="button" label="Save" class="save-button"
                                (click)="onAddSeason()"></button>
                        </div>
                    </div>
                </div>
            </form>
        </p-drawer>
    </div>
</div>
<p-toast key="ts" position="top-right"></p-toast>