<div class="container">
  <div class="row mb-3">
    <div class="col-6">

      <p-table #dt1 [value]="sourceOfficial" [paginator]="true" [globalFilterFields]="['official_name']"
          [tableStyle]="{ 'min-width': '20rem' }" styleClass="p-datatable-gridlines" 
          [rows]="rows" [first]="first"
          [totalRecords]="totalData" [showCurrentPageReport]="false" [rowsPerPageOptions]="[10, 25, 50]" [lazy]="true"
          (onLazyLoad)="onPageChange($event)" responsiveLayout="scroll">
      <!-- <p-table #dt1 [value]="sourceOfficial" [paginator]="true" [globalFilterFields]="['official_name']"
        [tableStyle]="{ 'min-width': '20rem' }" styleClass="p-datatable-gridlines" [rows]="rows" [first]="first"
        [totalRecords]="totalData" [showCurrentPageReport]="false" [rowsPerPageOptions]="[10, 25, 50]" [lazy]="true"
        (onLazyLoad)="onPageChange($event)" responsiveLayout="scroll"> -->

        <ng-template pTemplate="caption">
          <div class="d-flex align-items-center justify-content-between w-100 gap-3 flex-wrap">
            <div class="p-1 Child-header text-center">Available Officials</div>
            <div class="d-flex align-items-center gap-2 ms-auto">
              <div class="p-input-icon-left">
                <span class="p-input-icon-right input-icons search-padding">
                  <input pInputText type="text" class="form-control width-search-check-box-grid p-input-icon-right"
                    placeholder="Search" filterBy="official_name" [(ngModel)]="sourceSearchKeyword"
                    (input)="filterGlobalSource($event, 'contains')" />
                </span>
              </div>
              <button class="clear-width table-counts" style="background: aliceblue" (click)="clearSource(dt1)">
                Clear
              </button>
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr class="table-row">
            <th class="position-relati" pSortableColumn="official_name">
              Officials Name
              <p-sortIcon field="official_name"></p-sortIcon>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-official>
          <tr>
            <td>
              <div class="image-person-name">
                <span class="person-image">
                  <img *ngIf="!official.profile_img" [src]="default_img" class="player-img image-border" />
                  <img *ngIf="official.profile_img" [src]="official.profile_img" class="player-img image-border"
                    (error)="handleImageError($event, default_img)" />
                </span>
                <span class="person-name padding-grid-center">
                  <strong>{{ official.official_name }}</strong>
                </span>
              
                <span>
                  <button class="comp-chid-add-btn" (click)="moveToTarget(official)">
                    Add
                  </button>
                </span>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="10" class="text-center">No Records Found</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="col-md-6">
      <p-table #dt2 [value]="targetOfficial" selectionMode="multiple"
        [globalFilterFields]="['official_name']" [tableStyle]="{ 'min-width': '20rem' }"
        styleClass="p-datatable-gridlines" [showCurrentPageReport]="false">
        <ng-template pTemplate="caption">
          <div class="d-flex align-items-center justify-content-between w-100 gap-3 flex-wrap">
            <div class="p-1 Child-header text-center">Selected Officials</div>
            <div class="d-flex align-items-center gap-2 ms-auto">
              <div class="p-input-icon-left">
                <span class="p-input-icon-right input-icons search-padding">
                  <input pInputText type="text" class="form-control width-search-check-box-grid p-input-icon-right"
                    placeholder="Search" filterBy="official_name" [(ngModel)]="targetSearchKeyword"
                    (input)="filterGlobalTarget($event, 'contains')" />
                </span>
              </div>
              <button class="clear-width table-counts" style="background: aliceblue" (click)="clearTarget(dt2)">
                Clear
              </button>
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr class="table-row">
            <th class="position-relative" pSortableColumn="official_name">
              Officials Name
              <p-sortIcon field="official_name"></p-sortIcon>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-official>
          <tr>
            <td>
              <div class="image-person-name">
                <span class="person-image">
                  <img *ngIf="!official.profile_img" [src]="default_img" class="player-img image-border" />
                  <img *ngIf="official.profile_img" [src]="official.profile_img" class="player-img image-border"
                    (error)="handleImageError($event, default_img)" />
                </span>
                <span class="person-name padding-grid-center">
                  <strong>{{ official.official_name }}</strong>
                </span>
                <span>
                  <button class="comp-chid-remove-btn" (click)="moveToSource(official)">
                    Remove
                  </button>
                </span>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="10" class="text-center">No Records Found</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<p-toast position="center" [baseZIndex]="11000">
  <ng-template let-message pTemplate="message">
    <div class="custom-toast-message">
      <img *ngIf="message?.data?.image" [src]="message.data.image" style="width: 40px; height: 40px" />
      <div>
        <div class="font-bold">{{ message.summary }}</div>
        <div>{{ message.detail }}</div>
      </div>
    </div>
  </ng-template>
</p-toast>