<div class="page-wrapper">
  <div class="content container-fluid">
    <main>
      <div class="card margin-card">
        <div class="card-body">
          <div class="page-header main-page-header d-flex align-items-center justify-content-between">
            <div class="main-page-title page-title playerbackground">
              <i class="fa fa-user-circle" aria-hidden="true"></i>
                   All Players
            </div>
             <form class="flex-grow-1 mx-3 search-width">
              <div class="form-group">
                <span class="p-input-icon-left ml-auto">
                  <span class="p-input-icon-right input-icons search-padding">
                    <input pInputText type="text" 
                      class="form-control width-search p-input-icon-right" placeholder="{{'  Search'}}"
                     />
                  </span>
                </span>
              </div>
              
            </form> 
            
            <!-- <div class="card flex justify-center">
              <p-button icon="fa fa-plus" label="New Player" (click)="showDialog()"></p-button>
            </div> -->
            
            <!-- <p-dialog [(visible)]="visible" [position]="position" modal header="Player Form" [style]="{width: '30vw'}">
              <form (ngSubmit)="onSubmit()" #playerForm="ngForm">
                <div class="p-fluid p-formgrid p-grid row">
                  <div class="p-field p-col-12 p-md-4">                   
                     <label for="playerName">Player Name</label>
                    <input id="playerName" type="text" pInputText [(ngModel)]="player.name" name="playerName" required />
                  </div>
                  
                  <div class="p-field p-col-12 p-md-4">                    
                    <label for="dob">DOB</label>
                    <p-calendar id="dob" [(ngModel)]="player.dob" name="dob" required dateFormat="mm/dd/yy"></p-calendar>
                  </div>
                  
                  <div class="p-field p-col-12 p-md-4">                   
                     <label for="nationality">Nationality</label>
                    <input id="nationality" type="text" pInputText [(ngModel)]="player.nationality" name="nationality" required />
                  </div>
                  
                  <div class="p-field p-col-12 p-md-4">                   
                     <label for="batStyle">Bat Style</label>
                    <input id="batStyle" type="text" pInputText [(ngModel)]="player.batStyle" name="batStyle" required />
                  </div>
                  
                  <div class="p-field p-col-12 p-md-4">                   
                     <label for="bowlSpec">Bowl Spec</label>
                    <input id="bowlSpec" type="text" pInputText [(ngModel)]="player.bowlSpec" name="bowlSpec" required />
                  </div>
            
                  <p-footer>
                    <p-button label="Close" icon="pi pi-times" (click)="visible = false"></p-button>
                    <p-button label="Submit" icon="pi pi-check" type="submit" [disabled]="!playerForm.form.valid"></p-button>
                  </p-footer>
                </div>
              </form>
            </p-dialog> -->
            
          
            <div class="card flex justify-center">
              <p-button 
              icon="fas fa-plus" 
              label="New Player" 
              (click)="showDialog()" 
              styleClass="new-button p-button-text">
            </p-button>
            </div>
          </div> 
                  <!-- View Players In Grid Load-->
                  <p-dialog [(visible)]="visibleDialog" [style]="{ width: '30vw' }" [closable]="false" [modal]="true">
  
                    <div class="tabel-info position-relative">
                      <div class="view-name">{{ selectedPlayer?.name | uppercase }}</div>
                      <button 
                      type="button" 
                      pButton 
                      icon="pi pi-times" 
                      class="p-button-rounded p-button-text close-btn"
                      (click)="visibleDialog = false"
                      style="position: absolute; right: 1rem; top: 1rem; color: #e53935;" 
                      aria-label="Close">
                    </button>
                    
                    </div>
                  
                    <!-- Grid Info -->
                    <div class="tabel-grid">
                      <div class="info-block">
                        <label>Gender</label>
                        <div>{{ selectedPlayer?.gender || 'M' }}</div>
                      </div>
                      <div class="info-block">
                        <label>Date of Birth</label>
                        <div>{{ selectedPlayer?.dob }}</div>
                      </div>
                      <div class="info-block">
                        <label>Player Role</label>
                        <div>{{ selectedPlayer?.role || selectedPlayer?.bowlSpec }}</div>
                      </div>
                      <div class="info-block">
                        <label>Batting Style</label>
                        <div>{{ selectedPlayer?.batStyle }}</div>
                      </div>
                      <div class="info-block">
                        <label>Bowling Style</label>
                        <div>{{ selectedPlayer?.bowlSpec }}</div>
                      </div>
                      <div class="info-block">
                        <label>Bowling Type</label>
                        <div>{{ selectedPlayer?.bowlingType || 'Fast' }}</div>
                      </div>
                    </div>
                  
                  </p-dialog>
                  

          <p-table 
          [value]="playerList" 
          [tableStyle]="{ 'min-width': '50rem' }" 
          scrollable="true" 
          [paginator]="true" 
          [rows]="5" 
          [rowsPerPageOptions]="[5,10,20]"
          [globalFilterFields]="['player_name']"
          >
          <ng-template pTemplate="header">
            <tr>
              <th class="custom-header" pSortableColumn="name">Player Name
                <p-sortIcon field="name"></p-sortIcon>

              </th>
              <th class="custom-header">DOB
                <p-sortIcon field="player_name"></p-sortIcon>
              </th>
              <th class="custom-header">Nationality
                <p-sortIcon field="player_name"></p-sortIcon>
              </th>
              <th class="custom-header">Bat Style
                <p-sortIcon field="player_name"></p-sortIcon>
              </th>
              <th class="custom-header">Roles
                <p-sortIcon field="player_name"></p-sortIcon>
              </th>
              <th class="custom-header">Status
                <p-sortIcon field="player_name"></p-sortIcon>
              </th>
              <th class="custom-header action-column-header">Actions</th>       
            </tr>
          </ng-template>
        
          <ng-template pTemplate="body" let-player let-rowIndex="rowIndex">
            <tr [ngClass]="{ 'even-row': rowIndex % 2 == 1 }">
            
              <td>
                {{ player.name }}
                <img [src]="player.imageUrl" class="gird-image" />
              </td>
          
           
              <td>{{ player.dob }}</td>
              <td>{{ player.nationality }}</td>
              <td>{{ player.batStyle }}</td>
              <td>{{ player.roles }}</td>
              <td>
                <span
                  [ngStyle]="{
                    'background-color': player.status === 'Active' ? '#0ea5e9' : 'rgb(255 33 33)',
                    'color': 'white',
                    'padding': '4px 8px',
                    'border-radius': '4px',
                    'display': 'inline-block'
                  }">
                  {{ player.status }}
                </span>
              </td> 
              <td class="action-column">
                <div class="action-icon" (click)="editPlayer(player)">
                  <span >
                    <i class="fa fa-pencil-square" aria-hidden="true"></i>
                  </span>
                </div>
                <div class="action-icon" (click)="viewShowDialog()" (click)="viewPlayer(player)">
                  <span >
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </span>
                </div>
                <div class="action-icon"(click)="toggleStatus(player)">
                  <span >
                    <i class="fa" [ngClass]="player.status === 'Active' ? 'fa-times' : 'fa-check-square'"></i>
                  </span>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
        </div>
      </div>
    </main>
  </div>
</div>