<div class="full-page-container">

  <div class="page-wrapper">
    <div class="content container-fluid">
      <main>
        <div class="card margin-card">
          <div class="card-body">
            <div class="page-header main-page-header">
              <div class="main-page-title playerbackground">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                All Players
              </div>
              <div class="d-flex align-items-center">
                <!-- Search Form -->
                <form class="d-flex align-items-center  gap-2">
                  <div class="p-input-icon-right flex-grow-1">
                    <!-- <i class="pi pi-search" ></i> -->
                    <input pInputText type="text" [(ngModel)]="searchKeyword" name="searchKeyword" class="width-search"
                      placeholder="  Search" (keyup.enter)="gridLoad()" />
                  </div>

                  <button type="button" class="clear-button" (click)="searchKeyword = ''">
                    Clear
                  </button>
                </form>


                <!-- Filter Button -->
                <div class="filter-icon-wrapper">
                  <button class="filter-icon-button" (click)="toggleFilters()">
                    <i class="fa fa-filter"></i>
                  </button>
                </div>

                <!-- Add Button -->
                <div class="card flex justify-center">
                  <button *ngIf="!ShowForm" class="new-button p-button-text" (click)="resetForm()"
                    (click)="showAddForm()"> <i class="fas fa-plus"></i> Create</button>
                </div>





              </div>
            </div>
            <!-- STATUS Confirmation POPUP -->`

            <p-confirmDialog [style]="{width: '300px', height: '200px'}" [baseZIndex]="10000" [draggable]="false"
              [closable]="false" [styleClass]="'p-confirm-dialog-custom'">
            </p-confirmDialog>




            <p-table [value]="PlayerData" [tableStyle]="{ 'minofficialList-width': '50rem' }" scrollable="true"
              [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]" [globalFilterFields]="['player_name']">
              <ng-template pTemplate="header">


                <tr>
                  <th pSortableColumn="display_name">Player Name
                    <p-sortIcon field="display_name"></p-sortIcon>
                  </th>
                  <th pSortableColumn="player_dob">DOB
                    <p-sortIcon field="player_dob"></p-sortIcon>
                  </th>
                  <th pSortableColumn="mobile_no">Mobile Number
                    <p-sortIcon field="mobile_no"></p-sortIcon>
                  </th>
                  <th pSortableColumn="email">Email
                    <p-sortIcon field="email"></p-sortIcon>
                  </th>
                  <th pSortableColumn="record_status">Status
                    <p-sortIcon field="record_status"></p-sortIcon>
                  </th>
                  <th class="custom-header action-column-header">Actions</th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-player let-even="even">
                <tr [ngClass]="{'even-row': even}">
                  <td>
                    <div class="player-name-cell">
                      <span class="person-image-team-player">
                        <img class="player-img" *ngIf="!player.profile_img || !player.player_profile"
                          [src]="'assets/images/avatar.png'">

                        <img class="player-img" *ngIf="player.profile_img && player.player_profile"
                          [src]="player.profile_img">
                      </span>
                      <!-- <img src="assets/images/avatar.png" alt="Player" class="player-avatar"> -->
                      {{ player.display_name }}
                    </div>
                  </td>
                  <td>{{ player.player_dob }}</td>
                  <td>{{ player.mobile_no }}</td>
                  <td>{{ player.email }}</td>
                  <td>
                    <span [ngClass]="{
                        ' bg-success': player.record_status === 'Active',
                        ' bg-danger': player.record_status === 'InActive'
                      }">
                      {{ player.record_status }}
                    </span>
                  </td>


                  <td>

                    <span class="icon-blue" (click)="Editplayer(player)" pTooltip="Edit" tooltipPosition="top">
                      <i class="fa-solid fa-user-pen"></i>
                    </span>

                    <span class="icon-green"
                      (click)="StatusConfirm(player.player_id,cricketKeyConstant.condition_key.active_status)"
                      pTooltip="Activate" tooltipPosition="top">
                      <i class="fa-solid fa-circle-check"></i>
                    </span>

                    <span class="icon-red"
                      (click)="StatusConfirm(player.player_id,cricketKeyConstant.condition_key.deactive_status)"
                      pTooltip="Deactivate" tooltipPosition="top">
                      <i class="fa-solid fa-trash-can-arrow-up"></i>
                    </span>

                  </td>

                </tr>

              </ng-template>
            </p-table>




            <p-sidebar [(visible)]="ShowForm" position="right" styleClass="full-width-sidebar" class="sidebar-player"
              [modal]="true" [baseZIndex]="10000" [closeOnEscape]="false" appendTo="body" [showCloseIcon]="false">

              <div class="d-flex justify-content-between align-items-center mb-4">
                <h4 class="mb-0">{{ isEditMode ? 'Edit Player' : 'Add Country' }}</h4>
              </div>

              <div (click)="$event.stopPropagation()">
                <form [formGroup]="playerRegistrationform">
                  <div class="row gy-3">


                    <div class="col-md-3">
                      <label class="">First Name
                        <span class="text-danger">*</span>
                      </label>
                      <input class="form-control" maxlength="50" type="text" placeholder="Enter First Name"
                        formControlName="first_name">
                      <small
                        *ngIf="playerRegistrationform?.get('first_name')?.invalid &&(playerRegistrationform?.get('first_name')?.touched) || (playerRegistrationform.get('first_name')?.invalid && submitted)"
                        class="text-danger">* First name is Required
                      </small>
                    </div>

                    <div class="col-md-3  ">
                      <label class="">Middle Name
                        <span class="text-danger">*</span>
                      </label>
                      <input class="form-control" maxlength="50" type="text" placeholder="Enter Middle Name"
                        formControlName="middle_name">
                      <small
                        *ngIf="playerRegistrationform?.get('middle_name')?.invalid &&(playerRegistrationform?.get('middle_name')?.touched) || (playerRegistrationform.get('middle_name')?.invalid && submitted)"
                        class="text-danger">* Middle name is Required
                      </small>
                    </div>

                    <div class="col-md-3">
                      <label class="">Sure Name
                        <span class="text-danger">*</span>
                      </label>
                      <input class="form-control" maxlength="50" type="text" placeholder="Enter Sure Name "
                        formControlName="sur_name">
                      <small
                        *ngIf="playerRegistrationform.get('sur_name')?.invalid &&(playerRegistrationform.get('sur_name')?.touched) || (playerRegistrationform.get('sur_name')?.invalid && submitted)"
                        class="text-danger">*Sure name is Required
                      </small>
                    </div>


                    <div class="col-md-3">
                      <label class="">Display Name
                        <span class="text-danger">*</span>
                      </label>
                      <input class="form-control" maxlength="50" type="text" placeholder="Enter Display Name "
                        formControlName="display_name">
                      <small
                        *ngIf="playerRegistrationform.get('display_name')?.invalid &&(playerRegistrationform.get('display_name')?.touched) || (playerRegistrationform.get('display_name')?.invalid && submitted)"
                        class="text-danger">*Display name is Required
                      </small>
                    </div>




                    <div class="col-md-3">

                      <label>Nationality</label>
                      <span class="text-danger">*</span>

                      <p-dropdown [options]="NationalitydropdownData " class="drop-error "
                        formControlName="nationality_id" optionValue="region_id" optionLabel="region_name"
                        placeholder="Select Nationality Country" appendTo="body"
                        [panelStyleClass]="'custom-dropdown-panel'">
                        <ng-template let-gender pTemplate="item">
                          <div class="flex align-items-center gap-2">
                            <div>{{ gender.region_name }}
                            </div>
                          </div>
                        </ng-template>
                      </p-dropdown>
                    </div>





                    <div class="col-md-3">
                      <label class="">Player DOB
                        <span class="text-danger">*</span>
                      </label>
                      <input class="form-control" maxlength="50" type="date" placeholder="Enter DOB"
                        formControlName="player_dob">
                      <small
                        *ngIf="playerRegistrationform.get('player_dob')?.invalid &&  (playerRegistrationform.get('player_dob')?.touched) ||(playerRegistrationform.get('player_dob')?.invalid && submitted)"
                        class="text-danger">*DOB is Required
                      </small>
                    </div>




                    <div class="col-md-3">
                      <label class="">Phone NO
                        <span class="text-danger">*</span>
                      </label>
                      <input class="form-control" maxlength="10" type="tel" placeholder="Enter Phone No"
                        formControlName="mobile_no">
                      <small
                        *ngIf="playerRegistrationform.get('mobile_no')?.invalid &&(playerRegistrationform.get('mobile_no')?.touched) || (playerRegistrationform.get('mobile_no')?.invalid && submitted)"
                        class="text-danger">*Phone No is Required
                      </small>
                    </div>

                    <div class="col-md-3">
                      <label class="">email id
                        <span class="text-danger">*</span>
                      </label>
                      <input class="form-control" maxlength="50" type="mail" placeholder="Enter mailid"
                        formControlName="email">
                      <small
                        *ngIf="playerRegistrationform.get('email')?.invalid &&(playerRegistrationform.get('email')?.touched) || (playerRegistrationform.get('email')?.invalid && submitted)"
                        class="text-danger">*email id is Required
                      </small>
                    </div>




                    <div class="col-md-3">
                      <label>Gender</label>
                      <span class="text-danger">*</span>

                      <p-dropdown [options]="genderSelect" class="drop-error " formControlName="gender_id"
                        optionValue="config_id" optionLabel="config_name" placeholder="Select Gender" appendTo="body"
                        [panelStyleClass]="'custom-dropdown-panel'">
                        <ng-template let-gender pTemplate="item">
                          <div class="flex align-items-center gap-2">
                            <div>{{ gender.config_name }}
                            </div>
                          </div>
                        </ng-template>
                      </p-dropdown>
                    </div>

                    <div class="col-md-3">
                      <label>Player Role </label>
                      <span class="text-danger">*</span>

                      <p-dropdown [options]="playerrole" class="drop-error " formControlName="player_role_id"
                        optionValue="config_id" optionLabel="config_name" placeholder="Select Player Role"
                        appendTo="body" [panelStyleClass]="'custom-dropdown-panel'">
                        <ng-template let-gender pTemplate="item">
                          <div class="flex align-items-center gap-2">
                            <div>{{ gender.config_name }}
                            </div>
                          </div>
                        </ng-template>
                      </p-dropdown>
                    </div>

                    <div class="col-md-3">
                      <label>Batting Style </label>
                      <span class="text-danger">*</span>

                      <p-dropdown [options]="battingstyle" class="drop-error " formControlName="batting_style_id"
                        optionValue="config_id" optionLabel="config_name" placeholder="Select Batting Style"
                        appendTo="body" [panelStyleClass]="'custom-dropdown-panel'">
                        <ng-template let-gender pTemplate="item">
                          <div class="flex align-items-center gap-2">
                            <div>{{ gender.config_name }}
                            </div>
                          </div>
                        </ng-template>
                      </p-dropdown>
                    </div>


                    <div class="col-md-3">
                      <label>Batting Order </label>
                      <span class="text-danger">*</span>

                      <p-dropdown [options]="battingorder" class="drop-error " formControlName="batting_order_id"
                        optionValue="config_id" optionLabel="config_name" placeholder="Select Batting Order"
                        appendTo="body" [panelStyleClass]="'custom-dropdown-panel'">
                        <ng-template let-gender pTemplate="item">
                          <div class="flex align-items-center gap-2">
                            <div>{{ gender.config_name }}
                            </div>
                          </div>
                        </ng-template>
                      </p-dropdown>
                    </div>

                    <div class="col-md-3">
                      <label>Bowling Style </label>
                      <span class="text-danger">*</span>

                      <p-dropdown [options]="bowlingstyle" class="drop-error " formControlName="bowling_style_id"
                        optionValue="config_id" optionLabel="config_name" placeholder="Select Bowling Style"
                        appendTo="body" [panelStyleClass]="'custom-dropdown-panel'">
                        <ng-template let-gender pTemplate="item">
                          <div class="flex align-items-center gap-2">
                            <div>{{ gender.config_name }}
                            </div>
                          </div>
                        </ng-template>
                      </p-dropdown>
                    </div>

                    <div class="col-md-3">
                      <label>Bowling Type </label>
                      <span class="text-danger">*</span>

                      <p-dropdown [options]="bowlingtype" class="drop-error " formControlName="bowling_type_id"
                        optionValue="config_id" optionLabel="config_name" placeholder="Select Bowling Type"
                        appendTo="body" [panelStyleClass]="'custom-dropdown-panel'">
                        <ng-template let-gender pTemplate="item">
                          <div class="flex align-items-center gap-2">
                            <div>{{ gender.config_name }}
                            </div>
                          </div>
                        </ng-template>
                      </p-dropdown>
                    </div>

                    <div class="col-md-3">
                      <label>Bowling Spec </label>
                      <span class="text-danger">*</span>

                      <p-dropdown [options]="bowlingspec" class="drop-error " formControlName="bowling_spec_id"
                        optionValue="config_id" optionLabel="config_name" placeholder="Select Bowling Spec"
                        appendTo="body" [panelStyleClass]="'custom-dropdown-panel'">
                        <ng-template let-gender pTemplate="item">
                          <div class="flex align-items-center gap-2">
                            <div>{{ gender.config_name }}
                            </div>
                          </div>
                        </ng-template>
                      </p-dropdown>
                    </div>




                    <div class="col-md-3">
                      <label class="">remarks
                        <span class="text-danger">*</span>
                      </label>
                      <input class="form-control" maxlength="50" type="text" placeholder="Enter remarks"
                        formControlName="email">
                      <small
                        *ngIf="playerRegistrationform.get('remarks')?.invalid &&(playerRegistrationform.get('remarks')?.touched) || (playerRegistrationform.get('remarks')?.invalid && submitted)"
                        class="text-danger">*remarks id is Required
                      </small>
                    </div>

                    <div class="col-md-3">
                      <label class="">Jersey No
                        <span class="text-danger">*</span>
                      </label>
                      <input class="form-control" maxlength="50" type="number" placeholder="Enter Jersey No"
                        formControlName="jersey_no">
                      <small
                        *ngIf="playerRegistrationform.get('jersey_no')?.invalid &&(playerRegistrationform.get('jersey_no')?.touched) || (playerRegistrationform.get('jersey_no')?.invalid && submitted)"
                        class="text-danger">*Jersey No id is Required
                      </small>
                    </div>

                    <div class="col-md-3">
                      <label class="">Profile Image
                        <span class="text-danger">*</span>
                      </label>
                      <input class="form-control" maxlength="50" type="file" placeholder="Enter Jersey No"
                        formControlName="profile_image">
                      <small
                        *ngIf="playerRegistrationform.get('profile_image')?.invalid &&(playerRegistrationform.get('profile_image')?.touched) || (playerRegistrationform.get('profile_image')?.invalid && submitted)"
                        class="text-danger">*Profile Image is Required
                      </small>
                    </div>


                    <div class="col-md-3">
                      <label class="">Team Represent
                        <span class="text-danger">*</span>
                      </label>
                      <input class="form-control" maxlength="50" type="type" placeholder="Enter Team Represent"
                        formControlName="team_represent">
                      <small
                        *ngIf="playerRegistrationform.get('team_represent')?.invalid &&(playerRegistrationform.get('team_represent')?.touched) || (playerRegistrationform.get('team_represent')?.invalid && submitted)"
                        class="text-danger">*Team Represent is Required
                      </small>
                    </div>








                  </div>

                  <div class="row mt-4">
                    <div class="col-12 text-end">
                      <button pButton type="button" label="Cancel" class="p-button-secondary me-3"
                        (click)="cancelForm()"></button>

                      <button pButton type="button" label="Clear" class="p-button-secondary me-3"
                        *ngIf="playerRegistrationform.get('player_id')?.value == '' || playerRegistrationform.get('player_id')?.value == null"
                        (click)="resetForm()"></button>

                      <button pButton type="button" label="Save" class="save-button"
                        (click)="duplicateChange()"></button>


                    </div>

                  </div>
                </form>
                <p-dialog header="Duplicate Check" [modal]="true" [(visible)]="visible" [position]="position"
                  [style]="{ width: '50rem' }">
                  <div style="padding: 1rem 2rem;">
                    <div style="font-weight: bold; font-size: 1.25rem; margin-bottom: 1rem;">
                      Duplicate Check
                    </div>

                    <p-table [value]="duplicatePlayers" [tableStyle]="{ 'min-width': '100%' }" scrollable="true"
                      [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 30]"
                      [globalFilterFields]="['display_name']">
                      <ng-template pTemplate="header">
                        <tr style="background-color: #f0f0f0;">
                          <th pSortableColumn="display_name">Player Name <p-sortIcon field="display_name"></p-sortIcon>
                          </th>
                          <th pSortableColumn="gender">Gender <p-sortIcon field="gender"></p-sortIcon></th>
                          <th pSortableColumn="player_role_id">Player Role <p-sortIcon
                              field="player_role_id"></p-sortIcon></th>
                          <th pSortableColumn="batting_style">Batting Style <p-sortIcon
                              field="batting_style"></p-sortIcon></th>
                          <th pSortableColumn="bowling_style">Bowling Style <p-sortIcon
                              field="bowling_style"></p-sortIcon></th>
                          <th pSortableColumn="bowling_type">Bowling Type <p-sortIcon field="bowling_type"></p-sortIcon>
                          </th>
                          <th pSortableColumn="bowling_specialization">Bowling Specialization <p-sortIcon
                              field="bowling_specialization"></p-sortIcon></th>
                          <th pSortableColumn="batting_order">Batting Order <p-sortIcon
                              field="batting_order"></p-sortIcon></th>
                        </tr>
                      </ng-template>

                      <ng-template pTemplate="body" let-player let-even="even">
                        <tr [style.background-color]="even ? '#f9f9f9' : '#ffffff'">
                          <td>{{ player.display_name }}</td>
                          <td>{{ player.gender }}</td>
                          <td>{{ player.player_role_id }}</td>
                          <td>{{ player.batting_style }}</td>
                          <td>{{ player.bowling_style }}</td>
                          <td>{{ player.bowling_type }}</td>
                          <td>{{ player.bowling_specialization }}</td>
                          <td>{{ player.batting_order }}</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>

                  <!-- Buttons in dialog footer -->
                  <ng-template pTemplate="footer">
                    <div style="display: flex; justify-content: flex-start; gap: 1rem;margin-left:225px ;">
                      <button pButton type="button" label="Add" icon="pi pi-check" (click)="addplayerdata()"></button>
                      <button pButton type="button" label="Cancel" icon="pi pi-times" (click)="hideDialog()"></button>
                    </div>
                  </ng-template>
                </p-dialog>


              </div>
            </p-sidebar>

          </div>
        </div>
      </main>
    </div>
  </div>


</div>