
:root {
    --white-color: #fff;
    --blue-color: #4070f4;
    --grey-color: #707070;
    --grey-color-light: #aaa;
}

body {
    background-color: #e7f2fd;
    transition: all 0.5s ease;
}

body.dark {
    background-color: #333;
}

body.dark {
    --white-color: #333;
    --blue-color: #fff;
    --grey-color: #f2f2f2;
    --grey-color-light: #aaa;
}

/* navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: #3f51b5;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    z-index: 100;
    box-shadow: 0 0 2px var(--grey-color-light);

}

.logo_item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 22px;
    font-weight: 500;
    color: var(--blue-color);
}

.client_logo img {
    display: flex;
    width: 140px;
    border-radius: 0px !important;
    object-fit: contain;
    background-color: #fff;
}

.navbar img {
    /* width: 35px; */
    height: 35px;
    object-fit: contain;
    border-radius: 50%;
}

.search_bar {
    height: 47px;
    max-width: 430px;
    width: 100%;
}

.search_bar input {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    font-size: 18px;
    outline: none;
    background-color: var(--white-color);
    color: var(--grey-color);
    border: 1px solid var(--grey-color-light);
    padding: 0 20px;
}

.navbar_content {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.navbar_content i {
    cursor: pointer;
    font-size: 20px;
    color: var(--grey-color);
}

/* sidebar */
.sidebar {
    background-color: var(--Grey, #545454);
    ;
    width: 210px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 45px 0px 80px 0px;
    z-index: 10000;
    overflow-y: scroll;
    box-shadow: 0 0 1px var(--grey-color-light);
    transition: all 0.5s ease;
}

/* .sidebar {
background-color: var(--white-color);
width: 260px;
position: fixed;
top: 0;
left: 0;
height: 100%;
padding: 45px 20px;
z-index: 100;
overflow-y: scroll;
box-shadow: 0 0 1px var(--grey-color-light);
transition: all 0.5s ease;
} */
.sidebar.close {
    padding: 35px 0;
    width: 80px;
    left: -30px;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.menu_content {
    position: relative;
    height: 100%;
}

.menu_title {
    margin: 10px 0;
    padding: 0px 20px;
    font-size: 15px;
    color: white
}

.sidebar.close .menu_title {
    padding: 6px 30px;
}

.menu_title::before {
    color: var(--grey-color);
    white-space: nowrap;
    content: unset;
}

.sidebar.close .menu_title::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 18px;
    border-radius: 12px;
    background: var(--grey-color-light);
}

.menu_items {
    padding: 0;
    list-style: none;
}

.navlink_icon {
    position: relative;
    font-size: 22px;
    min-width: 50px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 6px;
    font-size: 13px;
}

.navlink_icon::before {
    content: "";
    position: absolute;
    height: 100%;
    width: calc(100% + 100px);
    left: -20px;
}

.navlink_icon:hover {
    background: var(--Grey, #545454);
}

.sidebar .nav_link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4px 15px;
    /* border-radius: 8px; */
    text-decoration: none;
    color: var(--grey-color);
    white-space: pre-line;
    font-size: 13px;

}

.sidebar.close .navlink {
    display: none;
}

.nav_link:hover {
    color: var(--white-color);
    background: var(--Grey, #545454);
}

.sidebar.close .nav_link:hover {
    background: var(--white-color);
}

.submenu_item {
    cursor: pointer;
}

.submenu {
    display: none;
}

.submenu_item .fa-caret-right {
    position: absolute;
    right: 10px;
    display: inline-block;
    margin-right: auto;
}

.sidebar.close .submenu {
    display: none;
}

.show_submenu~.submenu {
    display: block;

}

.show_submenu .fa-caret-right {
    transform: rotate(90deg);
}

.submenu .sublink {
    padding: 5px 15px 5px 45px;

}

.bottom_content {
    position: fixed;
    bottom: 60px;
    left: 0;
    width: 210px;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.bottom {
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
    justify-content: space-around;
    padding: 18px 0;
    text-align: center;
    width: 100%;
    color: var(--grey-color);
    border-top: 1px solid var(--grey-color-light);
    background-color: var(--white-color);
}

.bottom i {
    font-size: 13px;
}

.bottom span {
    font-size: 15px;
}

.sidebar.close .bottom_content {
    width: 35px;
    left: 5px;
}

.sidebar.close .bottom span {
    display: none;
}

.sidebar.hoverable .collapse_sidebar {
    display: none;
}

#sidebarOpen {
    display: none;
}

.collapse_sidebar,
.expand_sidebar {
    cursor: pointer;

}

@media screen and (max-width: 768px) {
    #sidebarOpen {
        font-size: 25px;
        display: block;
        margin-right: 10px;
        cursor: pointer;
        color: var(--grey-color);
    }

    .sidebar.close {
        left: -100%;
    }

    .search_bar {
        display: none;
    }

    .sidebar.close .bottom_content {
        left: -100%;
    }
}

.sub-name {
    padding-left: 10px;
}

.navbar_content i {
    color: #fff;
}

.active-route {
    color: rgba(121, 0, 0, 1) !important;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4px 15px;
    /* border-radius: 8px; */
    text-decoration: none;
    white-space: nowrap;
    font-size: 15px;
    background: #fff
}

.active-route:hover {
    color: var(--white-color) !important;

    background: var(--Grey, #545454);

}

.profile {
    cursor: pointer;
}

.item {
    border: 2px solid var(--Grey, #545454);
    background: white;

}

:root {
    font-family: "Titillium Web", sans-serif;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    font-variation-settings: normal;
    --font-family: "Titillium Web", sans-serif;
    --font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    --surface-a: #ffffff;
    --surface-b: #f8f9fa;
    --surface-c: #e9ecef;
    --surface-d: #dee2e6;
    --surface-e: #ffffff;
    --surface-f: #ffffff;
    --text-color: #495057;
    --text-color-secondary: #6c757d;
    --primary-color: #3B82F6;
    --primary-color-text: #ffffff;
    --surface-0: #ffffff;
    --surface-50: #FAFAFA;
    --surface-100: #F5F5F5;
    --surface-200: #EEEEEE;
    --surface-300: #E0E0E0;
    --surface-400: #BDBDBD;
    --surface-500: #9E9E9E;
    --surface-600: #757575;
    --surface-700: #616161;
    --surface-800: #424242;
    --surface-900: #212121;
    --gray-50: #FAFAFA;
    --gray-100: #F5F5F5;
    --gray-200: #EEEEEE;
    --gray-300: #E0E0E0;
    --gray-400: #BDBDBD;
    --gray-500: #9E9E9E;
    --gray-600: #757575;
    --gray-700: #616161;
    --gray-800: #424242;
    --gray-900: #212121;
    --content-padding: 1.25rem;
    --inline-spacing: 0.5rem;
    --border-radius: 6px;
    --surface-ground: #eff3f8;
    --surface-section: #ffffff;
    --surface-card: #ffffff;
    --surface-overlay: #ffffff;
    --surface-border: #dfe7ef;
    --surface-hover: #f6f9fc;
    --focus-ring: 0 0 0 0.2rem #BFDBFE;
    --maskbg: rgba(0, 0, 0, 0.4);
    --highlight-bg: #EFF6FF;
    --highlight-text-color: #1D4ED8;
    color-scheme: light;
}

.layout-light {
    --sidebar-shadow: 0px 4px 50px #D9DDFC;
    --sidebar-border: 1px solid transparent;
    --card-shadow: 0px 4px 30px rgba(221, 224, 255, .54);
}

.layout-container {
    min-height: 100vh
}

.layout-sidebar {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 200;
}

.layout-sidebar-active {
    background: var(--menu-bg);
    border-right: var(--sidebar-border);
    box-shadow: var(--sidebar-shadow);
}

.layout-sidebar-active .layout-sidebar,
.layout-sidebar-active.layout-sidebar {
    background: #42434d61;
}

.layout-sidebar .sidebar-header {
    padding: 2.5rem 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center
}

.layout-sidebar .sidebar-header .app-logo .app-logo-normal {
    display: inline;
    width: 124px;
    height: 22px
}

.layout-sidebar .sidebar-header .app-logo .app-logo-small {
    display: none
}

.layout-sidebar .layout-menu-container {
    overflow: auto;
    flex: 1;
    padding-bottom: 2rem
}

.layout-sidebar .layout-menu {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.layout-sidebar .layout-menu .layout-root-menuitem>.layout-menuitem-root-text {
    font-size: .857rem;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(220, 50, 50);
}

.layout-sidebar .layout-menu .layout-root-menuitem>a {
    display: none
}

.layout-sidebar .layout-menu a {
    -webkit-user-select: none;
    user-select: none
}

.layout-sidebar .layout-menu a.active-menuitem>.layout-submenu-toggler {
    transform: rotate(-180deg)
}

.layout-sidebar .layout-menu li.active-menuitem>a .layout-submenu-toggler {
    transform: rotate(-180deg)
}

.layout-sidebar .layout-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.layout-sidebar .layout-menu ul a {
    display: flex;
    align-items: center;
    position: relative;
    outline: 0 none;
    color: #fff;
    cursor: pointer;
    padding: .75rem 2rem;
    transition: background-color var(--transition-duration), box-shadow var(--transition-duration)
}

.layout-sidebar .layout-menu ul a .layout-menuitem-icon {
    margin-right: .5rem;
    /* color: var(--menuitem-icon-color) */
}

.layout-sidebar .layout-menu ul a .layout-submenu-toggler {
    font-size: 75%;
    margin-left: auto;
    transition: transform var(--transition-duration)
}

.client-sidebar-logo {
    width: 130px;
    height: 30px;
    background-color: #fff;
    margin: 10px;
}

.sibar-client-logo {
    opacity: 0;
    display: none;
}

.sibar-client-logo-active {
    opacity: 1 !important;
    display: block;
}

#showMe {
    /* opacity: 0;
    white-space: nowrap; */
    transition: all .3s
}

#burger {
    transition-delay: .3s
}


.burger-menu {
    margin: 10px;
    position: relative;
    right: 0px;
    flex: auto;
    display: flex;
}


.layout-sidebar .layout-menu ul a.active-route {
    font-weight: 700
}

.layout-sidebar .layout-menu ul a:hover {
    background: #42434d61;
}

.layout-sidebar .layout-menu ul ul {
    overflow: hidden;
    border-radius: var(--border-radius)
}

.layout-sidebar .layout-menu ul ul li a {
    padding-left: 2.5rem
}

.layout-sidebar .layout-menu ul ul li li a {
    padding-left: 3rem
}

.layout-sidebar .layout-menu ul ul li li li a {
    padding-left: 3.5rem
}

.layout-sidebar .layout-menu ul ul li li li li a {
    padding-left: 4rem
}

.layout-sidebar .layout-menu ul ul li li li li li a {
    padding-left: 5.5rem
}

.layout-sidebar .layout-menu ul ul li li li li li li a {
    padding-left: 5rem
}

@media screen and (min-width: 992px) {

    .layout-container.layout-slim .layout-topbar .topbar-menubutton,
    .layout-container.layout-slim .sidebar-header .app-logo .app-logo-normal {
        display: none
    }

    .layout-container.layout-slim .sidebar-header .app-logo .app-logo-small {
        display: inline
    }

    .layout-container.layout-slim .layout-sidebar {
        width: 5rem;
        overflow: visible;
        z-index: 999
    }

    .layout-container.layout-slim .layout-sidebar .layout-menu-container {
        overflow: auto
    }

    .layout-container.layout-slim .layout-sidebar .layout-menu-container::-webkit-scrollbar {
        display: none
    }

    .layout-container.layout-slim .layout-content-wrapper {
        margin-left: 5rem
    }
    .layout-container.layout-slim .layout-menu .layout-root-menuitem>a {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        outline: none;
        transition: background-color var(--transition-duration);
        width: 3rem;
        height: 3rem;
        margin: 0 auto 1rem
    }

    .layout-container.layout-slim .layout-menu .layout-root-menuitem>a .layout-submenu-toggler {
        display: none
    }

    .layout-container.layout-slim .layout-menu .layout-root-menuitem>a .layout-menuitem-icon {
        font-size: 1.5rem;
        color: var(--menuitem-icon-color)
    }

    .layout-container.layout-slim .layout-menu .layout-root-menuitem>a .layout-menuitem-text {
        display: none
    }

    .layout-container.layout-slim .layout-menu .layout-root-menuitem>a:hover {
        background: #42434d61;
    }

    .layout-container.layout-slim .layout-menu .layout-root-menuitem>ul {
        position: absolute;
        left: 5rem;
        top: 0;
        min-width: 15rem;
        background-color: var(--surface-overlay);
        border-radius: var(--border-radius);
        box-shadow: var(--sidebar-shadow);
        border: var(--sidebar-border);
        padding: 1rem;
        max-height: 20rem;
        overflow: auto;
        z-index: 999
    }

    .layout-container.layout-slim .layout-menu .layout-root-menuitem>ul a {
        padding-right: .5rem;
        color: var(--popup-submenu-item-text-color);
        border-radius: var(--border-radius)
    }

    .layout-container.layout-slim .layout-menu .layout-root-menuitem>ul a .layout-menuitem-icon {
        color: var(--popup-submenu-item-icon-color)
    }

    .layout-container.layout-slim .layout-menu .layout-root-menuitem>ul a:hover {
        background: #42434d61;
    }

    .layout-container.layout-slim .layout-menu .layout-root-menuitem>ul li a {
        padding-left: .5rem
    }

    .layout-container.layout-slim .layout-menu .layout-root-menuitem>ul li li a {
        padding-left: 1rem
    }

    .layout-container.layout-slim .layout-menu .layout-root-menuitem>ul li li li a {
        padding-left: 1.5rem
    }

    .layout-container.layout-slim .layout-menu .layout-root-menuitem>ul li li li li a {
        padding-left: 2rem
    }

    .layout-container.layout-slim .layout-menu .layout-root-menuitem>ul li li li li li a {
        padding-left: 2.5rem
    }

    .layout-container.layout-slim .layout-menu .layout-root-menuitem>ul li li li li li li a {
        padding-left: 3rem
    }
}

@media screen and (min-width: 992px) {
    .layout-container.layout-slim-plus .layout-topbar .topbar-menubutton {
        display: none
    }

    .layout-container.layout-slim-plus .sidebar-header {
        justify-content: center
    }

    .layout-container.layout-slim-plus .sidebar-header .app-logo .app-logo-normal {
        display: none
    }

    .layout-container.layout-slim-plus .sidebar-header .app-logo .app-logo-small {
        display: inline;
        align-items: center
    }

    .layout-container.layout-slim-plus .layout-sidebar {
        width: 7rem;
        overflow: visible;
        z-index: 999
    }

    .layout-container.layout-slim-plus .layout-sidebar .layout-menu-container {
        overflow: auto
    }

    .layout-container.layout-slim-plus .layout-sidebar .layout-menu-container::-webkit-scrollbar {
        display: none
    }

    .layout-container.layout-slim-plus .layout-content-wrapper {
        margin-left: 7rem
    }

    .layout-container.layout-slim-plus .layout-menu ul {
        display: none
    }

    .layout-container.layout-slim-plus .layout-menu li.active-menuitem>ul {
        display: block
    }

    .layout-container .layout-menu li.active-menuitem>ul {
        height: auto !important;
    }

    .layout-container.layout-slim-plus .layout-menu .layout-root-menuitem>.layout-menuitem-root-text {
        display: none
    }

    .layout-container.layout-slim-plus .layout-menu .layout-root-menuitem>a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: var(--border-radius);
        text-align: center;
        cursor: pointer;
        outline: none;
        transition: background-color var(--transition-duration);
        width: auto;
        height: auto;
        margin: 0 auto 1rem;
        padding: .75rem 0
    }

    .layout-container.layout-slim-plus .layout-menu .layout-root-menuitem>a .layout-submenu-toggler {
        display: none
    }

    .layout-container.layout-slim-plus .layout-menu .layout-root-menuitem>a .layout-menuitem-icon {
        font-size: 1.5rem;
        color: var(--menuitem-icon-color)
    }

    .layout-container.layout-slim-plus .layout-menu .layout-root-menuitem>a .layout-menuitem-text {
        font-size: .875rem;
        display: block;
        margin-top: .25rem;
        color: var(--menuitem-text-color)
    }

    .layout-container.layout-slim-plus .layout-menu .layout-root-menuitem>a:hover {
        background: #42434d61;
    }

    .layout-container.layout-slim-plus .layout-menu .layout-root-menuitem>ul {
        position: absolute;
        left: 7rem;
        top: 0;
        min-width: 15rem;
        background-color: var(--surface-overlay);
        border-radius: var(--border-radius);
        box-shadow: var(--sidebar-shadow);
        border: var(--sidebar-border);
        padding: 1rem;
        max-height: 20rem;
        overflow: auto;
        z-index: 999
    }

    .layout-container.layout-slim-plus .layout-menu .layout-root-menuitem>ul a {
        padding-right: .5rem;
        color: var(--popup-submenu-item-text-color);
        border-radius: var(--border-radius)
    }

    .layout-container.layout-slim-plus .layout-menu .layout-root-menuitem>ul a .layout-menuitem-icon {
        color: var(--popup-submenu-item-icon-color)
    }

    .layout-container.layout-slim-plus .layout-menu .layout-root-menuitem>ul a:hover {
        background: #42434d61;
    }

    .layout-container.layout-slim-plus .layout-menu .layout-root-menuitem>ul li a {
        padding-left: .5rem
    }

    .layout-container.layout-slim-plus .layout-menu .layout-root-menuitem>ul li li a {
        padding-left: 1rem
    }

    .layout-container.layout-slim-plus .layout-menu .layout-root-menuitem>ul li li li a {
        padding-left: 1.5rem
    }

    .layout-container.layout-slim-plus .layout-menu .layout-root-menuitem>ul li li li li a {
        padding-left: 2rem
    }

    .layout-container.layout-slim-plus .layout-menu .layout-root-menuitem>ul li li li li li a {
        padding-left: 2.5rem
    }

    .layout-container.layout-slim-plus .layout-menu .layout-root-menuitem>ul li li li li li li a {
        padding-left: 3rem
    }
}

@media screen and (min-width: 992px) {

    .layout-container.layout-horizontal .layout-topbar .topbar-menubutton,
    .layout-container.layout-horizontal .sidebar-header .app-logo .app-logo-normal {
        display: none
    }

    .layout-container.layout-horizontal .sidebar-header .app-logo .app-logo-small {
        display: inline
    }

    .layout-container.layout-horizontal .layout-sidebar {
        width: auto;
        height: auto;
        top: 0;
        z-index: 999;
        overflow: visible;
        flex-direction: row;
        position: static
    }

    .layout-container.layout-horizontal .layout-sidebar .layout-menu-container {
        overflow: auto;
        padding-bottom: 0
    }

    .layout-container.layout-horizontal .layout-sidebar .layout-menu-container::-webkit-scrollbar {
        display: none
    }

    .layout-container.layout-horizontal .layout-sidebar .sidebar-header {
        padding: 0 2rem
    }

    .layout-container.layout-horizontal .layout-menu {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        height: 100%
    }

    .layout-container.layout-horizontal .layout-menu ul {
        display: none
    }

    .layout-container.layout-horizontal .layout-menu .layout-root-menuitem {
        border-radius: var(--border-radius)
    }

    .layout-container.layout-horizontal .layout-menu .layout-root-menuitem>.layout-menuitem-root-text {
        display: none
    }

    .layout-container.layout-horizontal .layout-menu .layout-root-menuitem>a {
        display: flex;
        align-items: center;
        padding: .75rem;
        border-radius: 0;
        cursor: pointer;
        outline: none;
        color: var(--menuitem-text-color);
        transition: background-color var(--transition-duration)
    }

    .layout-container.layout-horizontal .layout-menu .layout-root-menuitem>a .layout-submenu-toggler {
        display: block;
        margin-left: auto;
        transition: transform .2s
    }

    .layout-container.layout-horizontal .layout-menu .layout-root-menuitem>a .layout-menuitem-icon {
        font-size: 1.25rem;
        color: var(--menuitem-icon-color)
    }

    .layout-container.layout-horizontal .layout-menu .layout-root-menuitem>a .layout-menuitem-text {
        font-size: .875rem;
        display: block;
        margin-left: .75rem;
        margin-right: .75rem;
        white-space: nowrap
    }

    .layout-container.layout-horizontal .layout-menu .layout-root-menuitem>a:hover {
        background: #42434d61;
    }

    .layout-container.layout-horizontal .layout-menu .layout-root-menuitem>ul {
        position: absolute;
        left: auto;
        top: 3rem;
        min-width: 15rem;
        background-color: var(--surface-overlay);
        box-shadow: var(--sidebar-shadow);
        padding: 1rem;
        border-radius: var(--border-radius);
        max-height: 20rem;
        overflow: auto;
        z-index: 999
    }

    .layout-container.layout-horizontal .layout-menu .layout-root-menuitem>ul a {
        padding-right: .5rem;
        color: var(--popup-submenu-item-text-color);
        border-radius: var(--border-radius)
    }

    .layout-container.layout-horizontal .layout-menu .layout-root-menuitem>ul a .layout-menuitem-icon {
        color: var(--popup-submenu-item-icon-color)
    }

    .layout-container.layout-horizontal .layout-menu .layout-root-menuitem>ul a:hover {
        background: #42434d61;
    }

    .layout-container.layout-horizontal .layout-menu .layout-root-menuitem>ul li a {
        padding-left: .5rem
    }

    .layout-container.layout-horizontal .layout-menu .layout-root-menuitem>ul li li a {
        padding-left: 1rem
    }

    .layout-container.layout-horizontal .layout-menu .layout-root-menuitem>ul li li li a {
        padding-left: 1.5rem
    }

    .layout-container.layout-horizontal .layout-menu .layout-root-menuitem>ul li li li li a {
        padding-left: 2rem
    }

    .layout-container.layout-horizontal .layout-menu .layout-root-menuitem>ul li li li li li a {
        padding-left: 2.5rem
    }

    .layout-container.layout-horizontal .layout-menu .layout-root-menuitem>ul li li li li li li a {
        padding-left: 3rem
    }
}


@media screen and (min-width: 992px) {
    .layout-container.layout-reveal .layout-topbar .topbar-menubutton {
        display: none
    }

    .layout-container.layout-reveal .layout-sidebar {
        height: 100%;
        top: 0;
        transition: transform .3s cubic-bezier(0, 0, .2, 1);
        transform: translate(-14.75rem);
        z-index: 999
    }

    .layout-container.layout-reveal .layout-sidebar .sidebar-header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        padding: 1.5rem 1rem
    }

    .layout-container.layout-reveal .layout-sidebar .sidebar-header .app-logo .app-logo-small {
        display: inline;
        order: 1
    }

    .layout-container.layout-reveal .layout-sidebar .sidebar-header .app-logo .app-logo-normal {
        display: none
    }

    .layout-container.layout-reveal .layout-sidebar .sidebar-header .layout-sidebar-anchor {
        display: none;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        border: 2px solid var(--logo-color);
        background-color: transparent;
        transition: background-color var(--transition-duration), transform .3s
    }

    .layout-container.layout-reveal .layout-sidebar .layout-menu-container {
        overflow: hidden
    }

    .layout-container.layout-reveal .layout-sidebar .layout-menu .layout-root-menuitem>.layout-menuitem-root-text>span {
        margin-right: auto
    }

    .layout-container.layout-reveal .layout-sidebar .layout-menu .layout-root-menuitem>.layout-menuitem-root-text>.layout-menuitem-root-icon {
        display: block;
        margin-right: 0rem
    }

    .layout-container.layout-reveal .layout-sidebar .layout-menu ul {
        margin: 0;
        padding: 0;
        list-style-type: none
    }

    .layout-container.layout-reveal .layout-sidebar .layout-menu ul a {
        padding: .75rem 1rem
    }

    .layout-container.layout-reveal .layout-sidebar .layout-menu ul a .layout-menuitem-text {
        order: 1;
        margin-right: auto
    }

    .layout-container.layout-reveal .layout-sidebar .layout-menu ul a .layout-submenu-toggler {
        order: 2;
        display: none;
        margin-right: .5rem
    }

    .layout-container.layout-reveal .layout-sidebar .layout-menu ul a .layout-menuitem-icon {
        order: 3;
        margin-right: 0;
        font-size: 1.25rem;
        width: auto
    }

    .layout-container.layout-reveal.layout-reveal .layout-content-wrapper {
        margin-left: 4.25rem;
        transition: margin-left .3s cubic-bezier(0, 0, .2, 1)
    }

    .layout-container.layout-reveal.layout-sidebar-active .layout-sidebar {
        transform: translate(0)
    }

    .layout-container.layout-reveal.layout-sidebar-active .layout-sidebar .layout-menu-container {
        overflow: auto
    }

    .layout-container.layout-reveal.layout-sidebar-active .layout-sidebar .sidebar-header {
        padding: 1.5rem 2rem;
        justify-content: space-between
    }

    .layout-container.layout-reveal.layout-sidebar-active .layout-sidebar .sidebar-header .app-logo .app-logo-normal {
        display: inline
    }

    .layout-container.layout-reveal.layout-sidebar-active .layout-sidebar .sidebar-header .app-logo .app-logo-small {
        display: none
    }

    .layout-container.layout-reveal.layout-sidebar-active .layout-sidebar .sidebar-header .layout-sidebar-anchor {
        display: block;
        animation: px-fadein .15s linear
    }

    .layout-container.layout-reveal.layout-sidebar-active .layout-sidebar .layout-menu .layout-root-menuitem>.layout-menuitem-root-text>.layout-menuitem-root-icon {
        display: none
    }

    .layout-container.layout-reveal.layout-sidebar-active .layout-sidebar .layout-menu ul a {
        padding: .75rem 2rem
    }

    .layout-container.layout-reveal.layout-sidebar-active .layout-sidebar .layout-menu ul a .layout-submenu-toggler {
        display: block
    }

    .layout-container.layout-reveal.layout-sidebar-active .layout-sidebar .layout-menu ul ul {
        overflow: hidden;
        border-radius: var(--border-radius)
    }

    .layout-container.layout-reveal.layout-sidebar-active .layout-sidebar .layout-menu ul ul li a {
        padding-left: 2.5rem
    }

    .layout-container.layout-reveal.layout-sidebar-active .layout-sidebar .layout-menu ul ul li li a {
        padding-left: 3rem
    }

    .layout-container.layout-reveal.layout-sidebar-active .layout-sidebar .layout-menu ul ul li li li a {
        padding-left: 3.5rem
    }

    .layout-container.layout-reveal.layout-sidebar-active .layout-sidebar .layout-menu ul ul li li li li a {
        padding-left: 4rem
    }

    .layout-container.layout-reveal.layout-sidebar-active .layout-sidebar .layout-menu ul ul li li li li li a {
        padding-left: 5.5rem
    }

    .layout-container.layout-reveal.layout-sidebar-active .layout-sidebar .layout-menu ul ul li li li li li li a {
        padding-left: 5rem
    }

    .layout-container.layout-reveal.layout-sidebar-anchored .sidebar-header .layout-sidebar-anchor {
        background-color: var(--logo-color)
    }

    .layout-container.layout-reveal.layout-sidebar-anchored .layout-content-wrapper {
        margin-left: 15rem
    }
}

.inactive {
    display: none !important;
}

@media screen and (min-width: 992px) {
    .layout-container.layout-drawer .layout-topbar .topbar-menubutton {
        display: none
    }

    .layout-container.layout-drawer .layout-sidebar {
        height: 100%;
        top: 0;
        transition: width .3s cubic-bezier(0, 0, .2, 1);
        width: 55px;
        z-index: 1000;
        background: #11121E;

    }

    .layout-container.layout-drawer .layout-sidebar .sidebar-header {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 1.5rem 0rem
    }

    .layout-container.layout-drawer .layout-sidebar .sidebar-header .app-logo .app-logo-small {
        display: inline;
        order: 1
    }

    .layout-container.layout-drawer .layout-sidebar .sidebar-header .app-logo .app-logo-normal {
        display: none;
        width: 0;
        transition: width .3s cubic-bezier(0, 0, .2, 1);
        transition-delay: .3s
    }

    .layout-container.layout-drawer .layout-sidebar .sidebar-header .layout-sidebar-anchor {
        display: none;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        border: 2px solid var(--logo-color);
        background-color: transparent;
        transition: background-color var(--transition-duration), transform .3s
    }

    .layout-container.layout-drawer .layout-sidebar .layout-menu-container {
        overflow: hidden
    }

    .layout-container.layout-drawer .layout-sidebar .layout-menu {
        transition: all .4s
    }

    .layout-container.layout-drawer .layout-sidebar .layout-menu .layout-root-menuitem>.layout-menuitem-root-text {
        opacity: 0;
        white-space: nowrap;
        transition: all .1s
    }

    .layout-container.layout-drawer .layout-sidebar .layout-menu .layout-root-menuitem>.layout-menuitem-root-text>span {
        margin-right: auto
    }

    .layout-container.layout-drawer .layout-sidebar .layout-menu .layout-root-menuitem>.layout-menuitem-root-text .layout-menuitem-icon {
        font-size: 1.25rem;
        width: 1.25rem
    }

    .layout-container.layout-drawer .layout-sidebar .layout-menu .layout-root-menuitem>.layout-menuitem-root-text>.layout-menuitem-root-icon {
        display: block;
        margin-right: .125rem;
        font-size: 1.25rem
    }

    .layout-container.layout-drawer .layout-sidebar .layout-menu ul {
        margin: 0;
        padding: 0;
        list-style-type: none
    }

    .layout-container.layout-drawer .layout-sidebar .layout-menu ul a {
        padding: .75rem 1rem;
        width: 55px;
    }

    .layout-container.layout-drawer .layout-sidebar .layout-menu ul a span {
        opacity: 0;
        white-space: nowrap;
        transition: all .1s
    }

    .layout-container.layout-drawer .layout-sidebar .layout-menu ul a .layout-menuitem-icon {
        font-size: 1.25rem;
        width: 1.25rem
    }

    .layout-content-wrapper {
        margin-left: 5.25rem;
        transition: margin-left .3s cubic-bezier(0, 0, .2, 1);
        overflow-x: hidden
    }

    .layout-container.layout-drawer.layout-sidebar-active .layout-sidebar {
        width: 15rem
    }

    .layout-container.layout-drawer.layout-sidebar-active .layout-sidebar .layout-menu-container {
        overflow: auto
    }

    .layout-container.layout-drawer.layout-sidebar-active .layout-sidebar .sidebar-header {
        padding: 1.5rem 2rem;
        justify-content: space-between
    }

    .layout-container.layout-drawer.layout-sidebar-active .layout-sidebar .sidebar-header .app-logo .app-logo-normal {
        display: inline;
        width: 100%;
        transition: width .3s cubic-bezier(0, 0, .2, 1);
        transition-delay: .3s
    }

    .layout-container.layout-drawer.layout-sidebar-active .layout-sidebar .sidebar-header .app-logo .app-logo-small {
        display: none
    }

    .layout-container.layout-drawer.layout-sidebar-active .layout-sidebar .sidebar-header .layout-sidebar-anchor {
        display: block;
        animation: px-fadein .15s linear
    }

    .layout-container.layout-drawer.layout-sidebar-active .layout-sidebar .layout-menu .layout-root-menuitem>.layout-menuitem-root-text {
        padding: 1rem 1.25rem 1rem 2rem;
        opacity: 1;
        white-space: nowrap;
        transition: all .3s
    }

    .layout-container.layout-drawer.layout-sidebar-active .layout-sidebar .layout-menu .layout-root-menuitem>.layout-menuitem-root-text>.layout-menuitem-root-icon {
        display: none
    }

    .layout-menuitem-root-text {
        display: block !important;
    }

    .layout-container.layout-drawer.layout-sidebar-active .layout-sidebar .layout-menu ul a {
        padding: .75rem 1.25rem .75rem 2rem;
        width: auto
    }

    .layout-container.layout-drawer.layout-sidebar-active .layout-sidebar .layout-menu ul a .layout-submenu-toggler {
        display: block
    }

    .layout-container.layout-drawer.layout-sidebar-active .layout-sidebar .layout-menu ul a span {
        opacity: 1;
        white-space: nowrap;
        transition: all .3s;
        padding-left: 5px;
    }

    .layout-container.layout-drawer.layout-sidebar-active .layout-sidebar .layout-menu ul ul {
        overflow: hidden;
        border-radius: var(--border-radius);
        background: #22232F;
    }

    .layout-container.layout-drawer.layout-sidebar-active .layout-sidebar .layout-menu ul ul li a {
        padding-left: 2.5rem
    }

    .layout-container.layout-drawer.layout-sidebar-active .layout-sidebar .layout-menu ul ul li li a {
        padding-left: 3rem
    }

    .layout-container.layout-drawer.layout-sidebar-active .layout-sidebar .layout-menu ul ul li li li a {
        padding-left: 3.5rem
    }

    .layout-container.layout-drawer.layout-sidebar-active .layout-sidebar .layout-menu ul ul li li li li a {
        padding-left: 4rem
    }

    .layout-container.layout-drawer.layout-sidebar-active .layout-sidebar .layout-menu ul ul li li li li li a {
        padding-left: 5.5rem
    }

    .layout-container.layout-drawer.layout-sidebar-active .layout-sidebar .layout-menu ul ul li li li li li li a {
        padding-left: 5rem
    }

    .layout-container.layout-drawer.layout-sidebar-anchored .sidebar-header .layout-sidebar-anchor {
        background-color: var(--logo-color)
    }

    .layout-container.layout-drawer.layout-sidebar-anchored .layout-content-wrapper {
        margin-left: 15rem
    }
}



.layout-colorscheme-menu {
    --logo-color: var(--primary-color);
    --menu-bg: var(--surface-overlay);
    --root-menuitem-text-color: var(--primary-color);
    --menuitem-text-color: var(--text-color);
    --menuitem-icon-color: var(--primary-color);
    --menuitem-hover-bg-color: var(--surface-hover);
    --popup-submenu-item-text-color: var(--text-color);
    --popup-submenu-item-icon-color: var(--primary-color);
    --popup-submenu-item-hover-bg-color: var(--surface-hover)
}

.layout-primarycolor-menu {
    --logo-color: var(--primary-color-text);
    --menu-bg: linear-gradient(to left top, var(--primary-400), var(--primary-500), var(--primary-600));
    --root-menuitem-text-color: var(--primary-color-text);
    --menuitem-text-color: var(--primary-color-text);
    --menuitem-icon-color: var(--primary-color-text);
    --menuitem-hover-bg-color: rgba(255, 255, 255, .1);
    --popup-submenu-item-text-color: var(--text-color);
    --popup-submenu-item-icon-color: var(--primary-color);
    --popup-submenu-item-hover-bg-color: var(--surface-hover)
}

.layout-dark.layout-primarycolor-menu,
.layout-dim.layout-primarycolor-menu {
    --menu-bg: linear-gradient(to left top, var(--primary-300), var(--primary-400), var(--primary-500))
}

.layout-transparent-menu {
    --logo-color: var(--primary-color);
    --menu-bg: var(--surface-overlay);
    --root-menuitem-text-color: var(--primary-color);
    --menuitem-text-color: var(--text-color);
    --menuitem-icon-color: var(--primary-color);
    --menuitem-hover-bg-color: var(--surface-hover);
    --popup-submenu-item-text-color: var(--text-color);
    --popup-submenu-item-icon-color: var(--primary-color);
    --popup-submenu-item-hover-bg-color: var(--surface-hover)
}

@media screen and (min-width: 992px) {

    .layout-container.layout-transparent-menu.layout-static .layout-sidebar,
    .layout-container.layout-transparent-menu.layout-slim .layout-sidebar,
    .layout-container.layout-transparent-menu.layout-slim-plus .layout-sidebar,
    .layout-container.layout-transparent-menu.layout-horizontal .layout-sidebar {
        background-color: transparent;
        border-right: 1px solid transparent;
        box-shadow: none
    }
}

@media screen and (min-width: 992px) {
    .layout-container.layout-static .layout-sidebar {
        transition: transform var(--transition-duration)
    }

    .layout-container.layout-static .layout-content-wrapper {
        margin-left: 15rem;
        transition: margin-left var(--transition-duration)
    }

    .layout-container.layout-static-inactive .layout-sidebar {
        transform: translate(-100%)
    }

    .layout-container.layout-static-inactive .layout-content-wrapper,
    .layout-container.layout-overlay .layout-content-wrapper {
        margin-left: 0
    }

    .layout-container.layout-overlay .layout-sidebar {
        z-index: 999;
        transform: translate(-100%);
        transition: transform var(--transition-duration)
    }

    .layout-container.layout-overlay.layout-overlay-active .layout-sidebar {
        transform: translate(0)
    }

    .layout-container .content-breadcrumb {
        display: none
    }
}

@media screen and (max-width: 991px) {
    .blocked-scroll {
        overflow: hidden
    }

    .layout-container .layout-content-wrapper {
        margin-left: 0;
        padding: 1rem
    }

    .layout-container .layout-sidebar {
        z-index: 999;
        transform: translate(-100%);
        transition: transform var(--transition-duration);
        box-shadow: none
    }

    .layout-container.layout-mobile-active .layout-sidebar {
        transform: translate(0)
    }

    .layout-container.layout-mobile-active .layout-mask {
        display: block;
        animation: fadein var(--transition-duration)
    }

    .layout-container .layout-mask {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 998;
        width: 100%;
        height: 100%;
        background-color: var(--maskbg)
    }

    .layout-container .topbar-breadcrumb {
        display: none
    }

    .layout-container .content-breadcrumb {
        display: block
    }
}

@media screen and (min-width: 1960px) {

    .layout-content,
    .landing-wrapper,
    .layout-topbar {
        width: 1504px;
        margin-left: auto !important;
        margin-right: auto !important
    }
}

.layout-topbar {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.layout-topbar .topbar-start {
    display: flex;
    align-items: center
}

.layout-topbar .topbar-start .topbar-menubutton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    transition: background-color var(--transition-duration)
}

.layout-topbar .topbar-start .topbar-menubutton i {
    font-size: 1.25rem;
    color: var(--text-color);
    transition: color var(--transition-duration)
}

.layout-topbar .topbar-start .topbar-menubutton:hover {
    background-color: var(--primary-color)
}

.layout-topbar .topbar-start .topbar-menubutton:hover i {
    color: var(--primary-color-text)
}

.layout-topbar .topbar-menu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none
}

.layout-topbar .topbar-menu li.topbar-profile {
    margin-left: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center
}

.layout-topbar .topbar-menu li.topbar-profile img {
    width: 2rem;
    height: 2rem
}

.layout-topbar .topbar-menu li.topbar-profile button {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    transition: box-shadow var(--transition-duration)
}

.layout-topbar .topbar-menu li.topbar-profile button:focus {
    box-shadow: var(--focus-ring)
}

.layout-topbar .topbar-menu li.topbar-search .p-inputtext {
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 2rem
}

.layout-breadcrumb ol {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1rem;
    flex-wrap: wrap;
    color: var(--text-color-secondary)
}

.layout-breadcrumb ol li {
    font-weight: 600
}

.content-breadcrumb {
    margin-bottom: 2rem;
    padding: 0 .5rem
}

.layout-profile-sidebar.p-sidebar {
    width: 25rem
}

.layout-profile-sidebar.p-sidebar .p-sidebar-content {
    padding-left: 2rem;
    padding-right: 2rem
}

.layout-config-button {
    display: block;
    position: fixed;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    background: var(--primary-color);
    color: var(--primary-color-text);
    text-align: center;
    top: 50%;
    right: 0;
    margin-top: -1.5rem;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: background-color var(--transition-duration);
    overflow: hidden;
    cursor: pointer;
    z-index: 999;
    box-shadow: -.25rem 0 1rem #00000026
}

.layout-config-button i {
    font-size: 2rem;
    line-height: inherit;
    transform: rotate(0);
    transition: transform 1s
}

.layout-config-button:hover {
    background: var(--primary-400)
}

.layout-config-sidebar.p-sidebar .p-sidebar-content {
    padding-left: 2rem;
    padding-right: 2rem
}

.layout-content-wrapper {
    padding: 2rem
}

.sidebar-width {
    width: 1px !important;
}

.active-menuitem .bor {
    border-left: 5px solid red
}

.timmer-clock {
    position: relative;
    width: 35px;
    display: inline-flex;
    height: 35px;
    font-size: larger;
    text-align: center;
    justify-content: center;
    background: #fff;
    border: 2px rgb(197, 197, 197) solid;
    border-radius: 50%;
    padding-top: 3px;
    font-weight: 600;
    color: black;
    /* box-shadow: inset 0.2em 1.2em 1.2em #f3f4f4f1, inset -0.2em -1.2em 2.2em #6e020294; */
}

.districts-header {
    display: flex;

    border-bottom: 2px solid #DDE3E9;
    height: 50px;
    align-items: center;
}

.districts-header-title {
    flex: 8;
    position: relative;
    left: 10px;
    font-family: Titillium Web;
    font-size: 16px;
    font-weight: 600;
    line-height: 24.34px;
    text-align: left;

}

.gender-diff-block {
    flex: 2;
    display: flex;

}

.m-block {
    display: flex;

    width: Hug (32px)px;
    height: Hug (12px)px;
    opacity: 0px;
    gap: 4px;
    margin-right: 4px;
}

.m-color {
    width: 22px;
    height: 10px;
    gap: 0px;
    position: relative;
    top: 6px;
    border-radius: 5px;
    opacity: 0px;
    background: #1045B0;

}

.w-block {
    display: flex;

    width: Hug (43px)px;
    height: Hug (12px)px;
    gap: 4px;
    opacity: 0px;
    margin-right: 4px;

}

.w-color {
    width: 22px;
    height: 10px;
    gap: 0px;
    position: relative;
    top: 6px;
    border-radius: 5px;
    opacity: 0px;
    background: #BA7BF9;
}

.districts-body-content {
    margin: 20px 5px 3px;
    height: 70px;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #DDE3E9;
}

.disticts-img {
    flex: auto;
    display: flex;
    flex-direction: column;
    width: 60px;
    object-fit: contain;
    gap: 2px;
    justify-content: center;
    align-items: center;
    padding-bottom:20px;
}
/* .disticts-img>*{
justify-content: space-between;
} */

.disticts-process-bar {
    /* margin: 1px 3px 0px; */
    flex: 10;
    display: flex;
    flex-direction: column;
    height: 50px;
    gap: 2px;

}


.d-association,
.d-total-player {
    font-weight: 600;
    color: #000000;
}

.d-player-label {
    color: #A5A5A5;
}

.ratio-players-men,
.ratio-players-women {
    height: 10px;
    gap: 0px;
    border-radius: 4px;
    opacity: 1;
    transition: background 0.3s ease, opacity 0.3s ease;
}

/* Normal colors */
.ratio-players-men {
    background: #1045B0;
}

.ratio-players-women {
    background: #BA7BF9;
}

/* Disabled style */
.disabled {
    background: #ccc;
    /* Greyed-out color */
    opacity: 0.5;
    /* Transparent to show it's disabled */
    pointer-events: none;
    /* Disable interactivity */
}

.d-p-ratio {
    width: 100%;
    /* Full width of the container */
    display: flex;
    /* Align men and women bars horizontally */
    gap: 2px;
    /* Small gap between the bars */
}

.disticts-player-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 3px 0px;
    flex: 10
}

.d-p-ratio {
    display: flex;
    flex: auto;
}

.d-p-block {
    flex: auto;
    display: flex;
    flex-direction: column;
    width: 60px;
    gap: 2px;
    justify-content: center;
    align-items: center;
}

.tournaments-card-header {
    display: flex;
    height: 40px;
    padding: 5px 10px;
    border-bottom: 2px solid #DDE3E9;
    align-items: center;
    justify-content: center;
}

.tour-title {
    display: flex;
    position: absolute;
    left: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: -3;
    align-items: center;
    justify-content: center;

}

.header-tabs {
    display: flex;
    position: absolute;
    left: 150px;
}

.header-tabs>div {
    margin: 0px 10px 0px;
}

.tour-headers-active {
    border-radius: 5px;
    color: #fff;
    padding: 2px 10px 2px 10px;
    gap: 10px;
    border-radius: 5px;
    background: #790000;
    opacity: 0px;
cursor: pointer;
}
.tab-tour-headers{
    cursor: pointer;

}
.tournaments-content {
    display: flex;
    gap: 0; /* Remove unnecessary gap between the bar and details */
    align-items: center; /* Align items vertically in the center */
    height: auto;
}

.tournaments-bar {
    width: 7px;
    height: 100%; /* Make the height match the parent element */
    background: #FFB1B1;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    flex-shrink: 0; /* Prevent the bar from shrinking */
}


.tournament-details-content {
    flex-grow: 1; /* Take up the remaining space after the bar */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: 8px; /* Add space between the bar and content */
}

.tournament-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tournamen-team-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:1px solid rgba(184, 182, 182, 0.838);
    object-fit: cover;
}

.tournament-team {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tournament-team-name {
    font-size: 12px;
    font-weight: 400;
}

.tournament-match-details {
    margin-top: 3px;
    font-size: 14px;
    font-weight: 500;
}
.tournament-match-details-completed{
    display: flex;
    gap:2px;
    align-items: center;
flex-direction: row;
justify-content: space-between;
}
.comp-details-bar{

   
    font-size: 10px;
    color: #868585;
    
}
.tournaments-comp-details-bar{
    width: 7px;
    height: 100%; /* Make the height match the parent element */
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    flex-shrink: 0; /* Prevent the bar from shrinking */
}
.card-tour-comp{
    height:500px;
    overflow-y: auto;
}
.disticts-tour-comp{
    max-height: 550px ;
    overflow-y: auto;
}
.cities-tour-comp{
    height: 500px ;
    overflow-y: auto;
}
google-map {
    height: 100%;
    width: 100%;
  }

  .cities-card{
    margin:-10px;
    cursor: pointer;
  }
  .tour-comp-name{
    font-weight: 500;
  }
  .tounament-vs{
    font-weight: 500;
  }
  .disabled-link  {
    pointer-events: none;  /* Disable clicking */
    opacity: 0.5;          /* Make it look disabled */
    cursor: not-allowed;
}
