<!-- Fixed Sidebar Template -->
<div class="overlay" [class.show]="showSubmenuPopup && isMobile" (click)="closeSubmenuPopup()"></div>

<nav class="modern-sidebar" [class.visible]="sidebarVisible || showSidebarByDefault">
  <!-- Menu Items -->
  <ul class="menu-items">
    <li class="menu-item" *ngIf="!modules || modules.length === 0">
      <a class="menu-link">
        <span class="menu-icon">
          <i class="fas fa-home"></i>
        </span>
        <span class="menu-text">Test Menu</span>
      </a>
    </li>
    
    <ng-container *ngFor="let module of modules">
      <ng-container *ngFor="let parent_menu of module?.sub_parent">
        <li class="menu-item">
          <a *ngIf="parent_menu['has_submenu'] && parent_menu?.sub_menu && parent_menu.sub_menu.length > 0" 
             class="menu-link"
             [class.active]="activeRoute == parent_menu.menu_link"
             (click)="showSubmenuInPopup(parent_menu, $event)">
            <span class="menu-icon">
              <i [class]="parent_menu.menu_image || 'fas fa-folder'"></i>
            </span>
            <span class="menu-text">{{parent_menu.menu_name}}</span>
          </a>

          <a *ngIf="!parent_menu['has_submenu'] || !parent_menu?.sub_menu || parent_menu.sub_menu.length === 0" 
             [routerLink]="parent_menu.menu_link"
             class="menu-link"
             [class.active]="activeRoute == parent_menu.menu_link"
             (click)="activeRoute = parent_menu.menu_link; setImage(parent_menu.menu_image)">
            <span class="menu-icon">
              <i [class]="parent_menu.menu_image || 'fas fa-file'"></i>
            </span>
            <span class="menu-text">{{parent_menu.menu_name}}</span>
          </a>
        </li>
      </ng-container>
    </ng-container>
  </ul>

  <!-- Theme Toggle at Bottom -->
  <div class="sidebar-footer">
    <button class="theme-toggle-sidebar" (click)="toggleTheme()">
      <span class="menu-icon">
        <i class="fas" [ngClass]="isDarkMode ? 'fa-sun' : 'fa-moon'"></i>
      </span>
      <span class="menu-text">{{isDarkMode ? 'Light' : 'Dark'}}</span>
    </button>
  </div>
</nav>

<!-- Submenu Popup -->
<div class="submenu-popup" [class.show]="showSubmenuPopup" [style.top.px]="popupPosition.top" [style.left.px]="popupPosition.left">
  <div class="submenu-popup-header" *ngIf="selectedParentMenu">
    <h4>{{selectedParentMenu.menu_name}}</h4>
  </div>
  <div class="submenu-grid">
    <a class="submenu-app-item" 
       [routerLink]="sub_menu.menu_link"
       (click)="navigateToSubmenu(sub_menu)"
       *ngFor="let sub_menu of selectedParentMenu?.sub_menu">
      <div class="submenu-app-icon">
        <i [class]="sub_menu.menu_image || 'fas fa-circle'"></i>
      </div>
      <div class="submenu-app-name">{{sub_menu.menu_name}}</div>
    </a>
  </div>
</div>